{% extends 'base-admin.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div
			class="row">
			<!-- Primera card de usuarios -->
			<div class="col-xxl-7 col-ed-2 col-xl-4 col-md-6 box-col-7">
				<div class="card shadow" style="height: 399px;">
					<div class="card-header card-no-border">
						<div class="header-top">

							<h5>Tipos de Mentorias</h5>
							<form method="post" action="{{ path('search_date_range') }}">
								<div class=" input-group ">
									<input type="text" class="form-control" id="dateRangeFilter" placeholder="Rango de fechas" name="date_range" value=""/>
									<button class="btn btn-primary" type="submit">
										<i class="icon-search"></i>
									</button>
								</div>

							</form>
						</div>
					</div>
					<div class="card-body apex-chart pt-0">
						<div id="piechart"></div>
					</div>
				</div>
			</div>
			<!-- Segunda card de usuarios -->


			<div class="col-md-6 col-ed-2 col-xl-5 box-col-7">
				<div class="card shadow" style="height: 399px;">
					<div class="card-header card-no-border" style="padding-bottom: 50px;">
						<div class="header-top">
							<h5 class="m-0 text-center">Mentores</h5>
							<div class="card-header-right-icon">

								<div class="input-group" style="padding-left: 60px;">
									<input type="text" class="form-control" id="searchInput" placeholder="Buscar...">
									<button class="btn btn-primary" id="searchButton">
										<i class="icon-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body " style="padding-top: 5px; padding-right: 20px">
						<div class="user-list-table-container appointment-table customer-table table-responsive">
							<table class="user-list-table table text-center align-content-center  ">
								<thead class="thead-light">
									<tr>
										<th class="d-none d-md-table-cell avatar-img">
											<a href="{{ filterService.orderBy("logo", filterService.getInversedOrder("logo")) }}">
												Logo
												{% if filterService.isOrdered("logo") %}
													<i data-feather="{{ filterService.getOrder("logo").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
										<th>
											<a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
												Nombre
												{% if filterService.isOrdered("name") %}
													<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
										<th>
											<a href="">
												Info
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users|slice(0, 10) %}
										<tr>
											<td class="d-none d-md-table-cell">
												<div class="media">
													<div class="align-self-center mr-1">
														<img data-bs-toggle="tooltip" data-html="true" data-placement="bottom" title='{{ user.name }}' class="avatar-img imgProfile" alt="{{ user.name }}" style="object-fit: contain;" src="{% if user.imgProfile != null %}{{ documentImage.DocumentImage(user.imgProfile) }}{% else %}{{ asset('assets/images/dashboard/profile.png') }}{% endif %}">
													</div>
												</div>
											</td>
											<td>{{ user.name ?: '-' }}</td>
											<td>
												<div class="d-inline-flex gap-2 text-nowrap">
													{% if userPermission.can('show', 'users') %}
														<a href="{{ path('user_show', {'user': user}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mostrar">
															<i class="align-middle" data-feather='eye'></i>
															<span class="ms-1 align-middle"></span>
														</a>
													{% endif %}
												</div>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">{{ 'No results found'|trans }}</td>
										</tr>
									{% endfor %}
									<tr style="text-align: center;">
										<td colspan="4" style="padding-top: 10px; padding-bottom: 10px;">
											<a href="{{ path('user_index') }}" style="color: #0077cc; ">Ver más</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-5 col-ed-2">
				<div class="card d-flex shadow" style="height: 420px;">
					<div class="card-header card-no-border" style="padding-bottom: 50px;">
						<div class="header-top">
							<h5 class="m-0 text-center">Proyectos</h5>
							<div class="card-header-right-icon">
								{% if userPermission.can('list', 'centers') and centers is defined and centers|length >=2 %}
									<div class="form-group-feedback form-group-feedback-right col-md-12 mb-1">

										<select name="{{ filterService.filterField('center') }}" class="select2 form-control" id="center">
											<option value="0" selected>Seleccionar centro</option>
											{% for center in centers %}
												<option value="{{ center.id }}" {% if filterService.getFilterValue('center') == center.id %} selected {% endif %}>{{ center.name }}</option>

											{% endfor %}
										</select>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="card-body d-flex flex-column " style="padding-top: 5px; padding-right: 20px;">
						<div class="user-list-table-container appointment-table customer-table table-responsive h-100" style="height: 100%;">
							<table class="user-list-table table text-center align-content-center">
								<thead class="thead-light">
									<tr>
										<th class="d-none d-md-table-cell avatar-img">
											<a href="{{ filterService.orderBy("logo", filterService.getInversedOrder("logo")) }}">
												Logo
												{% if filterService.isOrdered("logo") %}
													<i data-feather="{{ filterService.getOrder("logo").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
										<th>
											<a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
												Nombre
												{% if filterService.isOrdered("name") %}
													<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
										<th>
											<a href="{{ filterService.orderBy("representative", filterService.getInversedOrder("representative")) }}">
												Representante
												{% if filterService.isOrdered("representative") %}
													<i data-feather="{{ filterService.getOrder("representative").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
										<th>
											<a href="{{ filterService.orderBy("status", filterService.getInversedOrder("status")) }}">
												Estado
												{% if filterService.isOrdered("status") %}
													<i data-feather="{{ filterService.getOrder("status").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>
												{% endif %}
											</a>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for client in clients|slice(0, 10) %}
										<tr>
											<td class="d-none d-md-table-cell">
												<div class="media">
													<div class="align-self-center mr-1">
														<img data-bs-toggle="tooltip" data-html="true" data-placement="bottom" title='{{ client.name }}' class="avatar-img imgProfile" alt="{{ client.name }}" style="object-fit: contain;"
															 src="{% if client.logo != null %}{{ documentImage.DocumentImage(client.logo) }}
                                     							{% else %}{{ asset('assets/images/no-image.png') }}{% endif %}" >
													</div>
												</div>
											</td>
											<td>
												{% if userPermission.can('show', 'clients') %}
													<a href="{{ path('client_show', {'client': client.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Show'|trans }}">
														{{ client.name ?: '-' }}
													</a>
												{% endif %}
											</td>
											<td>{{ client.representative ?: '-' }}</td>
											<td>
												{% if client.status %}
													<span class="badge text-capitalize badge-light-success badge-pill">
														Activo
													</span>
												{% else %}
													<span class="badge text-capitalize badge-light-secondary badge-pill">
														Inactivo
													</span>
												{% endif %}
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">{{ 'No results found'|trans }}</td>
										</tr>
									{% endfor %}
									<tr style="text-align: center;">
										<td colspan="4" style="padding-top: 10px; padding-bottom: 10px;">
											<a href="{{ path('client_index') }}" style="color: #0077cc;">Ver más</a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xxl-7 col-ed-7 col-xl-7 col-md-6 box-col-7">
				<div class="card shadow" style="height: 420px;">
					<div class="card-header card-no-border">
						<div class="header-top">
							<h5>Mentorias</h5>
							<form method="post" action="{{ path('search_date_year') }}" >
								<div class="input-group">
									<input type="text" class="form-control" id="singleDateFilter" placeholder="Selecciona una fecha" name="selected_date" value=""/>
									<button class="btn btn-primary" type="submit">
										<i class="icon-search"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="card-body pt-0">
						<div class="row m-0 overall-card">
							<div class="col-xl-8">
								<div class="chart-right">
									<div class="row">
										<div class="col-xl-12">
											<div class="card-body p-0">
												<div class="activity-wrap ">
													<div id="activity-chart"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


		</div>
		{% if users is defined and users is iterable %}
			<div id="user-data" data-users="{{ users|json_encode|raw }}"></div>
		{% endif %}
		<!-- Tercera card de usuarios (debajo de la card de "Mentores") -->
	</div>


{% endblock %}

{% block action_buttons %}{% endblock %}

{% block stylesheets %}

	<style>
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
			overflow-y: scroll;
		}

		.user-list-table-container {
			max-height: 180px;
			overflow-y: auto;
		}
	</style>


{% endblock %}
{% block javascripts %}
	<script src="{{asset('assets/js/chart/apex-chart/apex-chart.js')}}"></script>
	<script src="{{asset('assets/js/chart/apex-chart/stock-prices.js')}}"></script>
	<script>

	
		try {
var dataServices = {{ appointments|json_encode()|raw }};

// console.log(dataServices[0].appointment_count);

	var contArray = [];
	var labelArray = [];
	var colorArray = [];

	dataServices.forEach(function (service) {
		contArray.push(service.appointment_count);
		labelArray.push(service.service_name);
		colorArray.push(service.service_color);
	});


var options8 = {
chart: {
width: "140%",
type: 'pie'
},
labels: labelArray,
series: contArray,
responsive: [
{
breakpoint: 480,
options: {
chart: {
width: "140%"
},
legend: {
show: false
}
}
}
],
colors: colorArray
}

var chart8 = new ApexCharts(document.querySelector("#piechart"), options8);
chart8.render();
} catch (error) {
console.error("Error en el bloque de gráfico de pastel:", error);
document.querySelector("#piechart").innerHTML = "<p>No hay suficientes datos para mostrar la gráfica.</p>";

}

try {
	var dataServicesYear = {{ appointmentsYear|json_encode()|raw }};
var monthsArray = [];
var valuesArray = [];

dataServicesYear.forEach(function(item) {
    var monthYear = item.month_year;
    var appointmentCount = item.appointment_count;

        monthsArray.push(monthYear);
   

    valuesArray.push(appointmentCount);
});

// console.log(monthsArray);
// console.log(valuesArray);
//
// console.log(dataServicesYear);

if (monthsArray.length === 0) {
        // No hay suficientes datos, muestra un mensaje
        console.error("No hay suficientes datos para mostrar la gráfica.");
        document.querySelector("#activity-chart").innerHTML = "<p class='text-center mt-3'>No hay suficientes datos para mostrar la gráfica.</p>";
    } else {
var optionsactivity = {
series: [
{
name: "Mentorias",
data: valuesArray
},
],
chart: {
height: 300,
width: "150%",
type: "bar",
toolbar: {
show: false
},
dropShadow: {
enabled: true,
top: 10,
left: 0,
blur: 5,
color: "#3180f5",
opacity: 0.35
}
},
plotOptions: {
bar: {
borderRadius: 6,
columnWidth: "50%"
}
},
dataLabels: {
enabled: false
},
xaxis: {
categories: monthsArray,
labels: {
style: {
fontSize: "12px",
fontFamily: "Rubik, sans-serif",
colors: "var(--chart-text-color)"
}
},
axisBorder: {
show: false
},
axisTicks: {
show: false
},
tooltip: {
enabled: false
}
},
yaxis: {
axisBorder: {
show: false
},
axisTicks: {
show: false
},
labels: {
formatter: function (val) {
return val;
},
style: {
fontSize: "12px",
fontFamily: "Rubik, sans-serif",
colors: "var(--chart-text-color)"
}
}
},
grid: {
borderColor: "var(--chart-dashed-border)",
strokeDashArray: 5
},
colors: [
"#3180f5", "#3180f5"
],
fill: {
type: "gradient",
gradient: {
shade: "light",
type: "vertical",
gradientToColors: [
"#3180f5", "#3180f5"
],
opacityFrom: 0.98,
opacityTo: 0.85,
stops: [0, 200]
}
},
responsive: [
{
breakpoint: 1200,
options: {
chart: {
height: 200

}
}
},
]
};

	var chartactivity = new ApexCharts(document.querySelector("#activity-chart"), optionsactivity);
		chartactivity.render();
	}
	} catch (error) {
console.error("Error en el bloque de gráfico de actividad:", error);
document.querySelector("#activity-chart").innerHTML = "<p>No hay suficientes datos para mostrar la gráfica.</p>";

}


$(document).ready(function () {
$("#searchButton").on("click", function () {
var searchQuery = $("#searchInput").val();

if (searchQuery) {
var userShowURL = "{{ path('search_users', {'user': 'SEARCH_QUERY'}) }}";

} else {
searchQuery = null;
var userShowURL = "{{ path('search_users', {'user': 'SEARCH_QUERY'}) }}";

}

userShowURL = userShowURL.replace('SEARCH_QUERY', searchQuery);
window.location.href = userShowURL;

});

});


$(document).ready(function () {
$('#dateRangeFilter').daterangepicker({
timePicker: true,
timePickerIncrement: 30,
locale: {
format: 'DD-MM-YYYY HH:mm:ss'
}
});
});

$(document).ready(function () {
    $('#singleDateFilter').datepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: 'DD-MM-YYYY HH:mm:ss'
        }
    });
});



$(document).ready(function () {
$("#center").change(function () {
var selectedCenterId = $(this).val();
var redirectURL;


if (selectedCenterId != null) {
if (selectedCenterId != 0) {
redirectURL = "{{ path('search_center', {'center': 'CENTER_ID'}) }}";
} else {
selectedCenterId = null;
var userShowURL = redirectURL = "{{ path('search_center', {'center': 'CENTER_ID'}) }}";
}
} else {
selectedCenterId = null;
var userShowURL = redirectURL = "{{ path('search_center', {'center': 'CENTER_ID'}) }}";
} redirectURL = redirectURL.replace('CENTER_ID', selectedCenterId);
window.location.href = redirectURL;


});
});
	</script>

{% endblock %}

{% block sidebar %}
	{% include 'extra/filters/client_filter.html.twig' %}
{% endblock %}
