{#{% include 'pdf_templates/appointment/report/header.html.twig' %}#}
<style>
    .a-pdf {
        font-size: 25px !important;
    }

    .textarea {
        display: inline-block;
        vertical-align: middle;
        overflow: auto;
        resize: both;
        border: 1px solid black;
        padding: 2px;
        font: initial;
        line-height: normal;
        width: auto;
        min-height: 100px;
        margin: 0;
        background-color: whitesmoke;
        cursor: text;
        text-align: left;
        box-sizing: border-box;
        border-radius: 0;
    }

    .textarea pre {
        margin: 0;
    }


    a .btn-pdf {
        border-radius: 15px !important;
    }

    canvas{
        height: 350px !important;
    }
    .custom-table-pdf {
        width: 100%;
        border-collapse: collapse;
    }

    .custom-table-pdf td {
        padding: 10px;
    }

    .custom-table-pdf td:first-child {
        width: 30%;
        font-weight: bold;
        border: none;
    }

    .custom-font-pdf{
        font-size: x-small;
        font-weight: bold;
        font-style: italic;
    }

    .custom-table-pdf td {
        border: none;
    }

    .custom-table-pdf-2 {
        width: 100%;
        border-collapse: collapse;
    }

    .custom-table-pdf-2 td {
        border: 1px solid black;
    }

    .custom-table-pdf-2 tr {
        border: 1px solid black;
    }

    .custom-table-pdf-3 {
    {% if pdf is defined %}width: 80%;{% else %}width: 50%;{% endif %}

        border-collapse: collapse;
    }

    .custom-table-pdf-3 td {
        border: 1px solid black;
    }

    .custom-table-pdf-3 tr {
        border: 1px solid black;
    }

    .next-page {
        page-break-before: always;
    }

</style>

<div class="container-xxl p-2">
    <!-- Sign of client, patient -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center text-center">
            <img src="{{ asset('assets/images/footer_AOF.png') }}" alt="">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="row d-flex">
                <h4 class="text-center"><u>
                        {% if not appointment.service.forAdmin and not appointment.service.forClient %}ACTA DE MENTORIZACIÓN{% else %}ACTA-{{ appointment.service.name }}{% endif %}</u></h4>
                {% if pdf is not defined %}
                    {% if not appointment.service.forAdmin %}
                        <div class="row">
                        <div class="col-md-6">
                            <p>Mentor/a: {{ appointment.user.fullname }}</p>
                            {% if not appointment.service.forClient %} <p>Startup: {{ appointment.client.name }} {% if appointment.client.alumni %} (Alumni){% endif %}</p> {% endif %}
                        <p>Hub: {{ appointment.client.center.getFullName }}</p>
                        <p>Fecha: {{ date }}</p>
                        <p>Hora de inicio: {{ timeFrom }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Área de mentorización: {{ appointment.area.name }}</p>
                        {% if not appointment.service.forClient %} <p>CEO/Representante: {{ appointment.client.representative }}</p> {% endif %}
                        <p>Modalidad: {{ appointment.modality }}</p>
                        <p>Duración: {{ appointment.getServiceHours }}h</p>
                        <p>Hora de finalización: {{ timeTo }}</p>
                    </div>
                </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-6">
                                <p>Director/a: {{ director.fullname }}</p>
                                <p>Fecha: {{ date }}</p>
                                <p>Hora de inicio: {{ timeFrom }}</p>
                                <p>Modalidad: {{ appointment.modality }}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Hub: {{ appointment.user.center.getFullName }}</p>
                                <p>Duración: {{ appointment.getServiceHours }}h</p>
                                <p>Hora de finalización: {{ timeTo }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    {% if appointment.service.forAdmin %}
                    <table class="custom-table-pdf">
                        <tr>
                            <td><strong>Director/a:</strong> {{ director.fullname }}</td>
                            <td><strong>Hub:</strong> {{ appointment.user.center.getFullName }}</td>
                        </tr>
                        <tr>
                            <td><strong>Fecha:</strong> {{ date }}</td>
                            <td><strong>Duración:</strong> {{ appointment.getServiceHours }}h</td>
                        </tr>
                        <tr>
                            <td><strong>Hora de inicio:</strong> {{ timeFrom }}</td>
                            <td><strong>Hora de finalización:</strong> {{ timeTo }}</td>
                        </tr>
                        <tr>
                            <td><strong>Modalidad:</strong> {{ appointment.modality }}</td>
                        </tr>
                    </table>
                    {% elseif appointment.service.forClient %}
                        <table class="custom-table-pdf">
                            <tr>
                                <td><strong>Mentor/a:</strong> {{ appointment.user.fullname }}</td>
                                <td><strong>Área de mentorización:</strong> {{ appointment.area.name }}</td>
                            </tr>
                            <tr>
                                <td><strong>Hub:</strong> {{ appointment.client.center.getFullName }}</td>
                                <td><strong>Modalidad:</strong> {{ appointment.modality }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha:</strong> {{ date }}</td>
                                <td><strong>Duración:</strong> {{ appointment.getServiceHours }}h</td>
                            </tr>
                            <tr>
                                <td><strong>Hora de inicio:</strong> {{ timeFrom }}</td>
                                <td><strong>Hora de finalización:</strong> {{ timeTo }}</td>

                            </tr>
                        </table>
                    {% else %}
                        <table class="custom-table-pdf">
                            <tr>
                                <td><strong>Mentor/a:</strong> {{ appointment.user.fullname }}</td>
                                <td><strong>Hub:</strong> {{ appointment.client.center.getFullName }}</td>
                            </tr>
                            <tr>
                            <td><strong>Startup:</strong> {{ appointment.client.name }} {% if appointment.client.alumni %} (Alumni){% endif %}</td>
                                <td><strong>Fecha:</strong> {{ date }}</td>
                            </tr>
                            <tr>
                                <td><strong>Hora de inicio:</strong> {{ timeFrom }}</td>
                                <td><strong>Área de mentorización:</strong> {{ appointment.area.name }}</td>
                            </tr>
                            <tr>
                                 <td><strong>CEO/Representante:</strong> {{ appointment.client.representative }}</td>
                                <td><strong>Modalidad:</strong> {{ appointment.modality }}</td>
                            </tr>
                            <tr>
                                <td><strong>Duración:</strong> {{ appointment.getServiceHours }}h</td>
                                <td><strong>Hora de finalización:</strong> {{ timeTo }}</td>
                            </tr>
                        </table>
                    {% endif %}


                {% endif %}
                {% if appointment.service.forAdmin %}
                    {% if pdf is not defined %}
                    <div class="col-md-12 text-start mt-4">
                        <p class="text-start">Mentores asistentes</p>
                        {% for user in users %}
                            <div class="col-12">

                            <label for="">{{ user.fullname }}</label>
                            <input class="checkbox" type="checkbox" name="mentores[]" id="mentores" value="{{ user.fullname }}">
                            </ul>

                        {% endfor %}
                    </div>
                    {% else %}
                        <div class="col-md-12 text-center mt-4">
                            <p class="text-start">Mentores convocados</p>
                            <textarea name="mentores" id="mentores" class="form-control" rows="5">{% for user in users %}{{ user.fullname }}{% if not loop.last %},{% endif %}{% endfor %}</textarea>
                        </div>

                        <div class="col-md-12 text-center mt-4">
                            <p class="text-start">Mentores asistentes</p>
                            <textarea name="mentores" id="mentores" class="form-control" rows="5">{% if mentores is defined %} {{ mentores }}{% endif %}</textarea>
                        </div>
                    {% endif %}
                {% endif %}

                        {% if appointment.service.forClient %}
                        {% if pdf is not defined %}
                        <div class="col-md-12 text-start mt-4">
                            <p class="text-start">Startups asistentes</p>
                            {% for client in clients %}
                            <div class="col-12">

                                <label for="">{{ client.name }}</label>
                                <input class="checkbox" type="checkbox" name="startups[]" id="startups" value="{{ client.name }}">
                                </ul>

                                {% endfor %}
                            </div>
                            {% else %}
                                <div class="col-md-12 text-center mt-4">
                                    <p class="text-start">Startups convocados</p>
                                    <textarea name="startups" id="startups" class="form-control" rows="5">{% for client in clients %}{{ client.name }}{% if not loop.last %},{% endif %}{% endfor %}</textarea>
                                </div>

                                <div class="col-md-12 text-center mt-4">
                                    <p class="text-start">Startups asistentes</p>
                                    <textarea name="startups" id="startups" class="form-control" rows="5">{% if startupSelected is defined %} {{ startupSelected }}{% endif %}</textarea>
                                </div>
                            {% endif %}
                            {% endif %}


                        <div class="col-md-12 text-center mt-4">
                            <p class="text-start">{% if not appointment.service.forAdmin%}Temas tratados en la mentoría.{% else %}Temas tratados por los/las mentores/as:{% endif %}</p>
                            {% if topic is defined and topic is not empty %}
                                <div class="textarea"><pre>{{ topic }}</pre></div>
                            {% else %}
                                <textarea name="topic" id="topic" class="form-control" rows="5" maxlength="365" oninput="handleTextareaInput(this, 'charNumTopic', 5)"></textarea>
                            {% endif %}
                            {% if pdf is not defined %}<p class="text-start" id="charNumTopic">365 caracteres disponibles</p>{% endif %}
                        </div>
                        {% if not appointment.service.forClient %}
                        <div class="col-md-12 text-center mt-4">
                            <p class="text-start">Compromisos (tareas)</p>
                            {% if commitment is defined and commitment is not empty %}
                                <div class="textarea"><pre>{{ commitment }}</pre></div>
                            {% else %}
                                <textarea name="commitment" id="commitment" class="form-control" rows="5" maxlength="365" oninput="handleTextareaInput(this, 'charNumCommitment', 5)"></textarea>
                            {% endif %}
                            {% if pdf is not defined %}<p class="text-start" id="charNumCommitment">365 caracteres disponibles</p>{% endif %}
                        </div>
                        {% endif %}

                        {% if not appointment.service.forAdmin %}
                            <div class="col-md-12 text-center mt-4">
                                <p class="text-start">Observaciones del mentor/a:</p>
                                {% if comment is defined and comment is not empty %}
                                    <div class="textarea"><pre>{{ comment }}</pre></div>
                                {% else %}
                                    <textarea name="comment" id="comment" class="form-control" rows="5" maxlength="365" oninput="handleTextareaInput(this, 'charNumComment', 5)"></textarea>
                                {% endif %}
                                {% if pdf is not defined %}<p class="text-start" id="charNumComment">365 caracteres disponibles</p>{% endif %}
                            </div>

                        {% endif %}
                        {% if appointment.service.name == "Diagnóstico" %}
                        {% if pdf is defined %}
                            <br><br><br>
                            <div class="col-md-12 text-center mt-5 ">
                                <p>Financiado con Fondos FEDER 2021-2027 al 100%</p>
                            </div>
                        {% endif %}
                        <div class="next-page"></div>
                        {% if pdf is defined %}
                            <div class="col-12 d-flex justify-content-center text-center">
                            <img src="{{ asset('assets/images/footer_AOF.png') }}" alt="">
                            </div>
                        {% endif %}

                    <div class="col-md-12 text-center mt-3">
                        <h5><u>DATOS DIAGNÓSTICO STATUPS</u></h5>
                    </div>

                    <table class="custom-table-pdf-2">
                        <tr>
                            <td>Nombre de la Startup</td>
                            <td>{{ appointment.client.name ?? '' }}</td>
                            <td>CIF</td>
                            <td>{{ appointment.client.cif ?? '' }}</td>
                        </tr>
                        <tr>
                            <td>Sexo CEO </td>
                            <td>{{ appointment.client.gender ?? '' }}</td>
                            <td>Titulación CEO </td>
                            <td>{% if pdf is not defined %}<input type="text" name="ceo" id="ceo">{% else %}{{ ceo }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Nº de socios </td>
                            <td>{{ appointment.client.members ?? '' }}</td>
                            <td>Nº empleados </td>
                            <td>{% if pdf is not defined %}<input type="number" name="numberEmployee" id="numberEmployee">{% else %}{{ numberEmployee }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Nº Becarios </td>
                            <td>{% if pdf is not defined %}<input type="number" name="numberIntern" id="numberIntern">{% else %}{{ numberIntern }}{% endif %}</td>
                            <td>Inversión obtenida </td>
                            <td>{% if pdf is not defined %}<input type="number" name="investment" id="investment">{% else %}{{ investment }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Facturación últimos 12 meses </td>
                            <td>{% if pdf is not defined %}<input type="number" name="invoice" id="invoice">{% else %}{{ invoice }}{% endif %}</td>
                            <td>Pacto de socios(S/N) </td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="partner" id="partner">{% else %}{{ partner }}{% endif %}</td>
                        </tr>

                        <tr>
                            <td>MVP</td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="mvp" id="mvp">{% else %}{{ mvp }}{% endif %}</td>
                            <td>Sector</td>
                            <td>{{ appointment.client.speciality ?? '' }}</td>
                        </tr>
                    </table>
                    <div class="col-md-12 text-start mt-3">
                        Tipo de negocio:
                        <span>
                            {% if pdf is not defined %}<input type="checkbox" name="businessType[]" value="B2C">{% else %}{% for businessType in businessTypes %} {% if businessType =="B2C" %}✓{% endif%} {% endfor%}{% endif %}
                            <label for="checkbox1" style="padding-right: 10px;">B2C</label>
                        </span>
                        <span>
                            {% if pdf is not defined %}<input type="checkbox" name="businessType[]" value="B2B">{% else %}{% for businessType in businessTypes %} {% if businessType =="B2B" %}✓{% endif%} {% endfor%}{% endif %}
                            <label for="checkbox2" style="padding-right: 10px;">B2B</label>
                        </span>
                        <span>
                            {% if pdf is not defined %}<input type="checkbox" name="businessType[]" value="B2C&B2B">{% else %}{% for businessType in businessTypes %} {% if businessType =="B2C&B2B" %}✓{% endif%} {% endfor%}{% endif %}
                            <label for="checkbox2">B2C&B2B</label>
                        </span>
                    </div>
                    <div class="col-md-12 text-start mt-4">
                        Lanzamiento comercial(S/N):
                        {% if pdf is not defined %}<input type="checkbox" name="comercialSend" id="comercialSend">{% else %}{{ comercialSend }}{% endif %}
                    </div>

                    <div class="col-md-12 text-start mt-4">
                        <h5>Fase de negocio de la Startup</h5>
                    </div>
                    <table class="custom-table-pdf-2">
                        <tr>
                            <td>Idea</td>
                            <td>Desarollo Producto</td>
                            <td>Validación</td>
                            <td>Lanzamiento comercial</td>
                            <td>Crecimiento y escalado</td>
                        </tr>
                        <tr>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="phase[]" value="Idea">{% else %}{% for phase in phases %} {% if phase =="Idea" %}✓{% endif%} {% endfor%}{% endif %}</td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="phase[]" value="Desarrollo Producto">{% else %}{% for phase in phases %} {% if phase =="Desarrollo Producto" %}✓{% endif%}{% endfor%}{% endif %}</td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="phase[]" value="Validación">{% else %}{% for phase in phases %}{% if phase =="Validación" %}✓{% endif%} {% endfor%}{% endif %}</td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="phase[]" value="Lanzamiento">{% else %}{% for phase in phases %} {% if phase =="Lanzamiento" %}✓{% endif%}{% endfor%}{% endif %}</td>
                            <td>{% if pdf is not defined %}<input type="checkbox" name="phase[]" value="Crecimiento y escalado">{% else %}{% for phase in phases %} {% if phase =="Crecimiento y escalado" %}✓{% endif%}{% endfor%}{% endif %}</td>
                        </tr>
                    </table>

                    <div class="col-md-12 text-start mt-2">
                        <h5>Principales áreas en las que la startup necesita apoyo</h5>
                    </div>

                    <table class="custom-table-pdf-3">

                        {% for area in areas %}
                                <tr>
                                    <td>{% if pdf is not defined %}<input type="checkbox" name="areas[]" value="{{ area.name }}">{% else %}{% for selectedArea in selectedAreas %}{% if area.name == selectedArea%}✓{% endif %}{% endfor %}{% endif %}</td>
                                    <td>{{ area.name }}</td>
                                </tr>
                        {% endfor %}

                    </table>

                {% endif %}
                <p class="col-md-12 {% if not appointment.service.forClient %} mt-2 {% endif %}">
                    {% if appointment.service.name == "Mentoría 1h" or appointment.service.name == "Mentoría 2h" %}
                        <span class="custom-font-pdf">Se ha informado a los mentores/as y miembros de startups participantes de esta mentoría que los trabajos realizados son financiados con fondos FEDER 21-27 al 100% y se les ha mostrado el cartel FEDER informativo en cumplimiento de las obligaciones del beneficiario en materia de visibilidad, transparencia y comunicación (artículo 50 del Reglamento (UE) 2021/1060 del Parlamento Europeo y del Consejo de 24 de junio de 2021.)</span>
                    {% else %}
                        <span class="custom-font-pdf">Se ha informado a los mentores/as y miembros de startups participantes de esta mentoría que los trabajos realizados son financiados con fondos FEDER 21-27 al 100%</span>
                    {% endif %}

                </p>
                {% if pdf is not defined %}
                <div class="col-md-12 {% if not appointment.service.forAdmin %} d-flex justify-content-between {% endif %} mt-4">
                    {% if not appointment.service.forAdmin %}
                        <p class="text-start">Firmado mentor/a :</p>
                        <p class="text-end">{% if appointment.service.forClient %} Firmado - Director/a - HUB : {% else %} Firmado statups/CEO/Representante : {% endif %}</p>
                    {% else %}
                        <p class="text-end">Firmado - Director/a - HUB :</p>
                    {% endif %}
                </div>
                {% else %}
                    <table class="custom-table-pdf">
                        <tr>
                            <td class="text-start">{% if not appointment.service.forAdmin %}Firmado mentor/a :{% endif %}</td>
                            <td class="text-end">{% if not appointment.service.forAdmin and not appointment.service.forClient %}Firmado statups/CEO/Representante :{% else %} Firmado - Director/a - HUB:{% endif %}</td>
                        </tr>
                    </table>
                    <br><br><br>
                {% endif %}

                <div class="col-md-12 text-center pb-0">
                    <p>Financiado con Fondos FEDER 2021-2027 al 100%</p>
                </div>
                {% if pdf is not defined %}
                <div class="">
                    <a class="btn btn-dark a-pdf" id="saveButton">Generar y descargar</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>
{#<script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>#}
<script>
    var topic = null;
    var comment = null;
    var commitment = null;
    var users = null;


        topic = $("#topic");
        comment = $('#comment');
        commitment = $('#commitment');

    {#function obtainLineWidth(line, textarea) {
        console.log(line);
        // Creamos un div temporal
        var temporalDiv = document.createElement('div');
        var textareaStyles = window.getComputedStyle(textarea);

        temporalDiv.style.display = 'inline-block';
        temporalDiv.style.fontFamily = textareaStyles.fontFamily;
        temporalDiv.style.fontSize = textareaStyles.fontSize;
        temporalDiv.style.lineHeight = textareaStyles.lineHeight;
        temporalDiv.style.padding = textareaStyles.padding;
        temporalDiv.style.border = textareaStyles.border;

        // Establecemos el texto dentro del div
        temporalDiv.textContent = line;

        // Lo agregamos al body para obtener el ancho computado
        document.body.appendChild(temporalDiv);

        // Obtenemos el ancho computado del div
        var width = temporalDiv.offsetWidth;

        // Eliminamos el div temporal del DOM
        document.body.removeChild(temporalDiv);

        return width;
    }#}

    function handleTextareaInput(textarea, charNumId, maxRows) {
        var lines = textarea.value.split('\n');
        var maxLength = parseInt(textarea.getAttribute("maxlength"));
        var currentLength = textarea.value.length;
        var remainingChars = maxLength - currentLength;
        var rowNum = document.getElementById(charNumId);

        if (lines.length > maxRows) {
            textarea.value = lines.slice(0, maxRows).join('\n');
        } {#else if (lines.length === maxRows) {
            let width = obtainLineWidth(lines[maxRows - 1], textarea);
            let textareaWidth = textarea.offsetWidth;

            if (width >= textareaWidth) lines[maxRows - 1] = lines[maxRows - 1].substring(0, lines[maxRows - 1].length - 1);
            textarea.value = lines.slice(0, maxRows).join('\n');
        }#}

        if (remainingChars >= 0) {
            rowNum.textContent = remainingChars + " caracteres disponibles";
        } else {
            rowNum.textContent = "Límite de caracteres excedido";
        }
    }


        // Agregar un manejador de eventos al botón "Guardar"
        const saveButton = document.getElementById('saveButton');
        saveButton.addEventListener('click', function () {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '{{ path('appointments_export_pdf', {'appointment': appointment.id}) }}';
            form.target= '_blank'
            const hiddenField = (name, value) => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = name;
                input.value = value;
                return input;
            };

            form.appendChild(hiddenField('document', '{{ document }}'));
            const dataTopic = topic.val();
            // console.log(dataTopic)
            {% if appointment.service.forAdmin %}
            const selectedMentores = document.querySelectorAll('input[name="mentores[]"]:checked');
            const selectedMentoresValues = [];

            selectedMentores.forEach(function (checkbox) {
                selectedMentoresValues.push(checkbox.value);
            });

            form.appendChild(hiddenField('mentores', JSON.stringify(selectedMentoresValues)));

            {% if appointment.service.name == "Diagnóstico" %}


            const ceoValue = document.getElementById('ceo').value;
            const numberEmployeeValue = document.getElementById('numberEmployee').value;
            const numberInternValue = document.getElementById('numberIntern').value;
            const investmentValue = document.getElementById('investment').value;
            const invoiceValue = document.getElementById('invoice').value;

            form.appendChild(hiddenField('ceo', ceoValue));
            form.appendChild(hiddenField('numberEmployee', numberEmployeeValue));
            form.appendChild(hiddenField('numberIntern', numberInternValue));
            form.appendChild(hiddenField('investment', investmentValue));
            form.appendChild(hiddenField('invoice', invoiceValue));

            // Obtener estados de los checkboxes
            const partnerCheckbox = document.getElementById('partner');
            const partnerValue = partnerCheckbox.checked ? 'Si' : 'No';
            form.appendChild(hiddenField('partner', partnerValue));

            const mvpCheckbox = document.getElementById('mvp');
            const mvpValue = mvpCheckbox.checked ? 'Si' : 'No';
            form.appendChild(hiddenField('mvp', mvpValue));

            const comercialSendCheckbox = document.getElementById('comercialSend');
            const comercialSendValue = comercialSendCheckbox.checked ? 'Si' : 'No';
            form.appendChild(hiddenField('comercialSend', comercialSendValue));

            const checkedPhases = document.querySelectorAll('input[name="phase[]"]:checked');
            const selectedPhases = Array.from(checkedPhases).map(phase => phase.value);

            form.appendChild(hiddenField('phases', JSON.stringify(selectedPhases)));

            const checkedBusinessType = document.querySelectorAll('input[name="businessType[]"]:checked');
            const selectedBusinessType = Array.from(checkedBusinessType).map(businessType => businessType.value);

            form.appendChild(hiddenField('businessType', JSON.stringify(selectedBusinessType)));

            const checkedAreas = document.querySelectorAll('input[name="areas[]"]:checked');
            const selectedAreas = Array.from(checkedAreas).map(area => area.value);

            form.appendChild(hiddenField('selectedAreas', JSON.stringify(selectedAreas)));
            {% endif %}

            {% elseif appointment.service.forClient %}
            const selectedStartups = document.querySelectorAll('input[name="startups[]"]:checked');
            const selectedStartupsValues = [];

            selectedStartups.forEach(function (checkbox) {
                selectedStartupsValues.push(checkbox.value);
            });

            form.appendChild(hiddenField('startups', JSON.stringify(selectedStartupsValues)));
            {% endif %}

            const dataComment = comment.val();
            const dataCommitment = commitment.val();
            form.appendChild(hiddenField('topic', dataTopic));
            form.appendChild(hiddenField('comment', dataComment));
            form.appendChild(hiddenField('commitment', dataCommitment));

            document.body.appendChild(form);
            form.submit()
            setTimeout(function() {
                location.reload();
            }, 100);
        });

</script>