<div class="page-body-wrapper">

    <div class="row">

        <div class="col-12 p-t-10 p-l-20 row">

            <div class="col-12 p-0 mb-2 text-center">
                <span style="font-weight: bold; font-size: 3em">Encuesta Startups</span>
            </div>

            <div class="col-12 p-t-10 m-t-50">
                <div class="col-12 mt-2">
                    <span class="col-12">Nombre Startup: {{ startupName }}</span>
                </div>
                <div class="col-12 mt-2 mb-3">
                    <span class="col-12">Nombre {{ position }}: {{ startupCEO }}</span>
                </div>
            </div>


            <div class="col-12 p-0 m-t-50 row">
                <div class="col-9 mt-4">
                    <span style="font-weight: bold">{{ document_lines[0].title }} </span>
                    <span>&nbsp; {% if document_lines[0].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[0].select == 1 and not document_lines[0].text == '' %}
                    <div class="col-12 p-0 mt-2 row">
                        <span>CIF: {{ document_lines[0].text }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[1].title }}</span>
                    <span>&nbsp;{% if document_lines[1].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[1].select == 0 and not document_lines[1].text == '' %}
                    <div class="col-12 p-0 mt-2 row">
                        <span>Fecha prevista para lanzar el MVP a validación con clientes: {{ document_lines[1].text }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[2].title }}</span>
                    <span>&nbsp;{% if document_lines[2].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[2].select == 0 and not document_lines[2].text == '' %}
                    <div class="col-12 p-0 mt-2 row">
                        <span>Fecha prevista para salida a mercado: {{ document_lines[2].text }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[3].title }}</span>
                    <span>&nbsp;{% if document_lines[3].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[3].select == 1 %}
                    <div class="col-12 p-0 mt-1 row">
                        <div class="col-12 mt-1">
                            <span>Founder: {{ document_lines[3].founder }}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Empleado: {{ document_lines[3].employee }}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Becario: {{ document_lines[3].intern }}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>¿Cuántas de estas incorporaciones son mujeres?: {{ document_lines[3].women }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[4].title }}</span>
                    <span>&nbsp;{% if document_lines[4].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[4].select == 1 and not document_lines[4].text == '' %}
                    <div class="col-12 p-0 mt-2 row">
                        <span>Nivel de ingresos anuales (AMR): {{ document_lines[4].text }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[5].title }}</span>
                    <span>&nbsp;{% if document_lines[5].select == 1 %}Sí{% else %}No{% endif %}</span>
                </div>
                {% if document_lines[5].select == 1 %}
                    <div class="col-12 p-0 mt-1 row">
                        <div class="col-12 mt-1">
                            <span>Tipo de financiación: {{ document_lines[5].financing }}</span>
                        </div>
                        <div class="col-12 mt-1">
                            <span>Cuantía: {{ document_lines[5].quantity }} €</span>
                        </div>
                    </div>
                {% elseif document_lines[5].select == 0 %}
                    <div class="col-12 mt-2">
                        <span>{{ document_lines[5].subtitle }}</span>
                        <span>&nbsp;{% if document_lines[5].select_subtitle == 1 %}Sí{% else %}No{% endif %}</span>
                    </div>
                    {% if document_lines[5].select_subtitle == 1 %}
                        <div class="col-12 p-0 mt-1 row">
                            <div class="col-12 mt-1">
                                <span>Tipo de financiación buscada: {{ document_lines[5].financing_subtitle }}</span>
                            </div>
                            <div class="col-12 mt-1">
                                <span>Cuantía aproximada: {{ document_lines[5].quantity_subtitle }} €</span>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-12 p-0 m-t-50 row">
                <div class="col-12 mt-4">
                    <span style="font-weight: bold">{{ document_lines[6].title }}</span>
                </div>
                <div class="col-12 mt-2">
                    <span>{{ document_lines[6].text }}</span>
                </div>
            </div>
        </div>
    </div>
</div>