<form name="client" enctype="multipart/form-data" method="post">
    <div id="client" class="row">

        <input type="hidden" id="mentors_delete_image" name="mentors[delete_image]" autocomplete="off">

        <div class="col-md-3">
            <label for="client_name">Nombre *</label>
            <input type="text" id="client_name" name="mentors[name]" required="required" maxlength="255"
                   class="form-control mb-2" value="{{ mentors.name }}" autocomplete="off">
        </div>

        <div class="col-md-3">
            <label for="client_center" class="required">Centro *</label>
            <select class="select-guests form-control custom-validate" id="client" name="client[center]" required="required">
                <option value="" selected disabled>{{'Select an option'|trans}}</option>
                {% for center in centers %}
                    <option value="">{{ mentors.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <label for="client_representative">Representante *</label>
            <input type="text" id="client_representative" name="client[representative]" maxlength="255"
                   class="form-control mb-2" value="{{ client.representative }}" autocomplete="off">
        </div>

        <div class="col-md-3">
            <label for="client_members">Miembros</label>
            <input type="text" id="client_members" name="client[members]" maxlength="255"
                   class="form-control mb-2" value="{{ client.email }}" autocomplete="off">
        </div>

        <div class="col-md-4">
            <label for="client_speciality">Especialidad</label>
            <input type="text" id="client_speciality" name="client[speciality]" maxlength="255"
                   class="form-control mb-2" value="{{ client.speciality }}" autocomplete="off">
        </div>

        <div class="col-md-8">
            <label for="client_description">Descripción</label>
            <input type="text" id="client_description" name="client[description]" maxlength="255"
                   class="form-control mb-2" value="{{ client.description }}" autocomplete="off">
        </div>

        <div class="col-md-3">
            <label for="country">Teléfono *</label><br>
            <input type="text" id="country" name="client[phone]" class="form-control mb-2" autocomplete="off" value="+34"
                   placeholder="+00000000000" required="required" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
                   2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]| 4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$">
        </div>

        <div class="col-md-3">
            <label for="country2">Teléfono 2</label><br>
            <input type="text" id="country2" name="client[phone2]" class="form-control mb-2" autocomplete="off" value=""
                   placeholder="+00000000000" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|
                   2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]| 4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$">
        </div>

        <div class="col-md-3">
            <label for="client_email">eMail *</label>
            <input type="text" id="client_email" name="client[email]" maxlength="255" required="required"
                   class="form-control mb-2" value="{{ client.email }}" autocomplete="off">
        </div>

        <div class="col-md-3">
            <label for="client_email2">eMail 2</label>
            <input type="text" id="client_email2" name="client[email2]" maxlength="255"
                   class="form-control mb-2" value="{{ client.email2 }}" autocomplete="off">
        </div>

        <div class="col-md-6">
            <label for="client_logo">Logo</label>
            <input type="file" id="client_logo" name="client[logo]" class="form-control mb-2" autocomplete="off">
        </div>

        <div class="col-md-6">
            <label for="client_documents">Documentación adjunta</label>
            <input type="file" id="client_documents" name="client[documents]" class="form-control mb-2" autocomplete="off">
        </div>

        {{ form_row(form._token) }}

    </div>

    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light ">{{ button_label }}</button>
        </div>
    </div>

</form>

{% block javascripts %}
    <script src="{{ asset('assets/js/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/js/select2/intltelinput.min.js') }}"></script>

{% endblock %}