<!-- Page Header Start-->
<div class="page-header {% if not app.user.menuExpanded %} close_icon {% endif %}">
    <div class="header-wrapper row m-0">

        <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper">
                <a href="{{ path('appointment_index') }}">
                    <img class="img-fluid"  src="{{ configuration.logo_small ? path('document_render', {'document':  configuration.logo_small}) : asset('assets/images/logo/logo.png') }}" alt="">
                </a>
            </div>
            <div class="toggle-sidebar" onclick="toggleMenu()"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
        </div>
        <div class="left-header col horizontal-wrapper ps-0">
            <ul class="horizontal-menu">
                {% block action_buttons %}

                {% endblock %}
            </ul>
        </div>
        <div class="nav-right col-8 pull-right right-header p-0">
            <ul class="nav-menus">
                <li class="onhover-dropdown">
                    <i class="flag-icon" data-feather="check-circle"></i>
                    <div class="chat-dropdown onhover-show-div">
                        <h6 class="f-18 mb-0 dropdown-title">
                            {{ 'Tasks'|trans }}
                            <span class="btn btn-sm btn-flat-primary "
                                  onclick="openCreateTaskModal(null, null, null, null)"
                                  data-bs-toggle="tooltip"
                                  data-placement="top"
                                  title="{{ 'Create Task'|trans }}">
                                    <i data-feather='plus-circle' ></i>
                                </span>
                        </h6>

                        <div class="row mt-2">
                            <div class="col-6 text-center">
                                <div class="bookmark-content">
                                    <div class="bookmark-icon">
                                        <i data-feather="file-text"></i>
                                    </div>
                                    <span>{{ 'Ongoing'|trans }}: {{ app.user.getTasksByStatus(constant('App\\Entity\\Status\\Status::STATUS_TASK_IN_PROGRESS'))|length }}</span>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="bookmark-content">
                                    <div class="bookmark-icon">
                                        <i data-feather="file-text"></i>
                                    </div>
                                    <span>{{ 'Pending'|trans }}: {{ app.user.getTasksByStatus(constant('App\\Entity\\Status\\Status::STATUS_TASK_PENDING'))|length }}</span>
                                </div>
                            </div>
                        </div>


                        <ul class="py-0">
                            {% for status in [constant('App\\Entity\\Status\\Status::STATUS_TASK_IN_PROGRESS') , constant('App\\Entity\\Status\\Status::STATUS_TASK_PENDING')] %}
                                {% for task in app.user.getTasksByStatus(status) %}

                                    <li class="task-item" id="task-{{ task.id }}">
                                        <hr>
                                        <div class="media">
                                            <div class="media-body">
                                                <h6>{{ task.title  }}</h6>
                                                <span class="badge" style="background-color: {{ task.currentStatus.status.color }} !important;">{{ task.currentStatus.status.name|trans }}</span>
                                                <p class="f-8 font-primary mb-0">{{ task.estimatedStartDate|UTCDateTimeFormat('d-m-Y / H:i')  }}</p>
                                                <br>
                                                <span class="cursor-pointer" title="{{ 'Add Time'|trans }}" onclick="addTimeToTask('{{ task.id }}')"  data-bs-toggle="tooltip"><i data-feather='watch' ></i></span>
                                                <span class="cursor-pointer" title="{{ 'Show'|trans }}" onclick="showTask('{{ task.id }}')" data-bs-toggle="tooltip"><i data-feather='eye' ></i></span>
                                                <span class="cursor-pointer" title="{{ 'Edit'|trans }}" onclick="openEditTaskModal('{{ task.id }}')" data-bs-toggle="tooltip"><i data-feather='edit' ></i></span>
                                                <span class="cursor-pointer" title="{{ 'Delete'|trans }}" onclick="confirmDeleteTask('{{ task.id }}')" data-bs-toggle="tooltip" ><i data-feather='delete' ></i></span>
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}
                            {% endfor %}
                            <li class="text-center"> <a class="f-w-700" href="{{ path('task_list') }}" data-bs-original-title="" title="">{{ 'See More'|trans }} </a></li>
                        </ul>
                    </div>
                </li>
                <li class="profile-nav onhover-dropdown p-0 me-0">
                    <div class="media profile-media"><img class="b-r-10 avatar-img" src="{% if app.user.imgProfile != null %}{{ documentImage.DocumentImage(app.user.imgProfile) }}{% else %}{{ asset('assets/images/dashboard/profile.jpg') }}{% endif %}" alt="">
                        <div class="media-body"><span>{{ app.user.fullName }}</span>
                            <p class="mb-0 font-roboto">{% for role in app.user.roles %}{{ role|trans }}{% endfor %} <i class="middle fa fa-angle-down"></i></p>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div" style="width: 120%;">
                        <!--<li><a href="#"><i data-feather="user"></i><span>{{ 'My profile'|trans }}</span></a></li>-->
                        <li><a href="{{ path('app_logout') }}"><i data-feather="log-in"> </i><span>{{ 'Logout'|trans }}</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Header Ends   -->