<!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Desarrollado por <a href="https://www.studio128k.com">Studio128k</a> | Copyrigth {{ 'now'|date('Y') }} © {{ configuration.app_name }}  </p>
                <div class="mt-3 d-flex justify-content-center d-none d-md-block"><img src="{{ asset('assets/images/footer_AOF.png') }}" alt=""></div>
                <div class="mt-3 d-flex justify-content-center d-block d-md-none"><img src="{{ asset('assets/images/footer_AOF-1.png') }}" alt=""></div>
                <div class="mt-3 d-flex justify-content-center d-block d-md-none"><img src="{{ asset('assets/images/footer_AOF-2.png') }}" alt=""></div>
            </div>

        </div>
    </div>
</footer>