<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'Edit Payment'|trans }}</h5>
    <button type="button" class="close btn bg-transparent" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="{{ path('payment_edit', {'payment' : payment.id}) }}" method="POST" enctype="multipart/form-data" id="editPaymentForm" class="w-100 row mt-2">
        <input type="hidden" name="_token" value="{{ csrf_token('edit-payment') }}"/>

        <input type="hidden" value="{{ payment.appointment.id }}" id="appointment" name="payment[appointment]">

        <div class="col-md-6 form-group m-b-10">
            <label for="roles">{{ configuration.client_nomenclature|trans }}</label>
            <select class="select2 form-control" id="client"  onchange="selectClient()" required>
                <option value="" selected disabled>Selecciona una opción</option>
                {% for client in clients %}
                    <option value="{{ client.id }}" {% if client.id == payment.client.id %}selected{% endif %}>{{ client.fullName }}</option>
                {% endfor %}
            </select>
            <input type="hidden" class="select-client custom-validate" value="{{ payment.client.id }}" name="payment[client]" id="client-input">
        </div>

        <div class="form-group col-md-6 m-b-10">
            <label for="service" class="form-label">{{ 'Service'|trans }} *</label>
            <select class="select2 form-control" id="service" onchange="selectService()" required name="payment[service]">
                {% set remaining = payment.appointment.getRemainingPrice() %}

                {% for service in payment.appointment.getServicesFormatForPayments() %}
                    <option value="{{ service['name'] }}" {% if service['name'] == payment.service %} selected {% endif%}
                        {% if service['name'] == payment.service %}
                            {% set remaining = (payment.amount + service['remaining'])|number_format(2) %}
                            data-remaining="{{ (payment.amount + service['remaining'])|number_format(2) }}"
                        {% else %}
                            data-remaining="{{ service['remaining']|number_format(2) }}" {% if service['remaining'] <= 0 %}disabled{% endif %}
                        {% endif %}
                    >{{ service['name'] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-6 m-b-10">
            <label for="paymentAmount" class="form-label">{{'Amount'|trans}} *</label>
            <input type="number" class="form-control text-color" step="0.01" max="{{ remaining|number_format(2) }}" value="{{ payment.amount|number_format(2) }}" min="0" name="payment[amount]" id="paymentAmount" placeholder="Cuantía" required />
        </div>

        <div class="col-md-6 form-group m-b-10">
            <label for="payment_method">{{'Payment Method'|trans}} *</label>
            <select class="select2 form-control" id="payment_method" required name="payment[payment_method]">
                <option value="" selected disabled>{{'Select an option'|trans}}</option>
                {% for payment_method in payment_methods %}
                    <option value="{{ payment_method.name }}" {% if payment_method.name == payment.paymentMethod %}selected{% endif %} >{{ payment_method.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-6 m-b-10">
            <label for="paymentDate" class="form-label">{{'Payment Date'|trans}} *</label>
            <input type="number" class="form-control text-color" name="payment[payment_date]" id="paymentDate" value="{{ payment.paymentDate|UTCDateTimeFormat('d-m-Y H:i') }}" required />
        </div>

        {{ form_row(form._token) }}
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'Close'|trans}}</button>
    <button type="submit" class="btn btn-primary" form="editPaymentForm">{{'Edit'|trans}}</button>
</div>


<script>

    $(document).ready(function() {
        flatpickr('#paymentDate',{
            locale: locale,
            mode: "single",
            enableTime: true,
            dateFormat: "d-m-Y H:i"
        })

        $('.select2').select2();
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }

    });

    function selectService(){
        let remaining = $('#service option:selected').attr('data-remaining');
        $('#paymentAmount').attr('max', remaining);
    }

    function selectClient(){
        $('#client-input').val($('#client').val());
    }

    function toggleNewClient(){
        let value = $('#new-client').is(':checked');

        if(value){

            $('.new-client').removeClass( "d-none");
            $('.new-client input').prop( "disabled", false ).addClass( "custom-validate");
            $('#client').prop( "disabled", true ).val(null).trigger( "change" );
            $('#client-input').removeClass( "custom-validate");
        }else{

            $('.new-client').addClass( "d-none");
            $('.new-client input').prop( "disabled", true ).removeClass( "custom-validate");
            $('#client').prop( "disabled", false );
            $('#client-input').addClass( "custom-validate");
        }
    }

</script>