 <form id="filter_form" name="form-filter-users w-100">
        <fieldset class="">
            <div class="d-flex justify-content-around align-items-center mx-50 row pt-0 pb-2">
                <input type="hidden" class="form-control" name="{{ filterService.filterField('verification_ids') }}" value="" form="filter_form">

                <div class="form-group-feedback form-group-feedback-right col-md-12 mb-1">
                    <label for="Nombre">Buscar</label>
                    <input type="text" class="form-control" placeholder="{{ 'Name'|trans }}, {{ 'Surnames'|trans }}, {{ 'Email'|trans }}..." name="{{ filterService.filterField('info') }}" value="{{ filterService.getFilterValue("info") }}" form="filter_form">

                </div>

                <div class="form-group-feedback form-group-feedback-right mt-2 col-md-12 mb-1">
                    <label for="week_day">{{ 'Date Range'|trans }}</label>
                    <br>
                    <input type="text" class="form-control" id="dateRangeFilter" name="{{ filterService.filterField('dateRange') }}" value="{{ filterService.getFilterValue("dateRange") }}" form="filter_form">
                    <div class="form-control-feedback">

                    </div>
                </div>
                <div class="form-group-feedback form-group-feedback-right mt-2 col-md-12 mb-1">
                    <label for="roles">Tipo de mentorias</label>
                    <br>
                    <select name="{{ filterService.filterField('services') }}[]" class="select select2" id="services" multiple>

                        {% for service in allServices %}
                            <option value="{{ service.id }}" {% if service.id == filterService.getFilterValue("services") %}selected="selected"{% endif %}>{{ service.name }}</option>
                        {% else %}
                            <option selected="selected" disabled="disabled">{{ 'No results found'|trans }}</option>
                        {% endfor %}

                    </select>
                    <div class="form-control-feedback">

                    </div>
                </div>

                <div class="form-group-feedback form-group-feedback-right mt-2 col-md-12 mb-1">
                    <label for="week_day">{{ 'Status'|trans }}</label>
                    <br>
                    <select name="{{ filterService.filterField('statusType') }}" data-boundary="window" class="select select2" id="status_type">
                        <option value="" selected>{{ 'Select an option'|trans }}</option>
                        {% for statusKey in status %}
                            <option value="{{ statusKey.id }}" {% if filterService.getFilterValue('statusType') != null %}{% if filterService.getFilterValue('statusType') == statusKey.id %}selected="selected"{% endif %}{% endif %}>{{ statusKey.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group-feedback form-group-feedback-right mt-2 col-md-12 mb-1">
                    <label for="week_day">{{ 'Areas'|trans }}</label>
                    <br>
                    <select name="{{ filterService.filterField('area') }}" data-boundary="window" class="select select2" id="area">
                        <option value="" selected>{{ 'Select an option'|trans }}</option>
                        {% for area in areas %}
                            <option value="{{ area.id }}" {% if filterService.getFilterValue('area') != null %}{% if filterService.getFilterValue('area') == area.id %}selected="selected"{% endif %}{% endif %}>{{ area.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if app.user.isSuperAdmin %}
                <div class="form-group-feedback form-group-feedback-right mt-2 col-md-12 mb-1">
                    <label for="week_day">{{ 'Centro'|trans }}</label>
                    <br>
                    <select name="{{ filterService.filterField('center') }}" data-boundary="window" class="select select2" id="center">
                        <option value="" selected>{{ 'Select an option'|trans }}</option>
                        {% for center in centers %}
                            <option value="{{ center.id }}" {% if filterService.getFilterValue('center') != null %}{% if filterService.getFilterValue('center') == center.id %}selected="selected"{% endif %}{% endif %}>{{ center.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}

                {{ filterService.filterFormField() | raw }}

                <div class="form-group-feedback form-group-feedback-right text-end col-12">
                    <button id="filter_export" type="button" class="btn add-new text-white btn-outline-grey mt-2">
                        {{ 'Export'|trans }}</button>
                    <button id="filter" type="submit" class="btn add-new text-white btn-primary mt-2">{{ 'Apply Filter'|trans }}</button>
                </div>
            </div>
        </fieldset>
    </form>



