<form name="template_type" method="post">
    <div id="template_type" class="row">
        <div class="col-6">
            <label for="template_type_name" class="required">{{ 'Name'|trans }} *</label>
            <input type="text"
                   id="template_type_name"
                   name="template_type[name]"
                   required="required"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ template_type.name|default('') }}">
        </div>

        <div class="col-6">
            <label for="template_type_type" class="required">{{ 'Object'|trans }} *</label>
            <select
                    id="template_type_description"
                    name="template_type[entity]"
                    class=" select2 mb-2">
                {% for label, entity in entities %}
                    <option value="{{ entity }}" {% if template_type.entity == entity %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <label for="template_type_description" class="required">{{ 'Description'|trans }}</label>
            <textarea type="text"
                      id="template_type_description"
                      name="template_type[description]"
                      maxlength="255"
                      class="form-control mb-2"
                      autocomplete="off" >{{ template_type.description|default('') }}</textarea>
        </div>

        <div class="col-12">
            <div class="form-check">

                <input type="checkbox"
                       id="template_type_active"
                       name="template_type[active]"
                        {% if template_type.active %} checked {% endif %}
                       class="form-check-input"
                       value="true">
                <label for="template_type_active">¿{{ 'Active'|trans }}?</label>
            </div>

        </div>
        <div class="col-12">
            <label class="required">{{ 'Lines'|trans }}</label>
            <div class="w-100 row" id="template_line_types">
                {% for index, templateLineType in template_type.templateLineTypes  %}
                    <div class="col-12 row template-line-type" id="template_line_type_{{ index }}">
                        <div class="col-md-5 col-sm-12">
                            <label for="template_type_description" class="required">{{ 'Name'|trans }}</label>
                            <input type="text"
                                     id="template_line_{{ index }}_name"
                                      name="template_type[template_line_types][{{ index }}][name]"
                                      maxlength="255"
                                      class="form-control mb-2"
                                      autocomplete="off" value="{{ templateLineType.name }}">
                        </div>

                        <div class="col-md-5 col-sm-8">
                            <label for="template_type_type" class="required">{{ 'Type'|trans }}</label>
                            <select
                                    id="template_line_{{ index }}_type"
                                    name="template_type[template_line_types][{{ index }}][type]"
                                    onchange="changeType('{{ index }}')"
                                    class="form-control select2 mb-2">
                                {% for label, type in types %}
                                    <option value="{{ type }}" {% if templateLineType.type == type %}selected{% endif %}>{{ label|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-2 col-sm-4 pt-2">
                            <span class="cursor-pointer" onclick="document.getElementById('template_line_type_{{ index }}').remove()">
                                <i data-feather="delete" class="text-danger font-medium-4"></i>
                            </span>
                        </div>

                        <div class="col-sm-12 {% if templateLineType.type != constant('App\\Entity\\Template\\TemplateLineType::SELECT_TYPE') %}d-none{% endif %}" id="options_{{ index }}_form">
                            <label class="required">{{ 'Options'|trans }}</label>
                            <div class="w-100 row" id="template_type_options_div_{{ index }}">
                                {% for indexOption, option in templateLineType.options  %}
                                    <div class="col-md-6 col-12 row" id="template_type_options_div_{{ index }}_{{ indexOption }}">
                                        <div class="col-10">
                                            <label for="template_type_options_{{ indexOption }}" class="required font-small-3">{{ 'Name'|trans }}</label>
                                            <input type="text"
                                                   id="template_line_{{ index }}_option_{{ indexOption }}"
                                                   name="template_type[template_line_types][{{ index }}][options][]"
                                                   maxlength="255"
                                                   class="form-control mb-2"
                                                   autocomplete="off" value="{{ option }}">
                                        </div>

                                        <div class="col-2 pt-2">
                                            <span class="cursor-pointer" onclick="document.getElementById('template_type_options_div_{{ index }}_{{ indexOption }}').remove()">
                                                <i data-feather="delete" class="text-danger font-medium-4"></i>
                                            </span>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>
                            <div class="w-100 text-center">
                                <button type="button" class="btn btn-outline-secondary" onclick="addOption({{ index }})">
                                    {{'Add Option'|trans}}</button>
                            </div>

                        </div>

                        <div class="col-12">
                            <hr />
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="w-100 text-center">
                <button type="button" class="btn btn-outline-primary" onclick="addTemplateLineType()">{{ 'Add New'|trans }}</button>
            </div>

        </div>

        {{ form_row(form._token) }}
    </div>
    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light">{{ button_label }}</button>
        </div>
    </div>
</form>

<script>
    let templateLineCounter = {% if template_type.templateLineTypes|length > 0 %}{{ template_type.templateLineTypes|length }}{% else %}0{% endif %};
    let optionsCounter = {% if template_type.getTemplateLineOptions|length > 0 %}{{ template_type.getTemplateLineOptions|length }}{% else %}0{% endif %};

    function addTemplateLineType(){

        let html = `
            <div class="col-12 row" id="template_line_type_${templateLineCounter}">
                <div class="col-md-5 col-sm-12">
                    <label for="template_line_name" class="required">{{ 'Name'|trans }}</label>
                    <input type="text"
                            id="template_line_${templateLineCounter}_name"
                              name="template_type[template_line_types][${templateLineCounter}][name]"
                              maxlength="255"
                              class="form-control mb-2"
                              autocomplete="off">
                </div>

                <div class="col-md-5 col-sm-8">
                    <label for="template_type_type" class="required">{{ 'Type'|trans }}</label>
                    <select
                            id="template_line_${templateLineCounter}_type"
                            name="template_type[template_line_types][${templateLineCounter}][type]"
                            onchange="changeType('${templateLineCounter}')"
                            class="form-control select2 mb-2">
                        {% for label, type in types %}
                            <option value="{{ type }}" >{{ label|trans }}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-2 col-sm-4 pt-2">
                    <span class="cursor-pointer" onclick="document.getElementById('template_line_type_${templateLineCounter}').remove()">
                        <i data-feather="delete" class="text-danger font-medium-4"></i>
                    </span>
                </div>

                <div class="col-sm-12 d-none" id="options_${templateLineCounter}_form">
                    <label class="required">{{ 'Options'|trans }}</label>
                    <div class="w-100 row" id="template_type_options_div_${templateLineCounter}">

                    </div>
                    <div class="w-100 text-center">
                        <button type="button" class="btn btn-outline-secondary" onclick="addOption(${templateLineCounter})">{{'Add Option'|trans}}</button>
                    </div>

                </div>

                <div class="col-12">
                    <hr />
                </div>
            </div>
        `;

        $('#template_line_types').append(html);

        feather.replace({
            width: 14,
            height: 14
        });

        $('#template_line_' + templateLineCounter + '_type').select2();

        templateLineCounter++;
    }

    function addOption(index){

        let html = `
            <div class="col-md-6 col-12 row" id="template_type_options_div_${index}_${optionsCounter}">
                <div class="col-10">
                    <label for="template_type_options_${optionsCounter}" class="required font-small-3">{{ 'Name'|trans }}</label>
                    <input type="text"
                           id="template_line_${ index }_option_${ optionsCounter }"
                           name="template_type[template_line_types][${ index }][options][]"
                           maxlength="255"
                           class="form-control mb-2"
                           autocomplete="off">
                </div>

                <div class="col-2 pt-2">
                    <span class="cursor-pointer" onclick="document.getElementById('template_type_options_div_${ index }_${ optionsCounter }').remove()">
                        <i data-feather="delete" class="text-danger font-medium-4"></i>
                    </span>
                </div>
            </div>
        `;

        document.getElementById('template_type_options_div_'+index).innerHTML += html;

        feather.replace({
            width: 14,
            height: 14
        });

        optionsCounter++;

    }

    function changeType(index){
        let type = document.getElementById('template_line_' + index +'_type').value;

        if(type == '{{ constant('App\\Entity\\Template\\TemplateLineType::SELECT_TYPE') }}'){
            document.getElementById('options_' + index + '_form').classList.remove('d-none');
        }else{
            document.getElementById('options_' + index + '_form').classList.add('d-none');
        }
    }
</script>