{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'List Template Types'|trans }}{% endblock %}

{% block page_title %}
    {{ 'List Template Types'|trans }}
{% endblock %}

{% block body %}
    <!-- users list start -->
    <div class="container-fluid">
        <!-- list section start -->
        <div class="card">
            <div class="card-datatable overflow-inherit table-responsive card-body">
                <div class="overflow-auto">
                    <table class="user-list-table table">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                <a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
                                    {{ 'Name'|trans }} {% if filterService.isOrdered("name") %}<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("entity", filterService.getInversedOrder("entity")) }}">
                                    {{ 'Object'|trans }} {% if filterService.isOrdered("entity") %}<i data-feather="{{ filterService.getOrder("entity").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>

                            <th>
                                <a href="{{ filterService.orderBy("description", filterService.getInversedOrder("description")) }}">
                                    {{ 'Description'|trans }} {% if filterService.isOrdered("description") %}<i data-feather="{{ filterService.getOrder("description").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a>
                                    {{ 'Actions'|trans }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for template_type in template_types %}
                            <tr>
                                <td>{{ template_type.name }}</td>
                                <td>{{ template_type.entityName }}</td>
                                <td>{{ template_type.description }}</td>

                                <td>
                                    <div class="d-inline-flex gap-2 text-nowrap">
                                        {% if userPermission.can('edit', 'template_types') %}
                                            <a href="{{ path('template_type_edit', {'templateType': template_type.id}) }}"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="align-middle" data-feather='edit'></i> <span class="align-middle"></span></a>
                                        {% endif %}
                                        {% if userPermission.can('delete', 'template_types') %}
                                            <a href="#" onclick="$('#deleteForm_template_type_{{ template_type.id }}').submit()"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="align-middle" data-feather='delete'></i> <span class="align-middle"></span></a>
                                            <form method="post" id="deleteForm_template_type_{{ template_type.id }}" action="{{ path('template_type_delete', {'templateType': template_type.id}) }}" class="deleteForm d-none" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ template_type.id) }}">
                                            </form>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">{{ 'No results found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <div class="d-flex justify-content-end mr-4 mt-2">
                    {% include 'extra/pagination.html.twig' with {
                        filterService: filterService,
                        currentPage: filterService.page,
                        paginationPath: 'template_type_index',
                        lastPage: lastPage,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>
                {% include 'extra/filter_limit.html.twig' %}

            </div>
        </div>
        <!-- list section end -->
    </div>

{% endblock %}

{% block action_buttons %}

    <li class="level-menu outside">
        {% if userPermission.can('create', 'templates') %}
            <a class="nav-link" href="{{ path('template_type_new') }}" >
                <i data-feather="plus-circle"></i>
            </a>
        {% endif %}

        <a class="nav-link cursor-pointer mr-1" href="#" onclick="toggleFilter()" >
            <i data-feather="filter"></i>
        </a>
    </li>

{% endblock %}


{% block javascripts %}

{% endblock %}

{% block sidebar %}
    {% include 'extra/template_type_filter.html.twig' %}
{% endblock %}