{{ form_start(form, {'attr': {'id': 'form'}}) }}
    <div id="client" class="row gy-3">

        <input type="hidden" id="client_delete_image" name="client[delete_image]" autocomplete="off">


        <h2 class="row gap-2 align-items-center m-2 gap-3">
            {% if client.name is not same as '' %}
                <div class="pic-container pic-small pic-circle p-0">
                    <img class="pic" src="{% if client.logo != null %}{{ documentImage.DocumentImage(client.logo) }}{% else %}{{ asset('assets/images/no-image.png') }}{% endif %}" alt="">
                    {% if client.logo != null %}
                        <div class="pic-overlay">
                            <a><i class="fa fa-trash-o text-danger fs-2" aria-hidden="true"></i></a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            Información principal
        </h2><hr>
        <div class="col-md-6">
            <div class="row gy-4">
                <div class="col-md-6">
                    <label class="form-label" for="{{ field_name(form.logo) }}">{{ field_label(form.logo) }} <span class="text-danger"></span></label>
                    <input type="file" class="form-control"
                           placeholder="{{ field_label(form.logo) }}" id="{{ field_name(form.logo) }}" name="{{ field_name(form.logo) }}"
                           value="{{ field_value(form.logo) }}" accept="image/*">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{ field_name(form.name) }}">{{ field_label(form.name) }} <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="{{ field_label(form.name) }}" id="{{ field_name(form.name) }}" name="{{ field_name(form.name) }}" value="{{ field_value(form.name) }}" required>
                    {% for error in field_errors(form.name) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{ field_name(form.center) }}">{{ field_label(form.center) }} <span class="text-danger">*</span></label>
                    <select class="form-select" type="text" id="{{ field_name(form.center) }}" name="{{ field_name(form.center) }}" required>
                        <option disabled selected value="{{ null }}">Selecciona una opción</option>
                        {% for center in centers %}
                            <option {% if center.id == field_value(form.center) %}selected{% endif %} value="{{ center.id }}">{{ center.name }}</option>
                        {% endfor %}
                    </select>
                    {% for error in field_errors(form.center) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="{{ field_name(form.speciality) }}">{{ field_label(form.speciality) }} <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="{{ field_label(form.speciality) }}" id="{{ field_name(form.speciality) }}" name="{{ field_name(form.speciality) }}" value="{{ field_value(form.speciality) }}" required>
                    {% for error in field_errors(form.speciality) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label class="form-label" for="{{ field_name(form.description) }}">{{ field_label(form.description) }} <span class="text-danger">*</span></label>
            <textarea rows="5" class="form-control" placeholder="{{ field_label(form.description) }}" id="{{ field_name(form.description) }}" name="{{ field_name(form.description) }}" required>{{ field_value(form.description) }}</textarea>
            {% for error in field_errors(form.description) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.socialName) }}">{{ field_label(form.socialName)}}</label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.socialName) }}" id="{{ field_name(form.socialName) }}" name="{{ field_name(form.socialName) }}" value="{{ field_value(form.socialName) }}">
            {% for error in field_errors(form.socialName) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.cif) }}">{{ field_label(form.cif)}}</label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.cif) }}" id="{{ field_name(form.cif) }}" name="{{ field_name(form.cif) }}" value="{{ field_value(form.cif) }}">
            {% for error in field_errors(form.cif) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.province) }}">{{ field_label(form.province)}}</label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.province) }}" id="{{ field_name(form.province) }}" name="{{ field_name(form.province) }}" value="{{ field_value(form.province) }}">
            {% for error in field_errors(form.province) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.supportType) }}">{{ field_label(form.supportType)}}</label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.supportType) }}" id="{{ field_name(form.supportType) }}" name="{{ field_name(form.supportType) }}" value="{{ field_value(form.supportType) }}">
            {% for error in field_errors(form.supportType) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.incorporationYear) }}">{{ field_label(form.incorporationYear) }} </label>
            <input class="form-control" type="number" placeholder="{{ field_label(form.incorporationYear) }}" id="{{ field_name(form.incorporationYear) }}" name="{{ field_name(form.incorporationYear) }}" value="{{ field_value(form.incorporationYear) }}">
            {% for error in field_errors(form.incorporationYear) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.members) }}">Nº de miembros <span class="text-danger">*</span></label>
            <input class="form-control" type="number" placeholder="Nº de miembros" id="{{ field_name(form.members) }}" name="{{ field_name(form.members) }}" value="{{ field_value(form.members) }}" required>
            {% for error in field_errors(form.members) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.girlMembers) }}">Nº de miembros mujeres</label>
            <input class="form-control" type="number" placeholder="Nº de miembros mujeres" id="{{ field_name(form.girlMembers) }}" name="{{ field_name(form.girlMembers) }}" value="{{ field_value(form.girlMembers) }}">
            {% for error in field_errors(form.girlMembers) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <label class="form-label" for="{{ field_name(form.announcement) }}">{{ field_label(form.announcement) }}  <span class="text-danger">*</span></label>
            <select class="form-select" aria-label="Default select example" id="{{ field_name(form.announcement) }}" name="{{ field_name(form.announcement) }}" required>
                <option value="" disabled {% if client.announcement is null or client.announcement == '' %}selected{% endif %}>Elija una opción</option>
                <option {% if client.announcement == 1%} selected {% endif %}value="1">2022 - I Call AOF</option>
                <option {% if client.announcement == 2%} selected {% endif %}value="2">2023 - I Call AOF</option>
                <option {% if client.announcement == 3%} selected {% endif %}value="3">2023 - II Call AOF</option>
            </select>
            {% for error in field_errors(form.announcement) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-sm-3">
            <div class="mb-3">
                <label class="form-label" for="{{ field_name(form.password.first) }}">{{ field_label(form.password.first) }} {% if client.name == '' %}<span class="text-danger">*</span>{% endif %} </label>
                <input class="form-control" type="password"
                       placeholder="{{ field_label(form.password.first) }}" id="{{ field_name(form.password.first) }}"
                       name="{{ field_name(form.password.first) }}"
                       value="{{ field_value(form.password.first) }}"
                       {% if client.name == '' %}required{% endif %}>
                {% for error in field_errors(form.password.first) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-3">
            <div class="mb-3">
                <label class="form-label" for="{{ field_name(form.password.second) }}">{{ field_label(form.password.second) }} {% if client.name == '' %}<span class="text-danger">*</span>{% endif %} </label>
                <input class="form-control" type="password"
                       placeholder="{{ field_label(form.password.second) }}" id="{{ field_name(form.password.second) }}"
                       name="{{ field_name(form.password.second) }}"
                       value="{{ field_value(form.password.second) }}"
                       {% if client.name == '' %}required{% endif %}>
                {% for error in field_errors(form.password.second) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-3">
                <div class="">
                    <label class="me-2"><input {% if client.alumni %} checked {% endif %} type="checkbox" name="{{ field_name(form.alumni) }}" value='{{ client.alumni }}' class="me-1">{{ field_label(form.alumni) }}</label>
                    {% for error in field_errors(form.alumni) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="">
                    <label class="me-2"><input {% if client.newCompany %} checked {% endif %} type="checkbox" name="{{ field_name(form.newCompany) }}" value='{{ client.newCompany }}' class="me-1">{{ field_label(form.newCompany) }}</label>
                    {% for error in field_errors(form.newCompany) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="">
                    <label class="me-2"><input {% if client.digitalStartup %} checked {% endif %} type="checkbox" name="{{ field_name(form.digitalStartup) }}" value='{{ client.digitalStartup }}' class="me-1">{{ field_label(form.digitalStartup) }}</label>
                    {% for error in field_errors(form.digitalStartup) %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>



        <h2 class="mt-5">Equipo</h2><hr>
        <div class="col-md-3">
            <label class="form-label" for="{{ field_name(form.representative) }}">{{ field_label(form.representative) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.representative) }}" id="{{ field_name(form.representative) }}" name="{{ field_name(form.representative) }}" value="{{ field_value(form.representative) }}" required>
            {% for error in field_errors(form.representative) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.position) }}">{{ field_label(form.position) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.position) }}" id="{{ field_name(form.position) }}" name="{{ field_name(form.position) }}" value="{{ field_value(form.position) }}" required>
            {% for error in field_errors(form.position) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <label class="form-label" for="country">{{ field_label(form.phone) }} <span class="text-danger">*</span></label>
            <input id="country" type="tel" class="form-control"
                   placeholder="{{ field_label(form.phone) }}" name="{{ field_name(form.phone) }}"
                   value="{%if field_value(form.phone) matches '/\\+34/' %}{{ field_value(form.phone) }}{% else %}+34{{ field_value(form.phone) }}{% endif %}" required>
            <span id="valid-msg" class="invisible hide"></span>
            <span id="error-msg" class="hide text-danger"></span>
        </div>


        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.email) }}">{{ field_label(form.email) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="email" placeholder="{{ field_label(form.email) }}" id="{{ field_name(form.email) }}" name="{{ field_name(form.email) }}" value="{{ field_value(form.email) }}" required>
            {% for error in field_errors(form.email) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>


        <div class="col-md-3 d-flex flex-column flex-md-row gap-4">
            <div class="col">
                <label class="form-label" for="{{ field_name(form.gender) }}">{{ field_label(form.gender) }}  <span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Default select example" id="{{ field_name(form.gender) }}" name="{{ field_name(form.gender) }}" required>
                    <option value="" disabled {% if client.gender|length <=1 %}selected{% endif %}>Elija una opción</option>
                    {% for choice in form.gender.vars.choices %}
                        <option {% if client.gender == choice.value %}selected{% endif %}value={{ choice.value }}>{{ choice.value }}</option>
                    {% endfor %}
                </select>
                {% for error in field_errors(form.gender) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                <label class="form-label" for="{{ field_name(form.age) }}">{{ field_label(form.age) }} </label>
                <input class="form-control" type="number" placeholder="{{ field_label(form.age) }}" id="{{ field_name(form.age) }}" name="{{ field_name(form.age) }}" value="{{ field_value(form.age) }}">
                {% for error in field_errors(form.age) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>



        <div class="col-md-3">
            <label class="form-label" for="{{ field_name(form.representative2) }}">{{ field_label(form.representative2) }} </label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.representative2) }}" id="{{ field_name(form.representative2) }}" name="{{ field_name(form.representative2) }}" value="{{ field_value(form.representative2) }}" >
            {% for error in field_errors(form.representative2) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.position2) }}">{{ field_label(form.position2) }} </label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.position2) }}" id="{{ field_name(form.position2) }}" name="{{ field_name(form.position2) }}" value="{{ field_value(form.position2) }}" >
            {% for error in field_errors(form.position2) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-2">
            <label class="form-label" for="country2">{{ field_label(form.phone2) }} </label>
            <input id="country2" type="tel" class="form-control"
                   placeholder="{{ field_label(form.phone2) }}" name="{{ field_name(form.phone2) }}"
                   value="{%if field_value(form.phone2) matches '/\\+34/' %}{{ field_value(form.phone2) }}{% else %}+34{{ field_value(form.phone2) }}{% endif %}" >
            <span id="valid-msg" class="invisible hide"></span>
            <span id="error-msg" class="hide text-danger"></span>
        </div>
        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.email2) }}">{{ field_label(form.email2) }} </label>
            <input class="form-control" type="email" placeholder="{{ field_label(form.email2) }}" id="{{ field_name(form.email2) }}" name="{{ field_name(form.email2) }}" value="{{ field_value(form.email2) }}" >
            {% for error in field_errors(form.email2) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 d-flex flex-column flex-md-row gap-4">
            <div class="col">
                <label class="form-label" for="{{ field_name(form.gender2) }}">{{ field_label(form.gender2) }} </label>
                <select class="form-select" aria-label="Default select example" id="{{ field_name(form.gender2) }}" name="{{ field_name(form.gender2) }}">
                    <option value="" disabled {% if client.gender2|length <=1 %}selected{% endif %}>Elija una opción</option>
                    {% for choice in form.gender.vars.choices %}
                        <option {% if client.gender2 == choice.value %}selected{% endif %}value={{ choice.value }}>{{ choice.value }}</option>
                    {% endfor %}
                </select>
                {% for error in field_errors(form.gender2) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                <label class="form-label" for="{{ field_name(form.age2) }}">{{ field_label(form.age2) }} </label>
                <input class="form-control" type="number" placeholder="{{ field_label(form.age2) }}" id="{{ field_name(form.age2) }}" name="{{ field_name(form.age2) }}" value="{{ field_value(form.age2) }}">
                {% for error in field_errors(form.age2) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>



        <div class="col-md-3">
            <label class="form-label" for="{{ field_name(form.representative3) }}">{{ field_label(form.representative3) }} </label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.representative3) }}" id="{{ field_name(form.representative3) }}" name="{{ field_name(form.representative3) }}" value="{{ field_value(form.representative3) }}" >
            {% for error in field_errors(form.representative3) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.position3) }}">{{ field_label(form.position3) }} </label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.position3) }}" id="{{ field_name(form.position3) }}" name="{{ field_name(form.position3) }}" value="{{ field_value(form.position3) }}" >
            {% for error in field_errors(form.position3) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <label class="form-label" for="country3">{{ field_label(form.phone3) }} </label>
            <input id="country3" type="tel" class="form-control"
                   placeholder="{{ field_label(form.phone3) }}" name="{{ field_name(form.phone3) }}"
                   value="{%if field_value(form.phone3) matches '/\\+34/' %}{{ field_value(form.phone3) }}{% else %}+34{{ field_value(form.phone3) }}{% endif %}" >
            <span id="valid-msg" class="invisible hide"></span>
            <span id="error-msg" class="hide text-danger"></span>
        </div>

        <div class="col-md-2">
            <label class="form-label" for="{{ field_name(form.email3) }}">{{ field_label(form.email3) }} </label>
            <input class="form-control" type="email" placeholder="{{ field_label(form.email3) }}" id="{{ field_name(form.email3) }}" name="{{ field_name(form.email3) }}" value="{{ field_value(form.email3) }}" >
            {% for error in field_errors(form.email3) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 d-flex flex-column flex-md-row gap-4">
            <div class="col">
                <label class="form-label" for="{{ field_name(form.gender3) }}">{{ field_label(form.gender3) }} </label>
                <select class="form-select" aria-label="Default select example" id="{{ field_name(form.gender3) }}" name="{{ field_name(form.gender3) }}">
                    <option value="" disabled {% if client.gender3|length <=1 %}selected{% endif %}>Elija una opción</option>
                    {% for choice in form.gender.vars.choices %}
                        <option {% if client.gender3 == choice.value %}selected{% endif %}value={{ choice.value }}>{{ choice.value }}</option>
                    {% endfor %}
                </select>
                {% for error in field_errors(form.gender3) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col">
                <label class="form-label" for="{{ field_name(form.age3) }}">{{ field_label(form.age3) }} </label>
                <input class="form-control" type="number" placeholder="{{ field_label(form.age3) }}" id="{{ field_name(form.age3) }}" name="{{ field_name(form.age3) }}" value="{{ field_value(form.age3) }}">
                {% for error in field_errors(form.age3) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <h2 class="mt-5">Comentario Adicional</h2><hr>
        <div class="col-md-12">
            <label class="form-label" for="{{ field_name(form.comment) }}">{{ field_label(form.comment) }}</label>
            <textarea rows="5" class="form-control" placeholder="{{ field_label(form.comment) }}" id="{{ field_name(form.comment) }}" name="{{ field_name(form.comment) }}">{{ field_value(form.comment) }}</textarea>
            {% for error in field_errors(form.comment) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

{#        {% if documents is defined and documents|length >= 1 %}#}
{#            <div class="col-md-12  mb-3">#}
{#                <label for="client_documents">Lista de documentos</label>#}
{#                <table class="invoice-list-table table  overflow-auto ">#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th>Nombre</th>#}
{#                            <th>Fecha Creación</th>#}
{##}
{#                            <th class="text-center">Acciones</th>#}
{##}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% if documents is defined and documents|length >= 1 %}#}
{#                        {% for document in documents %}#}
{#                            <tr>#}
{#                                <td>{{ document.originalName }}</td>#}
{#                                <td>{{ document.createdAt|UTCDateTimeFormat('d-m-Y H:i') }}</td>#}
{#                                <td class="text-center">#}
{#                                    <a class="" data-toggle="modal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Borrar Documento" data-target="#deleteDocument{{ document.id }}">#}
{#                                        <i class="fa fa-trash-o fs-4 text-danger"></i>#}
{#                                    </a>#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        {% endif %}#}


{#        <div class="col-md-4 {% if client.DocumentAdhesion is not null %} d-none {% endif %}">#}
{#            <label class="form-label" for="{{ field_name(form.documentAdhesion) }}" name>{{ field_label(form.documentAdhesion) }} </label>#}
{#            <input type="file" class="form-control" id="{{ field_name(form.documentAdhesion) }}" name="{{ field_name(form.documentAdhesion) }}" >#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-md-4 {% if client.DocumentConfidencial is not null %} d-none {% endif %}">#}
{#            <label class="form-label" for="{{ field_name(form.documentConfidencial) }}">{{ field_label(form.documentConfidencial) }}</label>#}
{#            <input type="file" class="form-control" id="{{ field_name(form.documentConfidencial) }}" name="{{ field_name(form.documentConfidencial) }}" >#}
{#        </div>#}
{#        <br>#}
{#        <div class="col-md-4">#}
{#            <label class="form-label" for="{{ field_name(form.documents) }}">Documentación adjunta </label>#}
{#            <input type="file" class="form-control" id="{{ field_name(form.documents) }}" name="{{ field_name(form.documents) }}" multiple>#}
{#        </div>#}


        <h2 class="mt-5">Objetivos</h2><hr>
        <div class="col-auto">
            {% for goal in form.goals.vars.choices %}
                <label class="me-2"><input {% if goal.value in field_value(form.goals) %} checked {% endif %} type="checkbox" name="{{ field_name(form.goals) }}" value='{{ goal.value }}' class="me-1">{{ goal.label }}</label>
            {% endfor %}
            {% for error in field_errors(form.goals) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

    </div>

    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light ">{{ button_label }}</button>
        </div>
    </div>

{{ form_end(form) }}

{% block javascripts %}
    <script src="{{ asset('assets/js/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/js/select2/intltelinput.min.js') }}"></script>
{% endblock %}