{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Tipos de Mentorías'|trans }}{% endblock %}

{% block page_title %}
    {{ 'Show Service'|trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- User Card & Plan Starts -->
        <div class="row">
            <!-- User Card starts-->
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card user-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 mt-2 mt-xl-0">
                                <div class="user-info-wrapper row mr-2 ml-2">
                                    <div class="d-flex flex-wrap col-md-4 row">
                                        <div class="user-info-title font-medium-4 text-center">
                                            <i data-feather="at-sign" class="mr-1"></i>
                                            <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Service'|trans }}: <strong>{{ service.name }}</strong></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap col-md-4 row">
                                        <div class="user-info-title font-medium-4 text-center">
                                            <i data-feather='droplet'></i>
                                            <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Color'|trans }}: <strong style="color:{{ service.color }} !important;">{{ service.color }}</strong></span>
                                        </div>
                                    </div>
{#                                    <div class="d-flex flex-wrap col-md-4 row">#}
{#                                        <div class="user-info-title font-medium-4 text-center">#}
{#                                            <i data-feather='dollar-sign'></i>#}
{#                                            <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Price'|trans }}: {{ service.price }}€</span>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if userPermission.can('list', 'users') %}

        <!-- list section start -->

            <div class="card">
                <div class="card-header">
                    <h3>{{ service.name }}</h3>
                </div>

                <div class="card-datatable overflow-inherit table-responsive card-body">
                    {% include 'extra/filter_limit.html.twig' %}
                    <table class="user-list-table table table-list">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                <a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
                                    {{ 'Name'|trans }} {% if filterService.isOrdered("name") %}<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("surnames", filterService.getInversedOrder("surnames")) }}">
                                    {{ 'Surnames'|trans }} {% if filterService.isOrdered("surnames") %}<i data-feather="{{ filterService.getOrder("surnames").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("email", filterService.getInversedOrder("email")) }}">
                                    {{ 'Email'|trans }} {% if filterService.isOrdered("email") %}<i data-feather="{{ filterService.getOrder("email").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("appointment_color", filterService.getInversedOrder("appointment_color")) }}">
                                    {{ 'Color'|trans }} {% if filterService.isOrdered("appointment_color") %}<i data-feather="{{ filterService.getOrder("appointment_color").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("roles", filterService.getInversedOrder("roles")) }}">
                                    {{ 'Roles'|trans }} {% if filterService.isOrdered("roles") %}<i data-feather="{{ filterService.getOrder("roles").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("status", filterService.getInversedOrder("status")) }}">
                                    {{ 'Status'|trans }} {% if filterService.isOrdered("status") %}<i data-feather="{{ filterService.getOrder("status").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("created_at", filterService.getInversedOrder("created_at")) }}">
                                    {{ 'Creation Date'|trans }} {% if filterService.isOrdered("created_at") %}<i data-feather="{{ filterService.getOrder("created_at").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a>
                                    {{ 'Actions'|trans }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users['data'] %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.surnames }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.appointmentColor }}</td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role }}{% if loop.index != user.roles|length %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if user.status %}<span data-v-32017d0f="" class="badge text-capitalize badge-light-success badge-pill"> {{ 'Active'|trans }} </span>{% else %}<span data-v-32017d0f="" class="badge text-capitalize badge-light-secondary badge-pill"> {{ 'Inactive'|trans }} </span>{% endif %}
                                </td>
                                <td>{{ user.createdAt ? user.createdAt|UTCDateTimeFormat('H:i:s d-m-Y') : '' }}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn dropdown-toggle waves-effect waves-float waves-light p-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i data-feather='align-justify' class="font-medium-5"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-boundary="window" style="z-index: 999 !important;">
                                            {% if userPermission.can('show', 'users') %}
                                                <a class="dropdown-item" href="{{ path('user_show', {'user': user.id}) }}"><i data-feather='eye'></i>{{ 'Show'|trans }}</a>
                                            {% endif %}
                                            {% if userPermission.can('edit', 'users') %}
                                                <a class="dropdown-item" href="{{ path('user_edit', {'user': user.id}) }}"><i data-feather='edit'></i>{{ 'Edit'|trans }}</a>
                                            {% endif %}
                                            {% if userPermission.can('delete', 'users') %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" onclick="$('#deleteForm_user_{{ user.id }}').submit()"><i data-feather='delete'></i>{{ 'Delete'|trans }}</a>
                                                <form method="post" id="deleteForm_user_{{ user.id }}" class="deleteForm d-none" action="{{ path('user_delete', {'user': user.id}) }}">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">{{ 'No results found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end mr-4 mt-2">
                        {% include 'extra/pagination.html.twig' with {
                            filterService: filterService,
                            currentPage: filterService.page,
                            paginationPath: 'service_show',
                            lastPage: lastPage,
                            showAlwaysFirstAndLast: true
                        } only %}
                    </div>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">

        <a class="nav-link cursor-pointer" href="{{ userPermission.can('list', 'services') ? path('service_index') : '#' }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}
