<form name="user" enctype="multipart/form-data" method="post" autocomplete="off">
    <div class="w-100 row">

        <input type="hidden" id="user_delete_image" name="user[delete_image]" autocomplete="off">
        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.logo) }}">{{ field_label(form.logo) }} <span class="text-danger">*</span></label>
            <input type="file" class="form-control"
                   placeholder="{{ field_label(form.logo) }}" id="{{ field_name(form.logo) }}" name="{{ field_name(form.logo) }}"
                   value="{{ field_value(form.logo) }}" accept="image/*" >
        </div>

        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.name) }}">{{ field_label(form.name) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.name) }}" id="{{ field_name(form.name) }}" name="{{ field_name(form.name) }}" value="{{ field_value(form.name) }}" required>
            {% for error in field_errors(form.name) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.address) }}">{{ field_label(form.address) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.address) }}" id="{{ field_name(form.address) }}"
                   name="{{ field_name(form.address) }}" value="{{ field_value(form.address) }}" required>
            {% for error in field_errors(form.address) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.city) }}">{{ field_label(form.city) }} <span class="text-danger">*</span></label>
            <input class="form-control" type="text" placeholder="{{ field_label(form.city) }}" id="{{ field_name(form.city) }}"
                   name="{{ field_name(form.city) }}" value="{{ field_value(form.city) }}" required>
            {% for error in field_errors(form.city) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="country">{{ field_label(form.phone) }} <span class="text-danger">*</span></label>
            <input id="country" type="tel" class="form-control"
                   placeholder="{{ field_label(form.phone) }}" name="{{ field_name(form.phone) }}"
                   value="{%if field_value(form.phone) matches '/\\+34/' %}{{ field_value(form.phone) }}{% else %}+34{{ field_value(form.phone) }}{% endif %}" required>
            <span id="valid-msg" class="invisible hide"></span>
            <span id="error-msg" class="hide text-danger"></span>
        </div>
{#        <div class="col-md-4 col-sm-6 mt-3">#}
{#            <label class="form-label" for="{{ field_name(form.director) }}">{{ field_label(form.director) }} <span class="text-danger">*</span></label>#}
{#            <input class="form-control" type="text" placeholder="{{ field_label(form.director) }}" id="{{ field_name(form.director) }}"#}
{#                   name="{{ field_name(form.director) }}" value="{{ field_value(form.director) }}" required>#}
{#            {% for error in field_errors(form.director) %}#}
{#                <span class="text-danger">{{ error }}</span>#}
{#            {% endfor %}#}
{#        </div>#}

        {{ form_row(form._token) }}

    </div>

    <input id="deleteImgInput" type="hidden" name="user[deleteImg]">
    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light">{{ button_label }}</button>
        </div>
    </div>
</form>

<script>
    function triggerAutonomous(){

        if(document.getElementById("user_autonomous").checked === false){
            document.getElementById("user_appointment_percentage_div").classList.add("d-none");
        }else{
            document.getElementById("user_appointment_percentage_div").classList.remove("d-none");
        }
    }
</script>