{% extends 'base.html.twig' %}

{% block title %}
	{{'Remember password'|trans }}
{% endblock %}

{% block stylesheets %}

	<style>

		.flash-container {
			position: fixed;
			top: 20px;
			right: 20px;
			z-index: 9999;
		}

		.flash-message {
			display: none;
			margin: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			background-color: #f5f5f5;
			color: #333;
		}

		.error-message {
			display: none;
			background-color: #ff3333;
			color: #fff;
			border-radius: 5px;
			padding: 10px;
			text-align: center;
			position: fixed;
			top: -50px; /* Inicia fuera de la vista */
			left: 50%;
			transform: translateX(-50%);
			animation: slideInUp 0.5s 1, slideOutUp 0.5s 3.5s forwards;
			animation-fill-mode: both; 
		}

		@keyframes slideInUp {
			from {
				top: -50px;
			}
			to {
				top: 0;
			}
		}

		@keyframes slideOutUp {
			from {
				top: 0;
			}
			to {
				top: -50px;
				
			}
		}
	</style>
{% endblock %}

{% block body %}

	<div class="col-12 p-0">
		<div class="login-card">
			<div>
				<div>
					<a class="logo"><img class="img-fluid for-light" width="250px" src="{{ configuration.logo_big ? path('document_render', {'document': configuration.logo_big}) : asset('assets/images/logo/login.png') }}" alt="loginpage"><img width="250px" class="img-fluid for-dark" src="{{ configuration.logo_big ? path('document_render', {'document': configuration.logo_big}) : asset('assets/images/logo/logo.png') }}" alt="looginpage"></a>
				</div>
				<div class="remember-password">
					<form method="post" action="{{ path('remember_password_request') }}">
						<input type="hidden" name="title" value={{'Recover password'|trans }}>
						<input type="hidden" name="textMail" value="">

						<div class="form-group">
							<label class="col-form-label">{{ 'Email Address'|trans }}</label>
							<input class="form-control" type="email" required="" name="email">
						</div>
						<div class="form-group mb-0">
							<div class="text-end mt-4">
								<button class="btn btn-primary btn-block w-100" type="submit">{{ 'Recover password'|trans }}</button>
							</div>
						</div>
					</form>
				</div>
				<div id="flash-messages" class="flash-container">
					{% for key, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ key }} flash-message {{ key == 'error' ? 'error-message' : '' }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
</div>{% endblock %}{% block javascripts %}

<script>

	document.addEventListener('DOMContentLoaded', function () {
var flashMessages = document.querySelectorAll('.flash-message');

flashMessages.forEach(function (message) {
message.style.display = 'block';
setTimeout(function () {
message.style.display = 'none';
}, 4000); 
});
});
</script>{% endblock %}
