<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'Edit Template'|trans }} "{{ template.name }}"</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="{{ path('template_edit') }}" method="POST" enctype="multipart/form-data" id="createTemplateForm" class="w-100 row mt-2">
        <input type="hidden" name="_token" value="{{ csrf_token('edit-template') }}"/>

        <input type="hidden" value="{{ template.id }}" id="template_id" name="id">
        <input type="hidden" value="{{ template.event ? template.event.id : '' }}" id="client_template" name="event">
        <input type="hidden" value="{{ template.client ? template.client.id : ''}}" id="client_template" name="client">
        <input type="hidden" value="{{ template.appointment ? template.appointment.id : '' }}" id="appointment_template" name="appointment">
        <input type="hidden" value="{{ template.templateType ? template.templateType.id : '' }}" id="template_type" name="template_type">

        {% for index, templateLineType in template.templateType.templateLineTypes %}
            <div class=" col-12">
                <div class="form-group">
                    <label class="form-control-label {% if templateLineType.type == 'Título' %}font-weight-bolder{% endif %}" for="{{ index }}">{{templateLineType.name}}</label>
                    <input type="hidden" name="template_lines[{{ index }}][name]" value="{{ templateLineType.name}}">
                    <input type="hidden" name="template_lines[{{ index }}][type]" value="{{ templateLineType.type}}">
                    {% include 'template/render_template_form_field.html.twig' with {'entity': templateLineType, 'formName': 'template_lines[' ~ index ~ '][value]', 'id': index, value:template.getTemplateLineValueByName(templateLineType.name)} %}
                <div class="form-group">
            </div>
        {% endfor %}

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('createTemplateForm').submit()">
        {{ 'Edit'|trans }}</button>
</div>


<script>

    $(document).ready(function() {
        flatpickr('.flatpickr_date',{
            locale: locale,
            mode: "single",
            dateFormat: "d-m-Y",
        })

        flatpickr('.flatpickr_time',{
            locale: locale,
            noCalendar: true,
            enableTime: true,
            dateFormat: 'h:i'
        })

        let quills = document.getElementsByClassName('quill-editor');

        for(let i = 0; i < quills.length; i++){
            instanceEditor(quills[i]);
        }

        $('.select2').select2();
        if (feather) {
            feather.replace({
                width: 14,
                height: 14
            });
        }



    });


</script>