{% if entity.type == 'Texto' %}

    <div class="quill-editor" id="{{ id }}Editor"
         data-input-id="{{ id }}">{% if value is defined %}{{ value|raw }}{% endif %}</div>
    <input type="hidden" id="{{ id }}" name="{{ formName }}" value="{% if value is defined %}{{ value }}{% endif %}">

{% elseif entity.type == 'Texto Corto' %}

    <input class="form-control" type="text" id="{{ id }}" name="{{ formName }}" {% if value is defined %}value="{{ value }}"{% endif %}>

{% elseif entity.type == 'Archivo' %}

    <input class="form-control" type="file" id="{{ id }}" name="{{ formName }}">

{% elseif entity.type == 'Título' %}

    <input class="form-control" type="hidden" id="{{ id }}" name="{{ formName }}">

{% elseif entity.type == 'Número' %}

    <input class="form-control" type="number" id="{{ id }}" name="{{ formName }}" min="0" max="10" {% if value is defined %}value="{{ value }}"{% endif %}>

{% elseif entity.type == 'Fecha' %}

    <input class="form-control flatpickr_date" type="text" id="{{ id }}" name="{{ formName }}" {% if value is defined %}value="{{ value }}"{% endif %}>

{% elseif entity.type == 'Hora' %}

    <input class="form-control flatpickr_time" type="text" id="{{ id }}" name="{{ formName }}" {% if value is defined %}value="{{ value }}"{% endif %}>

{% elseif entity.type == 'Color' %}

    <input class="form-control" type="color" id="{{ id }}" name="{{ formName }}" {% if value is defined %}value="{{ value }}"{% endif %}>

{% elseif entity.type == 'Confirmación' %}

    <input class="form-check" type="checkbox" id="{{ id }}" name="{{ formName }}" {% if value is defined %}value="{{ value }}"{% else %}value="Si"{% endif %}>


{% elseif entity.type == 'Selector' %}

    <select class="select2 form-control" id="{{ id }}" name="{{ formName }}" >
        <option value="" {% if value is defined and value == "" %} selected="selected" {% endif %}>Selecciona un valor</option>
        {% for option in entity.options %}
            <option value="{{ option }}" {% if value is defined and value == option %} selected="selected" {% endif %}>{{ option }}</option>
        {% endfor %}
    </select>

{% endif %}