<form name="user" enctype="multipart/form-data" method="post" autocomplete="off">
    <div class="w-100 row">
        {% if not app.user.isTeacher %}
            <div class="col-md-4 col-sm-6 mt-3">
                <label class="form-label" for="teacher">{{ field_label(form.teacher) }} <span class="text-danger">*</span></label>
                <select class="form-control select2" id="teacher" name="{{ field_name(form.teacher) }}" required>
                    <option selected disabled value="">{{ field_label(form.teacher) }}</option>
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if field_value(form.teacher) == user.id %}selected{% endif %}>{{ user.name }} {{ user.surnames }}</option>
                    {% endfor %}
                </select>
                {% for error in field_errors(form.teacher) %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            <input type="hidden" id="{{ field_name(form.teacher) }}" name="{{ field_name(form.teacher) }}" value="{{ app.user.id }}">
        {% endif %}

        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="lesson">{{ field_label(form.lesson) }} <span class="text-danger">*</span></label>
            <select class="form-control select2" id="lesson" name="{{ field_name(form.lesson) }}" required>

            </select>
            {% for error in field_errors(form.room) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="room">{{ field_label(form.room) }} <span class="text-danger">*</span></label>
            <select class="form-control select2" id="room" name="{{ field_name(form.room) }}" required>

            </select>
            {% for error in field_errors(form.room) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.date_from) }}">{{ field_label(form.date_from) }} <span class="text-danger">*</span></label>
            <input class="form-control flatpickr" type="text" placeholder="{{ field_label(form.date_from) }}" id="{{ field_name(form.date_from) }}" name="{{ field_name(form.date_from) }}" value="{{ field_value(form.date_from)['date']['day'] }}/{{ field_value(form.date_from)['date']['month'] }}/{{ field_value(form.date_from)['date']['year'] }} {{ field_value(form.date_from)['time']['hour'] }}:{{ field_value(form.date_from)['time']['minute'] }}" required>
            {% for error in field_errors(form.date_from) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="col-md-4 col-sm-6 mt-3">
            <label class="form-label" for="{{ field_name(form.date_to) }}">{{ field_label(form.date_to) }} <span class="text-danger">*</span></label>
            <input class="form-control flatpickr" type="text" placeholder="{{ field_label(form.date_to) }}" id="{{ field_name(form.date_to) }}" name="{{ field_name(form.date_to) }}" value="{{ field_value(form.date_to)['date']['day'] }}/{{ field_value(form.date_to)['date']['month'] }}/{{ field_value(form.date_to)['date']['year'] }} {{ field_value(form.date_to)['time']['hour'] }}:{{ field_value(form.date_to)['time']['minute'] }}" required>
            {% for error in field_errors(form.date_to) %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>

        {{ form_row(form._token) }}

    </div>

    <input id="deleteImgInput" type="hidden" name="user[deleteImg]">
    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light">{{ button_label }}</button>
        </div>
    </div>
</form>

<script src="{{ asset('assets/js/jquery-3.5.1.min.js') }}"></script>
<script>
    $(document).ready(function() {
        function changeLessonsAndRooms(userId){
            $.ajax({
                type: 'post',
                cache: "true",
                dataType: 'json',
                url: "{{ path('lesson_get_by_user') }}",
                data: {
                    user: userId,
                    _token: '{{ csrf_token('get-lessons-by-user') }}'
                },
                success: function(data){

                    $('#lesson option').remove();
                    data['lessons'].forEach(lesson => {

                        $('#lesson').append('<option value="'+lesson['id']+'">'+lesson['name']+'</option>').trigger('change');

                    });
                }
            });

            $.ajax({
                type: 'post',
                cache: "true",
                dataType: 'json',
                url: "{{ path('room_get_by_user') }}",
                data: {
                    user: userId,
                    _token: '{{ csrf_token('get-rooms-by-user') }}'
                },
                success: function(data){

                    $('#room option').remove();
                    data['rooms'].forEach(room => {

                        $('#room').append('<option value="'+room['id']+'">Planta '+room['floor']+', habitación '+room['number']+'</option>').trigger('change');

                    });
                }
            });
        }

        {% if app.user.isTeacher %}
            changeLessonsAndRooms({{ app.user.id }});
        {% else %}
            $("#teacher").on("change", function () {
                console.log(1);
                changeLessonsAndRooms($(this).val());
            });
        {% endif %}
    });
</script>