{% extends 'base-admin.html.twig' %}

{% block title %}Lista de Mentorías{% endblock %}

{% block body %}
    <div class="modal fade" id="templateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" id="templateModalContent" >

            </div>
        </div>
    </div>
    <!-- users list start -->
    <div class="container-fluid">
        <!-- list section start -->
        <div class="card">
            <div class="card-datatable pt-0 overflow-inherit table-responsive card-body">
                <div class="w-100 justify-content-end m-2 m-l-0">

                    <div class="mt-1 ml-2 mb-1 mr-2 d-flex flex-column flex-md-row justify-content-between">
                        <div class="col row d-flex justify-content-end p-l-0 m-l-0">
                            <p class="p-l-0">
                                <span class="font-weight-normal">{{ 'Selected Appointment'|trans }}: <span id="selectedAppointments" class="font-weight-bold">0</span></span>
                                {# <br> #}
                                {# <span class="font-weight-normal">{{ 'Total price of selected appointments'|trans }}: <span id="selectedAppointmentsPrice" class="font-weight-bold">0</span>€</span> #}
                            </p>
                        </div>


                        <div class="col d-flex justify-content-end">

                            {# <div class="dropstart">
                                <button class="btn btn-transparent text-dark p-0 m-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i data-feather='align-justify'></i>
                                </button>
                                <div class="dropdown-menu dropdown-block" >

                                    <a class="dropdown-item" id="printAppointments" href="javascript:void(0);"><i class="align-middle" data-feather="printer"></i>&nbsp; <span class="align-middle">{{ 'Print Appointment'|trans }}</span> </a>
                                    <a class="dropdown-item" id="copyAppointments" href="javascript:void(0);"><i class="align-middle" data-feather='copy'></i>&nbsp;<span class="align-middle">{{ 'Copy'|trans }}</span></a>
                                    {% if configuration.invoice and userPermission.can('create', 'invoices') %}
                                        <a class="dropdown-item" id="generateInvoices" href="javascript:void(0);"><i class="align-middle" data-feather='file'></i>&nbsp;<span class="align-middle">{{ 'Generate Invoice'|trans }}</span></a>
                                        <a class="dropdown-item" id="generateUserInvoiceMultiple" href="javascript:void(0);"><i class="align-middle" data-feather='file-text'></i>&nbsp;<span class="align-middle">{{ ('Generate ' ~ configuration.user_nomenclature ~ ' Multiple Invoice')|trans }}</span></a>
                                    {% endif %}
                                    <a class="dropdown-item" id="sendNotifications" href="javascript:void(0);"><i class="align-middle" data-feather='bell'></i>&nbsp;<span class="align-middle">{{ 'Send Notification'|trans }}</span></a> #}
                                   {#  <a class="dropdown-item text-center px-0 w-auto" id="deleteAppointments" href="javascript:void(0);"><i class="align-middle" data-feather='trash-2'></i>&nbsp;<span class="align-middle">{{ 'Eliminar Mentorías'|trans }}</span></a>#}

                                {# </div> #}
                            {# </div> #}

                        </div>

                    </div>
                </div>

                <div class="table-responsive overflow-inherit">
                    <div class="overflow-auto">
                        <table class="invoice-list-table table  overflow-auto ">
                        <thead>
                        <tr>
                            <th>
                                <a>
                                    <input type="checkbox" id="checkAll">
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("user", filterService.getInversedOrder("user")) }}">
                                    Mentor {% if filterService.isOrdered("user") %}<i data-feather="{{ filterService.getOrder("user").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th >
                                <a href="{{ filterService.orderBy("client", filterService.getInversedOrder("client")) }}">
                                    Proyecto {% if filterService.isOrdered("client") %}<i data-feather="{{ filterService.getOrder("client").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th style="min-width: 150px;">
                                <a href="{{ filterService.orderBy("date", filterService.getInversedOrder("date")) }}">
                                    {{ 'Date'|trans }} {% if filterService.isOrdered("date") %}<i data-feather="{{ filterService.getOrder("date").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                             <th>
                                    {{ 'Acta Firmada'|trans }}
                            </th>
                            <th>
                                {{ 'Acta/Foto'|trans }}
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("status", filterService.getInversedOrder("status")) }}">
                                    {{ 'Status'|trans }} {% if filterService.isOrdered("status") %}<i data-feather="{{ filterService.getOrder("status").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>

                            <th style="min-width: 120px;">
                                <a>
                                    {{ 'Actions'|trans }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointments['data'] %}
                            <tr data-id="{{ appointment.id }}">
                                <td>
                                    <input type="checkbox" name="appointment_ids[]" class="checkAppointment" onclick="updateTotal()" data-price="{{ appointment.totalPrice }}" form="selected_checkbox_appointments" value="{{ appointment.id }}">
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="align-self-center mr-1">
                                        {% if appointment.users %}
                                            <div id="avatars-images" class="text-nowrap">
                                                <ul>
                                                    {% for entity in appointment.users | slice(0,5) %}
                                                        <li>
                                                            <img data-bs-toggle="tooltip" data-html="true" data-placement="bottom" title='{{ entity.name }} {{ entity.surnames }}'
                                                                 class="imgProfile w-100 h-100"  alt="{{ entity.name }}"
                                                                 src="{% if entity.imgProfile != null %}{{ documentImage.DocumentImage(entity.imgProfile) }}
                                                                      {% else %}{{ asset('assets/images/dashboard/profile.jpg') }}{% endif %}"
                                                                 style="object-fit: cover; ">
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}

                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="d-flex align-items-center mb-2">
                                                {{ appointment.client.name is defined ? appointment.client.name : '-' }}{% if appointment.client.alumni %} (Alumni){% endif %} - {{ appointment.client.center.name is defined ? appointment.client.center.name : '' }}
                                            </div>
                                            <div class="d-flex align-items-center mb-2">
                                                Area: {{ appointment.area.name is defined ? appointment.area.name : '-' }}
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td><div class="d-flex align-items-center mb-2"><i data-feather="calendar" class="me-2" style="width: 15px"></i>
                                        {% if appointment.timeFrom is not null %}
                                            {{ appointment.timeFrom ? appointment.timeFrom|UTCDateTimeFormat('d-m-Y') : '' }}
                                        {% endif %}
                                    </div>
                                    <div class="d-flex align-items-center"><i data-feather="clock" class="me-2" style="width: 15px"></i>
                                        {% if appointment.timeFrom is not null %}
                                        {{ appointment.timeFrom ? appointment.timeFrom|UTCDateTimeFormat('H:i') : '' }} - {{ appointment.timeTo ? appointment.timeTo|UTCDateTimeFormat('H:i') : '' }}
                                        {% endif %}
                                    </div>




                                </td>
                                {#
                                <td>
                                    {% for service in appointment.services %}
                                        <span class="badge badge-light-secondary">{{ service.name }} {{ service.division ? '-' ~ service.division.name : '' }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ appointment.type }}</td>
                                #}
                                <td>{% if appointment.report %}
                                        {% if appointment.reportSignMentor %}
                                            {% if appointment.reportSignProject %}
                                                <span class="badge badge-light-success">{{ 'Firmado'|trans }}</span>
                                            {% else %}
                                                <span class="badge badge-light-danger">{{ 'Acta Proyecto sin firmar'|trans }}</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="badge badge-light-danger">{{ 'Acta Mentor sin firmar'|trans }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge badge-light-danger">{{ 'Acta sin Generar'|trans }}</span>
                                    {% endif %}</td>
                                <td>
                                    {% if appointment.photo %}
                                        <span class="badge badge-light-success">{{ 'Acta/Foto subida'|trans }}</span>
                                    {% else %}
                                        <span class="badge badge-light-danger">{{ 'Acta/Foto sin subir'|trans }}</span>
                                    {% endif %}
                                </td>
                                <td >

                                    <span class="badge text-capitalize" style="background-color: {{ appointment.statusType.color }} !important;"> {{ appointment.statusType.name|trans }} </span>

                                    {% if configuration.invoice %}
                                        {% if appointment.invoices|length > 0 %}
                                            <span class="badge badge-light-success" data-bs-toggle="tooltip" title="{{ 'Invoiced'|trans }}"><i data-feather="file"></i></span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="">
                                                {% if userPermission.can('show', 'appointments') %}
                                                    <a class="" href="{{ path('appointment_show', {'appointment':appointment.id}) }}" data-id="{{ appointment.id }}"><i class="align-middle" data-feather='eye'></i><span class="ms-1 align-middle"></span></a>
                                                {% endif %}

                                                {# {% if userPermission.can('edit', 'appointments') %}
                                                    {% if appointment.statusType is not null %}
                                                        {% if appointment.statusType.id != 3 %}
                                                            <a class=" completeAppointment" style="cursor:pointer;" onclick="$('#complete_appointment_{{ appointment.id }}').submit();" data-id="{{ appointment.id }}"><i class="align-middle" data-feather='check-square'></i><span class="align-middle"></span></a>
                                                            <form method="post" id="complete_appointment_{{ appointment.id }}" action="{{ path('complete_appointment', {'appointment': appointment.id}) }}" class="d-none">
                                                                <input type="hidden" name="_method" value="POST">
                                                                <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                                                <input type="hidden" name="url" value="{{ app.request.uri }}">
                                                                <button class="btn">Delete</button>
                                                            </form>
                                                        {% endif %}
                                                    {% else %}
                                                        <a class=" completeAppointment" style="cursor:pointer;" onclick="$('#complete_appointment_{{ appointment.id }}').submit();" data-id="{{ appointment.id }}"><i class="align-middle" data-feather='check-square'></i> <span class="align-middle"> </span></a>
                                                        <form method="post" id="complete_appointment_{{ appointment.id }}" action="{{ path('complete_appointment', {'appointment': appointment.id}) }}" class="d-none">
                                                            <input type="hidden" name="_method" value="POST">
                                                            <input type="hidden" name="url" value="{{ app.request.uri }}">
                                                        </form>
                                                    {% endif %}
                                                {% endif %} #}
                                                {# {% if configuration.invoice and userPermission.can('create', 'invoices') %}
                                                    <a class="dropdown-item generateInvoice" style="cursor:pointer;" data-id="{{ appointment.id }}"><i class="align-middle" data-feather='file'></i>
                                                        <span class="align-middle">{{ 'Generar factura'|trans }}</span></a>
                                                {% endif %} #}
                                                {% if userPermission.can('edit', 'appointments') %}
                                                    <form method="post" id="change_status_appointment_{{ appointment.id }}" action="{{ path('change_status_appointment', {'appointment': appointment.id}) }}" class="d-none">
                                                        <input type="hidden" name="_method" value="POST">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('change-status') }}">
                                                        <input type="hidden" name="status" value="1">
                                                    </form>
                                                    <a class="editAppointment" style="cursor:pointer;" href="{{ path('appointment_edit', {'appointment': appointment.id}) }}"><i class="align-middle" data-feather='edit'></i>
                                                        <span class="align-middle"></span></a>
                                                {% endif %}

                                                {% if userPermission.can('delete', 'appointments') %}
                                                    <a class="" style="cursor:pointer;" onclick="$('#deleteForm_appointment_{{ appointment.id }}').submit()"><i class="align-middle" data-feather='trash-2'></i>
                                                        <span class="align-middle"> </span></a>
                                                    <form method="post" id="deleteForm_appointment_{{ appointment.id }}" action="{{ path('appointment_delete', {'appointment': appointment.id}) }}" class="deleteForm d-none">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                                                        <input type="hidden" name="route" value="{{ path('appointment_list') }}">
                                                    </form>
                                                {% endif %}

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">{{'No results found'|trans}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {# {% if appointments['data']|length > 0 %}
                            <tfoot>
                            <tr>
                                <td colspan="9" class="text-end"><h5 class="font-weight-normal">{% if totalAmount is not null %}{{ 'Total'|trans }}: {{ totalAmount|number_format(2) }}{% else %}0{% endif %}€</h5></td>

                            </tr>
                            </tfoot>
                        {% endif %} #}
                    </table>
                    </div>
                    {% include 'extra/filter_limit.html.twig' %}

                    <form id="selected_checkbox_appointments">
                    </form>
                    <form id="delete_appointments_form">
                        <input type="hidden" name="url" value="{{ app.request.uri }}">
                    </form>
                </div>
                <div class="d-flex justify-content-end mr-4 mt-2">
                    {% include 'extra/pagination.html.twig' with {
                        filterService: filterService,
                        currentPage: filterService.page,
                        paginationPath: 'appointment_list',
                        lastPage: lastPage,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>
            </div>
        </div>
        <!-- list section end -->
    </div>

{% endblock %}

{% block javascripts %}

    <script>

        $('#filter').on('click', function () {
            $('#filter_form').attr('action', '{{ path('appointment_list') }}');
        })

        function addSurvey(surveyId){
            const surveyType = surveyId.getAttribute('data-value');
            const hours = surveyId.getAttribute('data-hours');
            const minutes = surveyId.getAttribute('data-minutes');
            const mentor = surveyId.getAttribute('data-mentor');
            const area = surveyId.getAttribute('data-area');
            const appointmentId = surveyId.getAttribute('data-appointmet')
            $.ajax({
                url: '{{ path('document_get_survey') }}',
                type: 'POST',
                dataType: 'json',
                delay: 250,
                data: {
                    surveyType: surveyType,
                    hours: hours,
                    minutes: minutes,
                    mentor: mentor,
                    area: area,
                    appointmentId: appointmentId
                },
                success: function (response) {
                    if (response.success) {

                        $('#templateModalContent').html(response.data);

                        if (feather) {
                            feather.replace({
                                width: 14,
                                height: 14
                            });
                        }

                        $('#templateModal').modal('show');

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            })
        }

        function getCookie(cookieName) {
            let cookie = [];
            document.cookie.split(';').forEach(function(el) {
                let [key,value] = el.split('=');
                cookie[key.trim()] = value;
            })
            return cookie[cookieName];
        }

        function updateTotal(){
            let total = 0;
            let totalPrice = 0;
            $('.checkAppointment:checked').each(function( index ) {
                total++;
                totalPrice += parseFloat($(this).attr('data-price'));
            });

            $('#selectedAppointments').text(total);
            $('#selectedAppointmentsPrice').text(totalPrice.toFixed(2));
        }

        document.getElementById('checkAll').addEventListener('click', function (element) {
            let source = element.target;
            document.querySelectorAll('.checkAppointment').forEach((element) => {
                element.checked = source.checked
            })

            updateTotal();
        });

        {% if configuration.invoice and userPermission.can('create', 'invoices') %}

            $('#generateInvoices').on('click', function () {
                let alert;

                $.ajax({
                    type: 'POST',
                    cache: "true",
                    dataType: 'json',
                    url: "{{ path('invoice_generate') }}",
                    data: $('#selected_checkbox_appointments').serializeArray(),
                    beforeSend: function( xhr ) {
                        alert = Swal.fire({
                            title: '{{'Info'|trans}}',
                            text: "{{'Invoices are being generated, this action may take a moment...'|trans}}",
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowOutsideClick: false
                        })
                    },
                    success: function (data) {
                        alert.close();
                        if(data['SUCCESS'] == true){
                            Swal.fire({
                                title: '{{ 'Generated'|trans }}',
                                text: '{{ 'Invoices have been generated for the selected appointments'|trans }}',
                                icon: 'success'
                            });
                        }
                    }
                });


            })

            $('#generateUserInvoiceMultiple').on('click', function () {
                let alert;

                $.ajax({
                    type: 'POST',
                    cache: "true",
                    dataType: 'json',
                    url: "{{ path('invoice_generate_multiple') }}?{{ filterService.getQueryString() }}",
                    data: {
                        _token: '{{ csrf_token('generate_multiple') }}'
                    },
                    beforeSend: function( xhr ) {
                        alert = Swal.fire({
                            title: '{{'Info'|trans}}',
                            text: "{{'Invoices are being generated, this action may take a moment...'|trans}}",
                            icon: 'info',
                            showCancelButton: false,
                            showConfirmButton: false,
                            allowOutsideClick: false
                        })
                    },
                    success: function (data) {
                        alert.close();
                        if(data['SUCCESS'] == true){
                            Swal.fire({
                                title: '{{ 'Generated'|trans }}',
                                text: '{{ 'Invoices have been generated for the selected appointments'|trans }}',
                                icon: 'success'
                            });
                        }
                    }
                });


            })

            $('.generateInvoice').on('click', function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: "{{ path('invoice_generate') }}/"+$(this).attr('data-id'),
                    success: function (data) {

                        if(data['SUCCESS'] == true){
                            Swal.fire({
                                title: '{{ 'Generated'|trans }}',
                                text: '{{ 'The invoice for the selected appointment has been generated'|trans }}',
                                icon: 'success'
                            });
                        }


                    }
                });
            })

        {% endif %}

        {% if userPermission.can('delete', 'appointments') %}
            $('#deleteAppointments').on('click', function() {

                let form = document.getElementById('delete_appointments_form');
                form.method =  "POST";
                form.action = "{{ path('delete_multiple_appointment') }}";

                let method = document.createElement("input");
                method.type = "text";
                method.name =  "method";
                method.value = "POST";

                let token = document.createElement("input");
                token.type = "text";
                token.name =  "_token";
                token.value = "{{ csrf_token('delete-appointments') }}";

                let inputs =  $('#selected_checkbox_appointments').serializeArray();
                for (let i = 0; i < inputs.length; i++) {
                    let inputElement = document.createElement("input");
                    inputElement.type = "hidden";
                    inputElement.name =  "appointment_ids[]";
                    inputElement.value = inputs[i].value;

                    form.appendChild(inputElement);
                }

                form.appendChild(method);
                form.appendChild(token);


                form.submit();
            })
        {% endif %}

        {% if userPermission.can('edit', 'appointments') %}

        $('.notifyAppointment').on('click', function () {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{{ path('notify_appointment') }}/"+$(this).attr('data-id'),
                data: {appointments: $(this).attr('data-id')},
                success: function (data) {

                    if(data['errors'].length == 0){
                        Swal.fire(
                            '{{ 'Sent'|trans }}',
                            '{{ (configuration.client_nomenclature ~ 's have been notified of appointments')|trans }}.',
                            'success'
                        );
                    }else{
                        let list = '';
                        for (let error in data['errors']) {
                            list += '<li>'+error+'</li>';
                        }

                        Swal.fire(
                            '{{ 'Sent'|trans }}',
                            '{{ (configuration.client_nomenclature ~ 's have been notified of appointments')|trans }}.',
                            'success'
                        ).then({
                            title: '{{'Info'|trans}}',
                            icon: 'info',
                            html:
                                '<ul>' +
                                 + list +
                                '</ul>',
                        })
                    }


                }
            });
        })

        $('#sendNotifications').on('click', function () {

            $.ajax({
                type: 'post',
                cache: "true",
                dataType: 'json',
                url: "{{ path('notify_appointment') }}",
                data: $('#selected_checkbox_appointments').serializeArray(),
                success: function (data) {
                    
                    if(data['errors'].length == 0){
                        Swal.fire({
                            title: '{{ 'Sent'|trans }}',
                            text: '{{ (configuration.client_nomenclature ~ 's have been notified of appointments')|trans }}.',
                            icon: 'success'
                        });
                    }else{
                        let list = '';
                        for (let i = 0; i < data['errors'].length; i++) {
                            list += '<li>'+data['errors'][i]+'</li>';
                        }
                        
                        Swal.fire({
                            title: '{{ 'Sent'|trans }}',
                            text: '{{ (configuration.client_nomenclature ~ 's have been notified of appointments')|trans }}.',
                            icon: 'success'
                        }).then((result) => {
                            Swal.fire({
                                title: '{{'Info'|trans}}',
                                icon: 'info',
                                html:
                                    '<ul>' +
                                    list +
                                    '</ul>'
                            })
                        })
                    }
                }
            });

        })
        {% endif %}

        {% if userPermission.can('create', 'appointments') %}
        $('#copyAppointments').on('click', async function () {

            swal.fire({
                title: '{{ 'Copy'|trans }} {{ 'Appointments'|trans }}',
                text: '{{ 'Enter the date on which you want to copy the appointments'|trans }}',
                input: 'text',
                inputAttributes: {
                    id: 'swal-input-date'
                },
                showCancelButton: true,
                confirmButtonText: '{{ 'Copy'|trans }}',
                cancelButtonText: '{{ 'Cancel'|trans }}',
                showLoaderOnConfirm: true,
                didOpen: () => {
                    flatpickr('#swal-input-date', {
                        locale: locale,
                        dateFormat: "d-m-Y",
                    });
                },
                preConfirm: async (date) => {

                    if (date) {
                        let parameters = $('#selected_checkbox_appointments').serializeArray();
                        parameters.push({name:"date",value:date});

                        let ajaxData =
                            await $.ajax({
                            type: 'POST',
                            cache: "true",
                            dataType: 'json',
                            url: "{{ path('copy_appointment') }}",
                            data: parameters,
                            success: function (data) {
                                return data;

                            }
                        });
                        return ajaxData;
                    }

                    return responseData;
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {

                    if(result.value['errors'].length == 0){
                        Swal.fire({
                            title: '{{ 'Copied'|trans }}',
                            text: '{{ 'Selected appointments have been copied'|trans }}',
                            icon: 'success'
                        });
                    }else{
                        let list = '';
                        for (let i = 0; i < result.value['errors'].length; i++) {
                            list += '<li>'+result.value['errors'][i]+'</li>';
                        }

                        Swal.fire({
                            title: '{{ 'Copied'|trans }}',
                            text: '{{ 'Selected appointments have been copied'|trans }}',
                            icon: 'success'
                        }).then((result2) => {
                            Swal.fire({
                                title: '{{ 'Info'|trans }}',
                                icon: 'info',
                                html:
                                    '<ul>' +
                                    list +
                                    '</ul>'
                            })
                        })
                    }

                }
            })

        })
        {% endif %}


    </script>
{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside d-flex align-items-center">
        {% if userPermission.can('create', 'appointments') %}
            <a class="nav-link bg-primary-color" href="{{ path('appointment_new') }}">
                <i class="ficon" data-feather="plus-circle" style="stroke: white"></i>
            </a>
        {% endif %}

        <a class="nav-link cursor-pointer mr-1 bg-primary-color"href="#" onclick="toggleFilter()" >
            <i data-feather="filter" style="stroke: white"></i>
        </a>
        <div class="d-none d-md-block"><h5 class="mb-0 ms-3">Lista de mentorías</h5></div>
        <div class="d-block d-md-none"><h5 class="mb-0 ms-3">Mentorías</h5></div>

    </li>

{% endblock %}

{% block sidebar %}
    {% include 'extra/filters/appointment_filter.html.twig' %}
{% endblock %}