<form method="post" action="{{ path('invoice_edit_process', {'invoice':invoice.id}) }}">
    <div id="invoice" class="row">

        <div class="col-4">
            <label for="position" class="required">{{ 'Invoice Number'|trans }}</label>
            <div class="input-group">
                <span class="input-group-text font-weight-bold" id="basic-position">{{ invoice.serie }}/</span>
                <input type="text" class="form-control" aria-describedby="basic-position" id="position" name="position" value="{{ invoice.invoicePosition }}">
            </div>
        </div>

        <div class="col-4">
            <label for="payment_method" class="required">{{ 'Payment Method'|trans }}</label>
            <select
                    class="form-control mb-2 select2"
                    id="payment_method"
                    name="payment_method"
                    required="required">
                {% for paymentMethod in paymentMethods %}
                    <option value="{{ paymentMethod.name }}" {% if paymentMethod.name == invoice.paymentMethod %}selected="selected"{% endif %}>{{ paymentMethod.name|trans }}</option>
                {% endfor %}
            </select>

        </div>

        <div class="col-4">
            <label for="invoice_date" class="required">{{ 'Invoice Date'|trans }}</label>
            <input type="text"
                   id="invoice_date"
                   name="invoice_date"
                   required="required"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.invoiceDate|UTCDateTimeFormat('d-m-Y')|default('') }}">
        </div>

        <div class="col-12 dropdown-divider mb-2"></div>

        <div class="col-6">
            <label for="social_reason" class="required">{{ 'Company Name'|trans }}</label>
            <input type="text"
                   id="social_reason"
                   name="social_reason"
                   maxlength="255"
                   required="required"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.socialReason|default('') }}">
        </div>

        <div class="col-6">
            <label for="billing_address" class="required">{{ 'Invoice Address'|trans }}</label>
            <input type="text"
                   id="billing_address"
                   name="billing_address"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.billingAddress|default('') }}">
        </div>

        <div class="col-6">
            <label for="cif" class="required">{{ 'FIC'|trans }}</label>
            <input type="text"
                   id="cif"
                   name="cif"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.cif|default('') }}">
        </div>

        <div class="col-6">
            <label for="company_phone" class="required">{{ 'Company Phone'|trans }}</label>
            <input type="text"
                   id="company_phone"
                   name="company_phone"
                   maxlength="255"
                   required="required"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.companyPhone|default('') }}">
        </div>

        <div class="col-12 dropdown-divider mb-2"></div>

        <div class="col-6">
            <label for="client" class="required">{% if invoice.user %}{{ configuration.user_nomenclature|trans }}{% elseif invocie.client %}{{ configuration.client_nomenclature|trans }}{% endif %}</label>
            <input type="text"
                   id="client"
                   name="client"
                   required="required"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.name|default('') }}">
        </div>

        <div class="col-6">
            <label for="client_dni" class="required">{% if invoice.user %}{{ (configuration.user_nomenclature  ~ ' ID')|trans }}{% elseif invocie.client %}{{ (configuration.client_nomenclature ~ ' ID')|trans}}{% endif %}</label>
            <input type="text"
                   id="client_dni"
                   name="client_dni"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.dni|default('') }}">
        </div>

        <div class="col-6">
            <label for="client_phone" class="required">{% if invoice.user %}{{ (configuration.user_nomenclature  ~ ' Phone')|trans }}{% elseif invocie.client %}{{ (configuration.client_nomenclature ~ ' Phone')|trans}}{% endif %}</label>
            <input type="text"
                   id="client_phone"
                   name="client_phone"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.phone|default('') }}">
        </div>

        <div class="col-6">
            <label for="client_address" class="required">{% if invoice.user %}{{ (configuration.user_nomenclature  ~ ' Address')|trans }}{% elseif invocie.client %}{{ (configuration.client_nomenclature ~ ' Address')|trans}}{% endif %}</label>
            <input type="text"
                   id="client_address"
                   name="client_address"
                   maxlength="255"
                   class="form-control mb-2"
                   autocomplete="off" value="{{ invoice.address|default('') }}">
        </div>

        <div class="col-12 dropdown-divider mb-2"></div>

        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {{ 'Service'|trans }}
                        </th>
                        <th>
                            {{ 'Price Without VAT'|trans }}
                        </th>
                        <th>
                            {{ 'VAT'|trans }}
                        </th>
                        <th>
                            {{ 'Price With VAT'|trans }}
                        </th>
                        <th>
                            {{ 'Actions'|trans }}
                        </th>
                    </tr>
                </thead>
                <tbody id="table-breakdown">

                    {% for serviceBreakdown in invoice.breakdown %}

                        <tr class="border" id="service-{{ loop.index }}">
                            <td>
                                <input type="text" class="form-control w-75" name="breakdown[{{ loop.index }}][service]" value="{{ serviceBreakdown['service'] }}">
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-priceWithoutIva">€</span>
                                    <input type="number" step="0.01" class="form-control" aria-describedby="basic-priceWithoutIva" name="breakdown[{{ loop.index }}][priceWithoutIva]" value="{{ serviceBreakdown['priceWithoutIva']|number_format(2) }}">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-iva">%</span>
                                    <input type="number" step="0.01" class="form-control" aria-describedby="basic-iva" name="breakdown[{{ loop.index }}][iva]" value="{{ serviceBreakdown['iva']|number_format(2) }}">
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-priceWithIva">€</span>
                                    <input type="number" step="0.01" class="form-control" aria-describedby="basic-priceWithIva" name="breakdown[{{ loop.index }}][priceWithIva]" value="{{ serviceBreakdown['priceWithIva']|number_format(2) }}">
                                </div>
                            </td>
                            <td>
                                <span onclick="document.getElementById('service-{{ loop.index }}').remove()" class="cursor-pointer" ><i data-feather="delete" class="font-medium-4"></i></span>
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-12 mt-2 d-flex justify-content-center">
            <button class="btn btn-outline-primary" type="button" onclick="addService()"><i data-feather="plus-circle" class="font-medium-4"></i></button>
        </div>


    </div>

    <input type="hidden" name="_token" value="{{ csrf_token('edit-invoice') }}">

    <div class="row d-flex justify-content-end">
        <div class="mr-2 text-end">
            <button class="btn button_primary text-white mt-3">{{ button_label|trans }}</button>
        </div>
    </div>
</form>

{% block javascripts %}
    <script>

        let serviceCounter = {{ invoice.breakdown|length +1 }};
        window.onload = function() {
            $('.select2').select2();

            flatpickr('#invoice_date', {
                locale: locale,
                dateFormat: "d-m-Y",
                "disable": [
                    function (date) {

                        if (date <= new Date('{{ invoice.invoiceDate|date('Y') - 1 }}-12-31') || date > new Date('{{ invoice.invoiceDate|date('Y') }}-12-31')) {
                            return true;
                        }

                    }
                ],
            });
        };

        function addService()
        {
            let html = `
                <tr class="border" id="service-${serviceCounter}">
                    <td>
                        <input type="text" class="form-control w-75" name="breakdown[${serviceCounter}][service]">
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-priceWithoutIva">€</span>
                            <input type="number" step="0.01" class="form-control" aria-describedby="basic-priceWithoutIva" name="breakdown[${serviceCounter}][priceWithoutIva]">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-iva">%</span>
                            <input type="number" step="0.01" class="form-control" aria-describedby="basic-iva" name="breakdown[${serviceCounter}][iva]">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-priceWithIva">€</span>
                            <input type="number" step="0.01" class="form-control" aria-describedby="basic-priceWithIva" name="breakdown[${serviceCounter}][priceWithIva]">
                        </div>
                    </td>
                    <td>
                        <span onclick="document.getElementById('service-${serviceCounter}').remove()" class="cursor-pointer" ><i data-feather="delete" class="font-medium-4"></i></span>
                    </td>
                </tr>
            `;

            $('#table-breakdown').append(html);
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
            serviceCounter++;
        }
    </script>
{% endblock %}