{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Show Invoice'|trans }}{% endblock %}

{% block page_title %}{{ 'Show Invoice'|trans }}{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <!-- User Card starts-->

        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card user-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                            <div class="user-avatar-section">
                                <div class="d-flex justify-content-start">
                                    <div class="d-flex flex-column ml-1">
                                        <div class="user-info mb-1">
                                            <h3 class="mb-0">{{ 'Invoice'|trans }} #{{ invoice.invoiceNumber }}</h3>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            {% if userPermission.can('show', 'appointments') and invoice.appointment %}
                                                <div class="mr-1">
                                                    <a href="{{ path('appointment_show', {'appointment': invoice.appointment.id}) }}" class="btn btn-outline-primary">{{ 'Show Appointment'|trans }}</a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 pt-2 mt-xl-0">
                            <div class="user-info-wrapper ">
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="dollar-sign" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Amount'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.amount }}€</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="dollar-sign" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Total With VAT'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.amountWithIva }}€</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="credit-card" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Payment method'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.paymentMethod }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="calendar" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Invoice Date'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.invoiceDate|UTCDateTimeFormat('d-m-Y') }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

                <hr class="invoice-spacing" />

                <div class="card-body">
                    <div class="d-flex flex-wrap">
{#                        {% if userPermission.can('edit', 'invoices') %}#}
{#                            <div class=" mr-1">#}
{#                                <a href="{{ path('invoice_edit', {'invoice': invoice.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>#}
{#                            </div>#}
{#                        {% endif %}#}
                        {% if userPermission.can('create', 'invoices') %}
                            <div class="">
                                <a href="{{ path('invoice_export_pdf', {'invoice': invoice.id}) }}" class="btn btn-outline-primary">{{ 'Print invoice'|trans }}</a>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xl-8 col-lg-12 col-md-12">
            <div class="card user-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                            <div class="user-info-wrapper ">
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="at-sign" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Company Name'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.socialReason }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="clipboard" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'FIC'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.cif }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="phone-call" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Company Phone'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.companyPhone }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="map" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Invoice Address'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.billingAddress }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                            <div class="user-info-wrapper ">
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="user" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Client'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.name }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="key" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'ID'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.dni }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="phone-call" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Phone'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.phone }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap align-items-end row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="map" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Address'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ invoice.address }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card user-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ 'Breakdown'|trans }}</h4>
                        </div>
                        <table class="col-12 table">
                            <thead>
                                <th>
                                    {{ 'Service'|trans }}
                                </th>
                                <th>
                                    {{ 'Total Without VAT'|trans }}
                                </th>
                                <th>
                                    {{ 'VAT'|trans }}
                                </th>
                                <th>
                                    {{ 'Total With VAT'|trans }}
                                </th>
                            </thead>
                            <tbody>
                                {% for service in invoice.breakdown %}
                                    <tr>
                                        <td>
                                            {{ service['service'] }}
                                        </td>
                                        <td>
                                            {{ service['priceWithoutIva']|number_format(2) }}€
                                        </td>
                                        <td>
                                            {{ service['iva']|number_format(2) }}%
                                        </td>
                                        <td>
                                            {{ service['priceWithIva']|number_format(2) }}€
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('.select2').select2();
            $('.select2-selection__arrow').remove();
        });
    </script>
{% endblock %}
