{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Edit Absence'|trans }}{% endblock %}


{% block page_title %}
    {{ 'Edit Absence'|trans }}
{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="card">

        <div class="card-body">
            <div class="tab-content">
                <!-- Account Tab starts -->
                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    {{ include('festive/_form.html.twig', {'button_label': 'Update'|trans}) }}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/app-assets/vendors/js/extensions/moment.min.js') }}"></script>
    <script>

        $('.select2').select2();

        flatpickr('#festive_date', {
            locale: locale,
            enableTime: false,
            dateFormat: "d-m-Y",
            defaultDate: '{{ festive.date ? festive.date|UTCDateTimeFormat('d-m-Y') }}'
        })

    </script>
{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">

        <a class="nav-link cursor-pointer" href="{{ userPermission.can('list', 'festives') ? path('festive_index') : '#' }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}