{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'List Absences'|trans }}{% endblock %}

{% block page_title %}
    {{ 'List Absences'|trans }}
{% endblock %}

{% block body %}


    <div class="container-fluid">
        <!-- list section start -->
        <div class="card">
            <div class="card-datatable overflow-inherit table-responsive card-body">
                <table class="user-list-table table">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <a href="{{ filterService.orderBy("date", filterService.getInversedOrder("date")) }}">
                                    {{ 'Date'|trans }} {% if filterService.isOrdered("date") %}<i data-feather="{{ filterService.getOrder("date").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
                                    {{ 'Name'|trans }} {% if filterService.isOrdered("name") %}<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("user", filterService.getInversedOrder("user")) }}">
                                    {{ configuration.user_nomenclature|trans }} {% if filterService.isOrdered("user") %}<i data-feather="{{ filterService.getOrder("user").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a>
                                    {{ 'Actions'|trans }}
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for festive in festives %}
                        <tr>
                            <td>{{ festive.date ? festive.date|UTCDateTimeFormat('d-m-Y') : '' }}</td>
                            <td>{{ festive.name }}</td>
                            <td>
                                {% if festive.user != null %}{{ festive.user.name }} {{ festive.user.surnames }}{% else %}{{ 'All'|trans }}{% endif %}
                            </td>
                            <td>
                                <div class="dropdown-basic ">
                                    <div class="dropdown">
                                        <button class="dropbtn bg-transparent text-dark p-0 m-0" type="button" data-bs-original-title="" title="">
                                            <i data-feather='align-justify'></i>
                                        </button>
                                        <div class="dropdown-content " style="top: 20px">
                                        {% if userPermission.can('edit', 'festives') %}
                                            <a href="{{ path('festive_edit', {'festive': festive.id}) }}"><i class="align-middle" data-feather='edit'></i><span class="align-middle">{{ 'Edit'|trans }}</span></a>
                                        {% endif %}

                                        {% if userPermission.can('delete', 'festives') %}
                                            <div class="dropdown-divider"></div>
                                            <a onclick="$('#deleteForm_festive_{{ festive.id }}').submit()"><i class="align-middle" data-feather='delete'></i><span class="align-middle">{{ 'Delete'|trans }}</span></a>
                                            <form method="post" id="deleteForm_festive_{{ festive.id }}" class="d-none deleteForm" action="{{ path('festive_delete', {'festive': festive.id}) }}" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ festive.id) }}">
                                            </form>

                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">{{ 'No results found'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mr-4 mt-2">
                    {% include 'extra/pagination.html.twig' with {
                        filterService: filterService,
                        currentPage: filterService.page,
                        paginationPath: 'festive_index',
                        lastPage: lastPage,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>
                {% include 'extra/filter_limit.html.twig' %}

            </div>
        </div>
    </div>
    <!-- list section end -->

{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">
        {% if userPermission.can('create', 'festives') %}
            <a class="nav-link" href="{{ path('festive_new') }}">
                <i class="ficon" data-feather="plus-circle"></i>
            </a>
        {% endif %}

        <a class="nav-link cursor-pointer mr-1" href="#" onclick="toggleFilter()" >
            <i data-feather="filter"></i>
        </a>
    </li>

{% endblock %}

{% block sidebar %}
    {% include 'extra/festive_filter.html.twig' %}
{% endblock %}
