
<div class="page-body-wrapper">

    <div class="row">
        <div class="col-12 p-t-10 p-l-20 row">
            {% if client %}
                <div class="col-9 ">
                    <h3><u>{{ 'Info'|trans }}</u></h3>
                    <table class="w-100">
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <td>{{ client.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Surnames'|trans }}</th>
                            <td>{{ client.surnames }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'ID'|trans }}</th>
                            <td>{{ client.dni }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Address'|trans }}</th>
                            <td>{{ client.address }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Phones'|trans }}</th>
                            <td>{{ client.phone1 }}  {{ client.phone2 }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Creation Date'|trans }}</th>
                            <td>{{ client.createdAt|UTCDateTimeFormat('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Comments'|trans }}</th>
                            <td>{{ client.comments }}</td>
                        </tr>

                    </table>
                </div>

                <div class="col-3">
                    {% if client.imgProfile != null %}
                    <img class="w-100 mt-5 rounded" src="{{  absolute_url(path('document_render', {'document' : client.imgProfile.id})) }}">
                    {% endif %}
                </div>
            {% elseif appointment %}
                <div class="col-9 ">
                    <h3><u>{{ 'Info'|trans }}</u></h3>
                    <table class="w-100">
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <td>{{ appointment.client.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Surnames'|trans }}</th>
                            <td>{{ appointment.client.surnames }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'ID'|trans }}</th>
                            <td>{{ appointment.client.dni }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Address'|trans }}</th>
                            <td>{{ appointment.client.address }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Phones'|trans }}</th>
                            <td>{{ appointment.client.phone1 }}  {{ appointment.client.phone2 }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Creation Date'|trans }}</th>
                            <td>{{ appointment.client.createdAt|UTCDateTimeFormat('d-m-Y') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Comments'|trans }}</th>
                            <td>{{ appointment.client.comments }}</td>
                        </tr>

                    </table>

                </div>

                <div class="col-3">
                    {% if appointment.client.imgProfile != null %}
                        <img class="w-100 mt-5 rounded" src="{{  absolute_url(path('document_render', {'document' : appointment.client.imgProfile.id})) }}">
                    {% endif %}
                </div>
            {% endif %}
            <div class="col-12 m-t-50 ">
{#                <hr>#}
            </div>
            <div class="col-12 p-0 m-t-50">
                {% for templateType in templateTypes %}
                    <div class="w-100 {% if not loop.first %}mt-3{% endif%} "  >
                        <h3 style="font-weight: bold;" >{{ templateType.name }}</h3>

                        <div class="p-3 w-100" >

                            {% for template in templates[templateType.id] %}
{#                                <h4 >{{ template.createdAt ? template.createdAt|UTCDateTimeFormat('d-m-Y H:i') : '' }}</h4>#}
                                {% set titulo = 1 %}
                                {% for index, templateTypeLine in templateType.templateLineTypes %}
                                    <div class="mt-1" >
                                        {% if templateTypeLine.type =='Título' %}
                                            <h2 class="mt-5 f-12" style="font-size: medium; font-weight: bold;"><b>{{ templateTypeLine.name }}</b></h2>
                                            {% if titulo == 1 %}
                                                {% set titulo = 0 %}
                                                <h2 class="mt-4 mb-4">Nombre de la Startup: {{ startup }}</h2>
                                            {% endif %}
                                        {% else %}
                                            <h4><b>- {{ templateTypeLine.name }}:</b></h4>

                                            {% include 'template/render_template_value.html.twig' with {'templateLine': template.getTemplateLineByName(templateTypeLine.name)} only %}

                                        {% endif %}


                                    </div>

                                {% endfor %}

                                {% if not loop.last %}
                                    <hr>
                                {% endif %}

                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>


</div>
<!-- footer start-->


