{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Manage Schedules'|trans }}{% endblock %}

{% block page_title %}
    {{ 'Manage Schedules'|trans }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- User Card & Plan Starts -->
    <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card user-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                            <div class="user-avatar-section">
                                <div class="d-flex justify-content-start">
                                    <div class="m-r-10">
                                        <img
                                                class="img-fluid rounded mr-1"
                                                src="{% if user.imgProfile != null %}{{ documentImage.DocumentImage(user.imgProfile) }}{% else %}{{ asset('assets/images/dashboard/profile.jpg') }}{% endif %}"
                                                height="104"
                                                width="104"
                                                alt="User avatar"
                                        />
                                    </div>
                                    <div class="d-flex flex-column ml-1">
                                        <div class="user-info mb-1">
                                            <h5 class="mb-0">{{ user.name }} {{ user.surnames }}</h5>
                                            <span class="card-text">{{ user.email }}</span>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                            {% if userPermission.can('edit', 'users') %}
                                                <div class="mr-2">
                                                    <a href="{{ path('user_edit', {'user': user.id}) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                            <div class="user-info-wrapper ">
                                <div class="d-flex flex-wrap row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="user" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Full Name'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{{ user.name }} {{ user.surnames }}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap my-50 row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="check" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Status'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">{% if user.status %}{{ 'Active'|trans }}{% else %}{{ 'Inactive'|trans }}{% endif %}</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-wrap my-50 row">
                                    <div class="user-info-title col-6">
                                        <i data-feather="star" class="mr-1"></i>
                                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'Roles'|trans }}: </span>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text mb-0">
                                            {% for role in user.roles %}
                                                {{ role }}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /User Card Ends-->
    </div>
    <!-- User Card & Plan Ends -->

    <!-- User Timeline & Permissions Starts -->
    <div class="row">
        <!-- information starts -->
        <div class="col-md-12">

            <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'Create Schedule'|trans }}</h4>
                            <button type="button" class="close btn btn-transparent" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                <form class="event-form needs-validation" id="scheduleForm" action="{{ path('schedules_new') }}" data-ajax="false" method="POST" novalidate>
                                    <input type="hidden" id="_method" name="_method" value="POST">
                                    <input type="hidden" id="token" name="_token" value="{{ csrf_token('new') }}">
                                    <input type="hidden" value="{{ user.id }}" id="user" name="user">
                                    <input type="hidden" value="" id="dates" name="dates">
                                    <input type="hidden" name="user" value="{{ user.id }}">
                                    <input type="hidden" value="" id="weekDay" name="weekDay">
                                    <div>
                                        <h5 id="day"></h5>
                                    </div>

                                    <div class="form-group position-relative justify-content-center text-center " id="datetimes">

                                    </div>

                                    <div class="form-group position-relative justify-content-center text-center">
                                        <a id="addTime"><i class="font-large-1 cursor-pointer" data-feather='plus-circle'></i></a>
                                    </div>

                                    <div class="form-group d-flex">
                                        <button type="submit" id="createSchedule" class="btn btn-primary add-event-btn mr-1">
                                            {{ 'New'|trans }}</button>
                                        <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">
                                            {{ 'Cancel'|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="copySchedulesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'Copy'|trans }} {{ 'Schedules'|trans }}</h4>
                            <button type="button" class="close btn btn-transparent" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                <form class="event-form needs-validation" id="copySchedulesForm" action="{{ path('schedules_copy') }}" data-ajax="false" method="POST" novalidate>
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="_token" value="{{ csrf_token('copy-schedule') }}">
                                    <input type="hidden" name="user" value="{{ user.id }}">
                                    <input type="hidden" id="copyWeekday" name="copy_weekday">
                                    <div class="form-group">
                                        <label for="nextWeekday">{{ 'Copy schedules to the following days'|trans }}</label>
                                        <select name="next_weekday[]" id="nextWeekday" class="form-control select2" required multiple>
                                            <option value="1" >{{ 'Monday'|trans }}</option>
                                            <option value="2" >{{ 'Tuesday'|trans }}</option>
                                            <option value="3" >{{ 'Wednesday'|trans }}</option>
                                            <option value="4" >{{ 'Thursday'|trans }}</option>
                                            <option value="5" >{{ 'Friday'|trans }}</option>
                                            <option value="6" >{{ 'Saturday'|trans }}</option>
                                            <option value="0" >{{ 'Sunday'|trans }}</option>
                                        </select>
                                    </div>

                                    <div class="form-group d-flex m-t-20">
                                        <button type="submit" id="copySchedule" class="btn btn-primary add-event-btn mr-1">{{ 'Copy'|trans }}</button>
                                        <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editScheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'Create Schedule'|trans }}</h4>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                                <form class="event-form needs-validation" id="scheduleEditForm" action="{{ path('schedules_edit') }}" data-ajax="false" method="POST" novalidate>
                                    <input type="hidden" id="_method" name="_method" value="POST">
                                    <input type="hidden" id="token" name="_token" value="{{ csrf_token('edit') }}">
                                    <input type="hidden" value="" id="scheduleIdEdit" name="schedule">
                                    <input type="hidden" name="user" value="{{ user.id }}">
                                    <div class="form-group position-relative justify-content-center text-center">
                                        <div class="col-12 mb-2 row d-flex justify-content-center">

                                            <div class="col-12 mt-1">
                                                <input name="fixed" id="fixed" type="checkbox" class="form-check-inline">{{ 'Restrict to a single fixed appointment'|trans }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex">

                                        <button type="submit" id="editSchedule" class="btn btn-primary add-event-btn mr-1">
                                            {{ 'Edit'|trans }}</button>

                                        <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">
                                            {{ 'Cancel'|trans }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="scheduleDeleteForm" action="{{ path('schedules_delete') }}" data-ajax="false" method="POST" novalidate>
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" id="token" name="_token" value="{{ csrf_token('delete') }}">
                <input type="hidden" value="" id="scheduleIdDelete" name="schedule">
            </form>

            <div class="card">
                <div class="card-header">
                    <div class="col-12">
                        <h4 class="card-title">{{ 'Schedules'|trans }}</h4>
                    </div>
                </div>
                <div class="card-body">

                    <div class="w-100 row d-flex justify-content-center" id="days">

                        {% set weekDays = {1:'Monday'|trans, 2:'Tuesday'|trans, 3:'Wednesday'|trans, 4:'Thursday'|trans, 5:'Friday'|trans, 6:'Saturday'|trans, 0:'Sunday'|trans} %}
                        {% for index, weekDay in weekDays %}
                            <div class="col-xxl-4 col-md-6 col-12" data-week-day="{{ index }}">
                                <div class="card bg-primary">
                                    <div class="card-header text-primary justify-content-center row">
                                        <div class="col-3">

                                        </div>
                                        <div class="col-6 text-center">
                                            <h5>{{ weekDay }}</h5>
                                        </div>
                                        <div class="col-3">
                                            <i class="cursor-pointer font-medium-4" onclick="copySchedules({{ index }})" data-feather="clipboard"></i>
                                        </div>
                                    </div>
                                    <div class="card-body justify-content-center">
                                        <div id="wd{{ index }}" class="text-center justify-content-center">
                                            {% for schedule in schedules %}
                                                {% if schedule.weekDay == index %}
                                                    <div class="col-12 mb-2 ml-1 row">
                                                        <div class="col-4 m-0 p-0">
                                                            <input type="text" value="{{ schedule.timeFrom ? schedule.timeFrom|UTCDateTimeFormat('H:i') }}" class="w-100 timeFrom form-control text-dark" disabled="disabled">
                                                        </div>
                                                        <div class="col-1 m-0 p-0">
                                                            -
                                                        </div>
                                                        <div class="col-4 m-0 p-0">
                                                            <input type="text" value="{{ schedule.timeTo ? schedule.timeTo|UTCDateTimeFormat('H:i') }}" class="w-100 timeTo form-control" disabled="disabled">
                                                        </div>
                                                        <div class="col-3 m-0 p-0">

                                                            {#
                                                            <span class="editSchedule" data-id="{{ schedule.id }}" data-fixed="{{ schedule.fixed ? 'yes' : 'no' }}"><i class=" cursor-pointer text-white font-medium-5"  data-feather="edit"></i></span>
                                                            #}
                                                            <span class="fixedSchadule" data-id="{{ schedule.id }}" data-fixed="{{ schedule.fixed ? 'yes' : 'no' }}"><i class="cursor-pointer {% if schedule.fixed %} text-secondary {% else %}text-white{% endif%} font-medium-5" data-feather='alert-triangle'></i></span>
                                                            <span class="removeSchedule" data-id="{{ schedule.id }}"><i class="removeSchedule cursor-pointer text-white font-medium-5" data-feather="trash-2"></i></span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            <a class="addTime"><i class="font-large-1 text-white cursor-pointer" data-feather='plus-circle'></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

    <form class="d-none" id="toggleScheduleForm" method="POST" action="{{ path('schedules_toggle') }}">
        <input type="hidden" name="_method" value="POST">
        <input type="hidden" name="_token" value="{{ csrf_token('edit') }}">
        <input type="hidden" name="schedule" id="scheduleIdToggle">
        <input type="hidden" name="route" value="{{ path('schedules_show', {'user':user.id}) }}">
    </form>

{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">

        <a class="nav-link cursor-pointer" href="{{ userPermission.can('show', 'users') ? path('user_show', {'user' : user.id }) }}"  >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}

{% block javascripts %}
    <script>
        $('.select2').select2()

        let count = 0;

        let days = ['{{ 'Sunday'|trans }}', '{{ 'Monday'|trans }}', '{{ 'Tuesday'|trans }}', '{{ 'Wednesday'|trans }}', '{{ 'Thursday'|trans }}', '{{ 'Friday'|trans }}', '{{ 'Saturday'|trans }}'];


        function copySchedules(weekDay){
            $('#copyWeekday').val(weekDay);
            $('#nextWeekday option').prop( "disabled", false );
            $('#nextWeekday option[value="'+weekDay+'"]').prop( "disabled", true );

            $('#copySchedulesModal').modal('toggle')
        }

        $('#addTime').on('click', function () {

            $('#datetimes').prepend('<div class="col-12 mb-2 custom-hour row d-flex justify-content-center"><div class="col-5 m-0 p-0"><input type="text" class="timePicker'+count+' timeFrom w-100 form-control"></div><div class="col-1 m-0 p-0"> - </div><div class="col-5 m-0 p-0"><input type="text" class="timePicker'+count+' timeTo w-100 form-control"></div><div class="col-1 m-0 p-0"><i class="removeRow cursor-pointer font-medium-5" data-feather="trash-2"></i></div></div>');
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
            flatpickr('.timePicker'+count, {
                enableTime: true,
                noCalendar: true,
                locale: locale,
                dateFormat: "H:i",
                time_24hr: true,
            });

            $('.removeRow').on('click', function () {
                $(this).parent().parent().remove();
            });

            count++;

        })

        $('.fixedSchadule').on('click', function(){
            let text = '{{ 'Do you want to add the fixed schedule restriction?'|trans }}';
            if($(this).attr('data-fixed') === 'yes'){
                text = '{{ 'Do you want to remove the fixed schedule restriction?'|trans }}';
            }
            Swal.fire({
                title: text,
                text: "{{ 'En cualquier momento podrá revertir este proceso'|trans }}.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: 'dimgrey',
                confirmButtonText: '{{ 'Confirm'|trans }}',
                cancelButtonText: '{{ 'Cancel'|trans }}'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#scheduleIdToggle').val($(this).attr('data-id'));
                    $('#toggleScheduleForm').submit();
                }
            })
        })

        $('.addTime').on('click', function () {
            $('#day').text(days[$(this).parent().attr('id').substring('wd'.length)]);
            $('#weekDay').val($(this).parent().attr('id').substring('wd'.length));
            $('#scheduleModal').modal('show');

        });

        $('.editSchedule').on('click', function () {


            $('#editScheduleModal #scheduleIdEdit').val($(this).attr('data-id'));
            if($(this).data('fixed') === 'yes'){
                $('#editScheduleModal #fixed').prop('checked', 'checked');
            }else{
                $('#editScheduleModal #fixed').prop('checked', null);
            }


            $('#editScheduleModal').modal('show');
        });

        $('.removeSchedule').on('click', function () {
            $('#scheduleIdDelete').val($(this).attr('data-id'));
            Swal.fire({
                title: '{{ 'Are You Sure?'|trans }}',
                text: "{{ 'You are about to delete this agenda'|trans }}",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '{% if configuration.primary_color is not null %}{{ configuration.primary_color }}{% else %}#3085d6{% endif %}',
                cancelButtonColor: 'dimgrey',
                confirmButtonText: '{{ 'Delete'|trans }}',
                cancelButtonText: '{{ 'Cancel'|trans }}'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#scheduleDeleteForm').submit();
                }
            })
        })

        $('#createSchedule').on('click', function (e) {
            e.preventDefault()
            let dates = [];

            $('#datetimes .custom-hour').each(function (index, element) {

                if($(element).find('.timeFrom').val() != '' && $(element).find('.timeTo').val() != ''){
                        dates.push([$(element).find('.timeFrom').val(), $(element).find('.timeTo').val()]);
                }
            })

            $('#dates').val(JSON.stringify(dates));
            $('#scheduleForm').submit();
        })

        $('.removeRow').on('click', function () {
            $(this).parent().parent().remove();
        })

        flatpickr('.timeFlat', {
            enableTime: true,
            noCalendar: true,
            locale: locale,
            dateFormat: "H:i",
            time_24hr: true,
        });


    </script>
{% endblock %}
