<form name="clientRequest" method="post">
    <div id="clientRequest" class="row">

        <div class="col-12">
            <h5>{{ 'Info'|trans }}</h5>
        </div>

        <div class="col-md-3 col-sm-6">
            <label for="client_request_name">{{ 'Name'|trans }} *</label>
            <input type="text" id="client_request_name" name="client_request[name]" required="required" maxlength="255" class="form-control mb-2" value="{{ clientRequest.name }}" autocomplete="off">
        </div>

        <div class="col-md-3 col-sm-6">
            <label for="client_request_surnames" class="required">{{ 'Surnames'|trans }} *</label>
            <input type="text" id="client_request_surnames" name="client_request[surnames]" required="required" maxlength="255" class="form-control mb-2" value="{{ clientRequest.surnames }}" autocomplete="off">
        </div>

        <div class="col-md-3 col-sm-6">
            <label for="client_request_email">{{ 'Email'|trans }} *</label>
            <input type="text" id="client_request_email" name="client_request[email]" maxlength="255" required="required" class="form-control mb-2" value="{{ clientRequest.email }}" autocomplete="off">
        </div>

        <div class="col-md-3 col-sm-6">
            <label for="country">{{ 'Phone'|trans }}</label><br>
            <input type="tel" id="country" name="client_request[phone]" class="form-control mb-2" autocomplete="off" value="{{ clientRequest.phone }}" placeholder="+00000000000" pattern="\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d| 2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]| 4[987654310]|3[9643210]|2[70]|7|1)\d{1,14}$">
        </div>


        <div class="col-12 m-t-15">
            <h5>{{ 'Available Time Slots'|trans }}</h5>
            <div class="row m-auto d-flex p-auto justify-content-center" id="time-slots-div">
                {% set weekDays = {1:'Monday', 2:'Tuesday', 3:'Wednesday', 4:'Thursday', 5:'Friday', 6:'Saturday', 0:'Sunday'} %}
                {% for timeSlot in clientRequest.getAvailableTimeSlots %}
                    <div class="col-12 row m-b-15 p-t-10 p-b-10 border border-top-primary" id="time-slot-{{ loop.index }}">
                        <div class="col-md-5 row">

                            <div class="col-12 text-center m-t-10">
                                <b>{{ 'From'|trans }}</b>
                                <hr>
                            </div>

                            <div class="form-group col-xl-6 col-12">
                                <label for="">{{ 'Weekday'|trans }}</label>
                                <select class="form-control select2" name="client_request[availableTimeSlots][{{ loop.index }}][from][weekDay]"  autocomplete="off">
                                    {% for number, weekDay in weekDays %}
                                        <option value="{{ number }}" {% if timeSlot['from']['weekDay'] == number %}selected="selected"{% endif %}>{{ weekDay|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-xl-6 col-12">
                                <label for="">{{ 'Hour'|trans }}</label>
                                <input type="text" name="client_request[availableTimeSlots][{{ loop.index }}][from][time]" value="{{ timeSlot['from']['time'] }}" class="form-control flatpickr"   autocomplete="off">
                            </div>

                        </div>

                        <div class="col-md-5 row">

                            <div class="col-12 text-center m-t-10">
                                <b>{{ 'To'|trans }}</b>
                                <hr>
                            </div>

                            <div class="form-group col-xl-6 col-12">
                                <label for="">{{ 'Weekday'|trans }}</label>
                                <select class="form-control select2" name="client_request[availableTimeSlots][{{ loop.index }}][to][weekDay]"  autocomplete="off">
                                    {% for number, weekDay in weekDays %}
                                        <option value="{{ number }}" {% if timeSlot['to']['weekDay'] == number %}selected="selected"{% endif %}>{{ weekDay|trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-xl-6 col-12">
                                <label for="">{{ 'Hour'|trans }}</label>
                                <input type="text" name="client_request[availableTimeSlots][{{ loop.index }}][to][time]" value="{{ timeSlot['to']['time'] }}" class="form-control flatpickr"  autocomplete="off">
                            </div>

                        </div>

                        <div class="col-md-2" >
                            <button type="button" class="btn btn-outline-danger" onclick="document.getElementById('time-slot-{{ loop.index }}').remove()">{{ 'Delete'|trans }}</button>
                        </div>


                    </div>
                {% endfor %}
            </div>
            <div class="w-100 text-center">
                <button class="btn btn-secondary" type="button" onclick="addTimeSlot()">{{ 'Add time slot'|trans }}</button>
            </div>

        </div>

        <div class="col-12">
            <label for="client_request_comments">{{ 'Comments'|trans }}</label>
            <textarea id="client_request_comments" name="client_request[comments]" class="form-control mb-2" autocomplete="off">{{ clientRequest.comments }}</textarea>
        </div>

        <input type="hidden" id="timezone" name="client_request[timezone]" value="" autocomplete="off">
        <input type="hidden" id="timezone" name="client_request[locale]" value="{{ _locale }}" autocomplete="off">
        {{ form_row(form._token) }}

    </div>

    <div class="row d-flex justify-content-end mt-2">
        <div class="mr-2 text-end">
            <button class="btn btn-primary text-white waves-effect waves-float waves-light ">{{ button_label }}</button>
        </div>
    </div>

</form>

{% block javascripts %}
    <script src="{{ asset('assets/js/select2/select2.full.min.js') }}"></script>
    <script src="{{ asset('assets/js/select2/intltelinput.min.js') }}"></script>
<script type="application/javascript">

    let timeSlotsCounter = {{ clientRequest.availableTimeSlots|length +1 }};

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('timezone').value = getCookie('timezone') ? getCookie('timezone') : Intl.DateTimeFormat().resolvedOptions().timeZone;
    });

    function addTimeSlot(){

        let html = `
            <div class="col-12 row m-b-15 p-t-10 p-b-10 border border-top-primary" id="time-slot-${timeSlotsCounter}">

                <div class="col-5 row">

                    <div class="col-12 text-center m-t-10">
                        <b>{{ 'From'|trans }}</b>
                        <hr>
                    </div>

                    <div class="form-group col-xl-6 col-12">
                        <label for="client_request_email">{{ 'Weekday'|trans }}</label>
                        <select class="form-control select2" name="client_request[availableTimeSlots][${timeSlotsCounter}][from][weekDay]">
                            {% for number, weekDay in weekDays %}
                                <option value="{{ number }}" >{{ weekDay|trans }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-xl-6 col-12">
                        <label for="client_request_email">{{ 'Hour'|trans }}</label>
                        <input type="text" name="client_request[availableTimeSlots][${timeSlotsCounter}][from][time]" class="form-control flatpickr" autocomplete="off">
                    </div>

                </div>

                <div class="col-5 row">

                    <div class="col-12 text-center m-t-10">
                        <b>{{ 'To'|trans }}</b>
                        <hr>
                    </div>

                    <div class="form-group col-xl-6 col-12">
                        <label for="client_request_email">{{ 'Weekday'|trans }}</label>
                        <select class="form-control select2" name="client_request[availableTimeSlots][${timeSlotsCounter}][to][weekDay]">
                            {% for number, weekDay in weekDays %}
                                <option value="{{ number }}" >{{ weekDay|trans }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-xl-6 col-12">
                        <label for="client_request_email">{{ 'Hour'|trans }}</label>
                        <input type="text" name="client_request[availableTimeSlots][${timeSlotsCounter}][to][time]"  class="form-control flatpickr"  autocomplete="off">
                    </div>

                </div>

                <div class="col-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-outline-danger" onclick="document.getElementById('time-slot-${timeSlotsCounter}').remove()">{{ 'Delete'|trans }}</button>
                </div>

            </div>
        `;

        $('#time-slots-div').append(html);

        $(`#time-slot-${timeSlotsCounter} .select2`).select2();

        $(`#time-slot-${timeSlotsCounter} .flatpickr`).flatpickr({
            locale: locale,
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
        });



        timeSlotsCounter++;

    }

</script>
{% endblock %}