{% extends 'base-empty.html.twig' %}

{% block title %}{{ 'Create Request'|trans }}{% endblock %}


{% block body %}
    <div class="col-12 p-2" style="background-color: #D9D3CB; color: #475333">

        <div class="row p-t-0">
            <div class="language-nav col-12 d-flex justify-content-between mb-4">
                <div></div>
                <div class="text-center"><a href="https://fluxuawp.studio128k.com"><img src="{{ asset('assets/images/logo/logo_fluxua.png') }}" width="20%" alt=""></a></div>
                <div class="translate_wrapper">
                    <div class="current_lang">
                        <div class="lang"><i class="flag-icon flag-icon-{{ _locale }}"></i><span class="lang-txt">{{ _locale }}</span></div>
                    </div>
                    <div class="more_lang" style="z-index: 999 !important;">
                        <div class="lang {% if _locale == 'es' %}selected{% endif %}" onclick="window.location = '{{ path('app_change_locale', {'locale':'es'}) }}'"><i class="flag-icon flag-icon-es"></i><span class="lang-txt">Español <span>(ES)</span></span></div>
                        <div class="lang {% if _locale == 'en' %}selected{% endif %}" onclick="window.location = '{{ path('app_change_locale', {'locale':'en'}) }}'"><i class="flag-icon flag-icon-en"></i><span class="lang-txt">English <span>(EN)</span></span></div>
                    </div>
                </div>
            </div>
            <div class="col-12">
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    {{ include('client_request/step1.html.twig', {'button_label': 'Create'|trans}) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
