<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'Crear Cuestionario'|trans }} Startups</h5>
    <button type="button" class="close bg-transparent" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form action="{{ path('document_save_survey') }}" method="POST" enctype="multipart/form-data" id="createStartupSurveyForm" class="w-100 row mt-2">
        <input type="hidden" name="type" value="startup"/>

        <input type="hidden" value="{{ uri }}" name="uri">
        <input type="hidden" value="{{ startupName }}" id="startup_name" name="startup_name">
        <input type="hidden" value="{{ startupCEO }}" id="startup_CEO" name="startup_CEO">
        <input type="hidden" value="{{ position }}" name="position">

        <div class="col-12 mb-3">
            <span class="form-control-label font-weight-bolder" style="font-weight: 900; font-size: 2em">Encuesta Startup</span>
        </div>

        <div class="col-12 mb-3 mt-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">¿Está el proyecto constituido como empresa?</label>
                        <input type="hidden" name="document_lines[0][title]" value="¿Está el proyecto constituido como empresa?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines0_select" name="document_lines[0][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2" id="document_lines0_text" >
                        <input type="text" name="document_lines[0][text]" class="form-control" placeholder="CIF" style="width: 75%">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">¿El MVP está validado con clientes?</label>
                        <input type="hidden" name="document_lines[1][title]" value="¿El MVP está validado con clientes?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines1_select" name="document_lines[1][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2" id="document_lines1_text" style="display: none">
                        <input type="text" name="document_lines[1][text]" class="form-control datepicker" placeholder="Fecha prevista para lanzar el MVP a validación con clientes" style="width: 75%">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">¿Está el proyecto en fase de comercialización?</label>
                        <input type="hidden" name="document_lines[2][title]" value="¿Está el proyecto en fase de comercialización?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines2_select" name="document_lines[2][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2" id="document_lines2_text" style="display: none">
                        <input type="text" name="document_lines[2][text]" class="datepicker form-control" placeholder="Fecha prevista para salida a mercado" style="width: 75%">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">¿Se ha ampliado el equipo desde la entrada en la iniciativa?</label>
                        <input type="hidden" name="document_lines[3][title]" value="¿Se ha ampliado el equipo desde la entrada en la iniciativa?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines3_select" name="document_lines[3][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2 " id="document_lines3_text">
                        <div class="row align-items-center">
                            <div class="col-2 mr-2">
                                <label>Founder: </label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="document_lines[3][founder]" class="form-control" style="width: 25%">
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <div class="col-2 mr-2">
                                <label>Empleado: </label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="document_lines[3][employee]" class="form-control" style="width: 25%" min="0">
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <div class="col-2 mr-2">
                                <label>Becario: </label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="document_lines[3][intern]" class="form-control" style="width: 25%" min="0">
                            </div>
                        </div>
                        <div class="row align-items-center mt-1">
                            <div class="col-6 mr-2">
                                <label>¿Cuantas de estas incorporaciones son mujeres?</label>
                            </div>
                            <div class="col-6">
                                <input type="number" name="document_lines[3][women]" class="form-control" style="width: 40%" min="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">¿Está el proyecto facturando actualmente?</label>
                        <input type="hidden" name="document_lines[4][title]" value="¿Está el proyecto facturando actualmente?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines4_select" name="document_lines[4][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2 row align-items-center" id="document_lines4_text" >
                        <div class="col-4">
                            <label>Nivel de ingresos anuales (AMR)</label>
                        </div>
                        <div class="col-8">
                            <select type="text" name="document_lines[4][text]" class="select2 form-control custom-select" style="width: 75%">
                                <option value="< 20.000 €">< 20.000 €</option>
                                <option value="20.000 <> 50.000 €">20.000 <> 50.000 €</option>
                                <option value="50.000 <> 100.000 €">50.000 <> 100.000 €</option>
                                <option value="100.000 <> 500.000 €">100.000 <> 500.000 €</option>
                                <option value="> 500.000 €">> 500.000 €</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-9">
                        <label class="form-control-label" style="font-weight: 500">Desde tu entrada en la iniciativa, ¿Has recibido financiación?</label>
                        <input type="hidden" name="document_lines[5][title]" value="Desde tu entrada en la iniciativa, ¿Has recibido financiación?">
                    </div>
                    <div class="col-3">
                        <select class="select2 form-control custom-select" id="document_lines5_select" name="document_lines[5][select]">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="col-12 mt-2" id="document_lines5_text1" >
                        <div class="row align-items-center col-12">
                            <div class="col-2">
                                <label>Tipo: </label>
                            </div>
                            <div class="col-10">
                                <input type="text" name="document_lines[5][financing]" class="form-control" placeholder="Tipo de financiación" style="width: 75%">
                            </div>
                        </div>
                        <div class="row align-items-center col-12 mt-1">
                            <div class="col-2">
                                <label>Cuantía: </label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="document_lines[5][quantity]" class="form-control" placeholder="Cantidad (€)" style="width: 75%" min="0">
                            </div>
                        </div>
                    </div>
                    <div class="mt-2" id="document_lines5_text2" style="display: none">
                        <div class="row">
                            <div class="col-9">
                                <label class="form-control-label">¿Tienes pensado buscar inversión en los próximos 2 meses?</label>
                                <input type="hidden" id="document_lines5_subtitle" name="document_lines[5][subtitle]" value="¿Tienes pensado buscar inversión en los próximos 2 meses?">
                            </div>
                            <div class="col-3">
                                <select class="select2 form-control custom-select" id="document_lines5_select_subtitle" name="document_lines[5][select_subtitle]">

                                </select>
                            </div>
                        </div>

                        <div class="col-12" id="document_lines5_text2_subtext">
                            <div class="row align-items-center col-12 mt-1">
                                <div class="col-2">
                                    <label>Tipo: </label>
                                </div>
                                <div class="col-10">
                                    <input type="text" name="document_lines[5][financing_subtitle]" class="form-control" placeholder="Tipo de financiación buscada" style="width: 75%">
                                </div>
                            </div>
                            <div class="row align-items-center col-12 mt-1">
                                <div class="col-2">
                                    <label>Cuantía: </label>
                                </div>
                                <div class="col-10">
                                    <input type="number" name="document_lines[5][quantity_subtitle]" class="form-control" placeholder="Cantidad aproximada (€)" style="width: 75%" min="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label class="form-control-label" style="font-weight: 500">Descríbenos brevemente si se ha producido algún hecho relevante que quieras destacar durante tu estancia en la iniciativa</label>
                        <input type="hidden" name="document_lines[6][title]" value="Descríbenos brevemente si se ha producido algún hecho relevante que quieras destacar durante tu estancia en la iniciativa">
                    </div>
                    <div class="col-12 mt-2" id="document_lines6_text" >
                        <textarea class="form-control" name="document_lines[6][text]"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
    <button type="button" class="btn btn-primary" onclick="document.getElementById('createStartupSurveyForm').submit()">
        {{ 'Create'|trans }}</button>
</div>

<script>


    $(document).ready(function() {

        flatpickr(".datepicker", {
            dateFormat: "d/m/Y",
            locale: "es",
        });

        $('#document_lines0_select').on('change', function () {

            if ($(this).val() == 1) {
                $('#document_lines0_text').show();
            } else {
                $('#document_lines0_text').hide();
            }
        });

        $('#document_lines1_select').on('change', function () {

            if ($(this).val() == 0) {
                $('#document_lines1_text').show();
            } else {
                $('#document_lines1_text').hide();
            }
        });

        $('#document_lines2_select').on('change', function () {

            if ($(this).val() == 0) {
                $('#document_lines2_text').show();
            } else {
                $('#document_lines2_text').hide();
            }
        });

        $('#document_lines3_select').on('change', function () {

            if ($(this).val() == 1) {
                $('#document_lines3_text').show();
            } else {
                $('#document_lines3_text').hide();
            }
        });

        $('#document_lines4_select').on('change', function () {

            if ($(this).val() == 1) {
                $('#document_lines4_text').show();
            } else {
                $('#document_lines4_text').hide();
            }
        });

        $('#document_lines5_select').on('change', function () {

            if ($(this).val() == 1) {
                $('#document_lines5_text1').show();
                $('#document_lines5_text2').hide();
                $('#document_lines5_select_subtitle').empty();
            } else {
                $('#document_lines5_text1').hide();
                $('#document_lines5_text2').show();
                $('#document_lines5_select_subtitle').append("<option value='1'>Sí</option>");
                $('#document_lines5_select_subtitle').append("<option value='0'>No</option>");
            }
        });

        $('#document_lines5_select_subtitle').on('change', function () {

            if ($(this).val() == 1) {
                $('#document_lines5_text2_subtext').show();
            } else {
                $('#document_lines5_text2_subtext').hide();
            }
        });

    });

</script>