{% extends 'base-admin.html.twig' %}

{% block title %}{{ 'Editar Rango de Fechas de Cuestionarios'|trans }}{% endblock %}

{% block page_title %}
    {{ 'Editar Rango de Fechas de Cuestionarios'|trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <!-- Account Tab starts -->
                    <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                        <form name="surveyRange" method="post">
                            <div id="surveyRange" class="row">
                                <div class="col-6 p-t-15">
                                    <label for="week_day">{{ 'Start Date'|trans }} *</label>
                                    <input type="text"
                                           id="startDate"
                                           name="survey_range[startDate]"
                                           required="required"
                                           class="form-control flatpickr"
                                           autocomplete="off"
                                           value="{{ surveyRange.startDate | UTCDateTimeFormat('d-m-Y') }}">
                                    {% include 'extra/form_type_error.html.twig' with {'element': form.startDate } only %}
                                </div>
                                <div class="col-6 p-t-15">
                                    <label for="week_day">{{ 'End Date'|trans }} *</label>
                                    <input type="text"
                                           id="endDate"
                                           name="survey_range[endDate]"
                                           required="required"
                                           class="form-control flatpickr"
                                           autocomplete="off"
                                           value="{{ surveyRange.endDate | UTCDateTimeFormat('d-m-Y') }}">
                                    {% include 'extra/form_type_error.html.twig' with {'element': form.endDate } only %}
                                </div>
                                <div class="col-12 p-t-15">
                                    <label for="week_day">{{ 'End Date'|trans }} *</label>
                                    <select id="status"
                                           name="survey_range[status]"
                                           required="required"
                                           class="form-control select2"
                                           autocomplete="off">
                                        <option value="1" {% if surveyRange.status %}selected{% endif %}>Activo</option>
                                        <option value="0" {% if not surveyRange.status %}selected{% endif %}>Inactivo</option>
                                    </select>
                                    {% include 'extra/form_type_error.html.twig' with {'element': form.status } only %}
                                </div>

                                {{ form_row(form._token) }}
                            </div>
                            <div class="row d-flex justify-content-end mt-4">
                                <div class="mr-2 text-end">
                                    <button class="btn btn-primary text-white waves-effect waves-float waves-light">Editar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(function () {

            $('.select2').select2();

        });

        $(document).ready(function () {
            reinstanceCalendar();
        });

        async function reinstanceCalendar()
        {

            await flatpickr('.flatpickr',{
                locale: locale,
                firstDayOfWeek : 1,
            });

        }
    </script>
{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">

        <a class="nav-link cursor-pointer"
           href="{{ userPermission.can('list', 'services') ? path('survey_range_index') : '#' }}">
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
    </li>
{% endblock %}