{% extends 'base-admin.html.twig' %}

{% block title %}
    Rango de Fechas para Cuestionarios
{% endblock %}



{% block body %}

    <!-- users list start -->
    <div class="container-fluid">
        <!-- list section start -->
        <div class="card">
            <div class="card-datatable overflow-inherit table-responsive card-body">
                <div class="overflow-auto">
                    <table class="user-list-table table table-list">
                        <thead class="thead-light">
                        <tr>
                            <th>
                                <a href="{{ filterService.orderBy("startDate", filterService.getInversedOrder("startDate")) }}">
                                    {{ 'Start Date'|trans }} {% if filterService.isOrdered("startDate") %}<i data-feather="{{ filterService.getOrder("startDate").order == 'asc' ? 'chevron-up' : 'chevron-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a href="{{ filterService.orderBy("endDate", filterService.getInversedOrder("endDate")) }}">
                                    {{ 'End Date'|trans }} {% if filterService.isOrdered("endDate") %}<i data-feather="{{ filterService.getOrder("endDate").order == 'asc' ? 'chevron-up' : 'chevron-down' }}"></i>{% endif %}
                                </a>
                            </th>
                            <th>
                                <a>
                                    {{ 'Status'|trans }}
                                </a>
                            </th>
                            <th>
                                <a>
                                    {{ 'Actions'|trans }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for surveyRange in surveyRanges %}
                            <tr>
                                <td>
                                    {% if surveyRange.startDate|UTCDateTimeFormat('d-m-Y') != '01-01-0001' %}
                                        <i data-feather="calendar" class="me-2" style="width: 15px"></i>
                                        {{ surveyRange.startDate ? surveyRange.startDate|UTCDateTimeFormat('d-m-Y') : '' }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if surveyRange.endDate is not null %}
                                        <i data-feather="calendar" class="me-2" style="width: 15px"></i>
                                        {{ surveyRange.endDate ? surveyRange.endDate|UTCDateTimeFormat('d-m-Y') : '' }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if surveyRange.status %}
                                        <span class="badge text-capitalize badge-success"> {{ 'Activo'|trans }} </span>
                                    {% else %}
                                        <span class="badge text-capitalize badge-danger"> {{ 'Inactivo'|trans }} </span>
                                    {% endif %}
                                </td>
                                <td class="text-nowrap">
                                    <div class="d-inline-flex gap-1">
                                        {% if userPermission.can('edit', 'users') %}
                                            <a href="{{ path('survey_range_edit', {'surveyRange': surveyRange.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="align-middle" data-feather='edit'></i><span class="align-middle"></span></a>
                                        {% endif %}
                                        {% if userPermission.can('delete', 'users') %}
                                            <div class="dropdown-divider"></div>
                                            <a href="#" onclick="$('#deleteForm_survey_{{ surveyRange.id }}').submit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="align-middle" data-feather='trash-2'></i><span class="align-middle"></span></a>
                                            <form method="post" id="deleteForm_survey_{{ surveyRange.id }}" class="deleteForm d-none" action="{{ path('survey_range_delete', {'surveyRange': surveyRange.id}) }}" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ surveyRange.id) }}">
                                            </form>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">{{ 'No results found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                {% include 'extra/filter_limit.html.twig' %}
                <div class="d-flex justify-content-end mr-4 mt-2">
                    {% include 'extra/pagination.html.twig' with {
                        filterService: filterService,
                        currentPage: filterService.page,
                        paginationPath: 'survey_index',
                        lastPage: lastPage,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>

            </div>

        </div>
        <!-- list section end -->
    </div>

{% endblock %}

{% block action_buttons %}

    <li class="level-menu outside d-flex align-items-center">
        {% if userPermission.can('create', 'users') %}
            <a class="nav-link" style="background-color: #003A4A" href="{{ path('survey_range_create') }}" >
                <i data-feather="plus-circle"></i>
            </a>
        {% endif %}

        <a class="nav-link cursor-pointer mr-1" style="background-color: #003A4A" href="#" onclick="toggleFilter()" >
            <i data-feather="filter"></i>
        </a>
        <div class="d-none d-md-block"><h5 class="p-0 ms-3 mb-0">Rango de fechas para cuestionarios</h5></div>
    </li>

{% endblock %}

{% block javascripts %}

<script>

    $(function() {

        $('.select2').select2();

    });

    $(document).ready(function () {
        reinstanceCalendar();

        $('#filter').on('click', function () {
            $('#filter_form').attr('action', '{{ path('survey_range_index') }}');
        });
    });

    async function reinstanceCalendar()
    {

        await flatpickr('.flatpickr',{
            locale: locale,
            firstDayOfWeek : 1,
        });

    }
</script>
{% endblock %}

{% block sidebar %}
    {% include 'extra/filters/survey_range_filter.html.twig' with {rol_filter: '', center_filter: '', status_filter: ''} %}
{% endblock %}