<table class="table  w-100">
    <tr>
        <th class="w-50 align-middle " style="height:80px">
            <h2 >{{ 'Invoice'|trans }}: {{ invoice.invoiceNumber }}</h2>
            <h3>{{ 'Invoice Date'|trans }}: {{ invoice.invoiceDate|UTCDateTimeFormat('d-m-Y') }}</h3>
        </th >
        <th class="w-50 text-end" style="width: 50% !important;">
            <img height="60" src="{{ pdf_absolute_url }}{{ configuration.logo_big ? path('document_render', {'document':  configuration.logo_big}) : asset('assets/images/logo/logo.png') }}">
        </th>
    </tr>
</table>

{##}