
<style>

    *{
        font-size: 16px;
        line-height: 24px;
        color: #555 !important;
    }

    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .bold-custom{
        font-weight: bold;
    }

    .invoice-box #infoTable {
        width: 100% !important;
        line-height: inherit;
        text-align: left;
        margin-bottom: 30px !important;
    }

    .invoice-box #infoTable td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box #infoTable tr td:nth-child(3) {
        text-align: right;
    }

    .invoice-box #infoTable tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box #infoTable tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box #infoTable tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box #infoTable tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box #infoTable tr.details td {
        padding-bottom: 20px;
    }

    .breakdown th{
        text-align: center !important;
    }

    .total>td{
        padding-top: 100px !important;
    }

    .breakdown td{
        font-weight: normal !important;
        text-align: center !important;
        border-top: 1px solid grey !important;
    }

    .invoice-box #infoTable tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box #infoTable tr.item.last td {
        border-bottom: none;
    }

    .invoice-box #infoTable tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
        text-align: right;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box #infoTable tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box #infoTable tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

</style>

<div class="invoice-box ">
    <table id="infoTable" >
        <tr class="information">
            <td >


                {{ invoice.socialReason }}<br />
                {{ invoice.billingAddress }}<br />
                {{ invoice.cif }}



            </td>
            <td></td>
            <td >
                {{ invoice.name }}<br />
                {{ invoice.address }}<br />
                {{ invoice.phone }}<br />
                {{ invoice.dni }}
            </td>
        </tr>

        <tr class="heading">
            <td>{{ 'Payment Method'|trans }}</td>
            <td></td>
            <td>{{ 'Paid'|trans }}</td>
        </tr>

        <tr class="details">
            <td>{{ invoice.paymentMethod|trans }}</td>
            <td></td>
            <td>{{ 'Yes'|trans }}</td>
        </tr>

        <tr class="heading">
            <td>{{ 'Service'|trans }}</td>

            <td>{{ 'VAT'|trans }}</td>

            <td>{{ 'Price With VAT'|trans }}</td>

        </tr>

        {% for service in invoice.breakdown %}
            <tr class="item">
                <td>{{ service['service'] }}</td>

                <td>{{ service['iva']|number_format(2) }}%</td>

                <td>{{ service['priceWithoutIva']|number_format(2) }}€</td>
            </tr>
        {% endfor %}



    </table>

    <hr >
    <table class="w-100 table " >
        <thead>
        <tr>
            <th class="text-center">
                {{ 'VAT'|trans }}
            </th>
            <th class="text-center">
                {{ 'Taxable income'|trans }}
            </th>
            <th class="text-center">
                {{ 'Percentage'|trans }}
            </th>
            <th class="text-center">
                {{ 'Cost'|trans }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for taxType, service in invoice.ivaBreakdown %}
            <tr>
                <td class="text-center">
                    {{ taxType }}
                </td>
                <td class="text-center">
                    {{ service['base']|number_format(2) }}€
                </td>
                <td class="text-center">
                    {{ service['percent']|number_format(2) }}%
                </td>
                <td class="text-center">
                    {{ service['total']|number_format(2) }}€
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <div class="text-end  fs-3 m-b-20" style="color: #232323 !important">
        <span >
            <span class="bold-custom">{{ 'Net'|trans }}</span>: {{ invoice.amount|number_format(2) }}€
             <br>
             <span class="bold-custom">{{ 'VAT'|trans }}</span>: {{ (invoice.amountWithIva - invoice.amount )|number_format(2) }}€
        </span>
        <br>
        <span class="bold-custom">{{ 'Total With VAT'|trans }}</span>: {{ invoice.amountWithIva|number_format(2) }}€
    </div>
</div>