{% extends 'base-admin.html.twig' %}

{% block title %}
    Listado de Usuarios
{% endblock %}



{% block body %}

    <!-- users list start -->
    <div class="container-fluid">
        <!-- list section start -->
        <div class="card">
            <div class="card-datatable overflow-inherit table-responsive card-body">
                <div class="overflow-auto">
                    <table class="user-list-table table table-list">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <a href="">
                                        Imagen
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ filterService.orderBy("name", filterService.getInversedOrder("name")) }}">
                                        {{ 'Name'|trans }} {% if filterService.isOrdered("name") %}<i data-feather="{{ filterService.getOrder("name").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                    </a>
                                </th>
                                <th>
                                    <a href="">
                                        Datos de Contacto
                                    </a>
                                </th>
{#                                <th>#}
{#                                    <a href="{{ filterService.orderBy("phone", filterService.getInversedOrder("phone")) }}">#}
{#                                        {{ 'Phone'|trans }} {% if filterService.isOrdered("phone") %}<i data-feather="{{ filterService.getOrder("phone").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}#}
{#                                    </a>#}
{#                                </th>#}
                                <th>
                                    <a href="{{ filterService.orderBy("roles", filterService.getInversedOrder("roles")) }}">
                                        {{ 'Roles'|trans }} {% if filterService.isOrdered("roles") %}<i data-feather="{{ filterService.getOrder("roles").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                    </a>
                                </th>
                                <th>
                                    <a href="{{ filterService.orderBy("status", filterService.getInversedOrder("status")) }}">
                                        Estado {% if filterService.isOrdered("status") %}<i data-feather="{{ filterService.getOrder("status").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                    </a>
                                </th>
    {#                            <th>#}
    {#                                <a href="{{ filterService.orderBy("roles", filterService.getInversedOrder("roles")) }}">#}
    {#                                    Centro {% if filterService.isOrdered("roles") %}<i data-feather="{{ filterService.getOrder("roles").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}#}
    {#                                </a>#}
    {#                            </th>#}
                                <th>
                                    <a>
                                     {{ 'Actions'|trans }}
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="align-self-center mr-1">
                                            <img data-bs-toggle="tooltip" data-html="true" data-placement="bottom" title='{{ user.name }}' class="avatar-img imgProfile" alt="{{ user.name }}" style="object-fit: contain;"
                                                 src="{% if user.imgProfile != null %}{{ documentImage.DocumentImage(user.imgProfile) }}
                                         {% else %}{{ asset('assets/images/no-image.png') }}{% endif %}" >
                                        </div>
                                    </div>
                                </td>
                                <td><a href="{{ path('user_show', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" class="cursor-pointer">{{ user.name }} {{ user.surnames }}</a></td>
                                <td>
                                    <div class="d-flex align-items-center mb-2"><i data-feather="mail" class="me-2" style="width: 15px"></i>{{ user.email }}</div>
                                    <div class="d-flex align-items-center"><i data-feather="phone" class="me-2" style="width: 15px"></i>{{ user.phone }}</div>
                                </td>
                                <td>
                                    {% for role in user.roles %}
                                        {{ role|trans }}{% if loop.index != user.roles|length %},{% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if user.status %}<span class="badge text-capitalize badge-light-success badge-pill"> Activo </span>{% else %}<span  class="badge text-capitalize badge-light-secondary badge-pill"> Inactivo </span>{% endif %}
                                </td>
                                {#                            <td>#}
    {#                                {% for center in user.center %}#}
    {#                                    {{ center.name }}#}
    {#                                {% endfor %}#}
    {#                            </td>#}

                                <td class="text-nowrap">
                                    <div class="d-inline-flex gap-1">
                                        {% if userPermission.can('show', 'users') %}
                                            <a href="{{ path('user_show', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mostrar"><i class="align-middle" data-feather='eye'></i> <span class="ms-1 align-middle"></span></a>
                                        {% endif %}
                                        {% if userPermission.can('edit', 'users') %}
                                            <a href="{{ path('user_edit', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="align-middle" data-feather='edit'></i><span class="align-middle"></span></a>
                                            <a href="{{ path('user_change_status', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cambiar estado"><i class="align-middle" data-feather='power'></i><span class="align-middle"></span></a>
                                        {% endif %}
                                        {% if userPermission.can('delete', 'users') %}
                                            <div class="dropdown-divider"></div>
                                            <a href="#" onclick="$('#deleteForm_user_{{ user.id }}').submit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="align-middle" data-feather='trash-2'></i><span class="align-middle"></span></a>
                                            <form method="post" id="deleteForm_user_{{ user.id }}" class="deleteForm d-none" action="{{ path('user_delete', {'user': user.id}) }}" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                            </form>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="d-none">
                                    <div class="dropdown-basic">
                                        <div class="dropdown">
                                            <button class="dropbtn bg-transparent text-dark p-0 m-0"
                                                    type="button"
                                                    data-bs-original-title="" title="">
                                                <i data-feather='align-justify'></i>
                                            </button>
                                            <div class="dropdown-content " style="top: 20px">
                                                {% if userPermission.can('show', 'users') %}
                                                    <a href="{{ path('user_show', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mostrar"><i class="align-middle" data-feather='eye'></i> <span class="ms-1 align-middle"></span></a>
                                                {% endif %}
                                                {% if userPermission.can('edit', 'users') %}
                                                    <a href="{{ path('user_edit', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="align-middle" data-feather='edit'></i><span class="align-middle"></span></a>
                                                    <a href="{{ path('user_change_status', {'user': user.id}) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cambiar estado">sdfg<i class="align-middle" data-feather='eye'></i><span class="align-middle"></span></a>
                                                {% endif %}
                                                {% if userPermission.can('delete', 'users') %}
                                                    <div class="dropdown-divider"></div>
                                                    <a href="#" onclick="$('#deleteForm_user_{{ user.id }}').submit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="align-middle" data-feather='trash-2'></i><span class="align-middle"></span></a>
                                                    <form method="post" id="deleteForm_user_{{ user.id }}" class="deleteForm d-none" action="{{ path('user_delete', {'user': user.id}) }}" >
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </td>


                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">{{ 'No results found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                {% include 'extra/filter_limit.html.twig' %}
                <div class="d-flex justify-content-end mr-4 mt-2">
                    {% include 'extra/pagination.html.twig' with {
                        filterService: filterService,
                        currentPage: filterService.page,
                        paginationPath: 'user_index',
                        lastPage: lastPage,
                        showAlwaysFirstAndLast: true
                    } only %}
                </div>

            </div>

        </div>
        <!-- list section end -->
    </div>

{% endblock %}

{% block action_buttons %}

    <li class="level-menu outside d-flex align-items-center">
        {% if userPermission.can('create', 'users') %}
            <a class="nav-link" style="background-color: #003A4A" href="{{ path('user_new') }}" >
                <i data-feather="plus-circle"></i>
            </a>
        {% endif %}

        <a class="nav-link cursor-pointer mr-1" style="background-color: #003A4A" href="#" onclick="toggleFilter()" >
            <i data-feather="filter"></i>
        </a>
            <div class="d-none d-md-block"><h5 class="p-0 ms-3 mb-0">Lista de usuarios</h5></div>
            <div class="d-block d-md-none"><h5 class="mb-0 ms-3">Usuarios</h5></div>
    </li>

{% endblock %}

{% block javascripts %}
{% endblock %}

{% block sidebar %}
    {% include 'extra/filters/user_filter.html.twig' with {rol_filter: '', center_filter: '', status_filter: ''}%}
{% endblock %}