{% extends 'base-admin.html.twig' %}

{% block title %}Mostrar Usuarios{% endblock %}

{% block page_title %}
    {{ ('Show ' ~ configuration.user_nomenclature)|trans }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- User Card & Plan Starts -->
        {% if userPermission.can('manage_services', 'users') %}
            <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ 'Add Services'|trans }}</h4>
                            <button type="button" class="close btn bg-transparent" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body flex-grow-1 pb-sm-0 pb-3">

                                <form class="event-form needs-validation" id="historyForm" action="{{ path('user_add_service') }}" data-ajax="false" method="POST" novalidate>
                                    <input type="hidden" id="_method" name="_method" value="POST">
                                    <input type="hidden" id="token" name="_token" value="{{ csrf_token('edit') }}">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <div class="form-group position-relative">
                                        <label for="time_from" class="form-label">{{ 'Services'|trans }}</label>
                                        <select name="service_id[]" class="select2" multiple>
                                            {% for service in services %}
                                                {% if service not in user.services %}
                                                    <option value="{{ service.id }}">{{ service.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group d-flex mt-2">
                                        <button type="submit" class="btn btn-primary add-event-btn mr-1">{{ 'Add'|trans }}</button>
                                        <button type="button" class="btn btn-outline-secondary btn-cancel" data-bs-dismiss="modal">
                                            {{ 'Cancel'|trans }}</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


        <div class="row">
            <!-- User Card starts-->
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card user-card">
                    <div class="card-body">
                        <div class="row">
                            <h2 class="row gap-2 align-items-center m-0">Información Principal</h2>
                            <hr>
                            <div class="col-md-12">
                                <div class="row gy-4">
                                    <div class="col-md-1">
                                        <img  class="rounded-pill" data-bs-toggle="tooltip"
                                             data-html="true"
                                             data-placement="bottom"
                                             title=''
                                             src="{% if user.imgProfile != null %}{{ documentImage.DocumentImage(user.imgProfile) }}{% else %}{{ asset('assets/images/dashboard/profile.jpg') }}{% endif %}" style="width: 90px !important;"  alt="">
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">Nombre</label>
                                        <p class="card-text mb-0">{{ user.name }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">Apellidos</label>
                                        <p class="card-text">{{ user.surnames }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-label fw-bold">Teléfono</label>
                                        <p class="card-text ">{{ user.phone }}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label fw-bold">Correo Electrónico</label>
                                        <p class="card-text ">{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-3">
                            {% if not user.isDirector or user.isProject%}
                            <div class="col-md-4 mb-3 {% if user.isProject %} d-none {% endif %}">
                                <label class="form-label fw-bold">Áreas de Mentorización</label>
                                {% for areas in user.areas %}
                                <li class="card-text">{{ areas }}</li>
                                {% endfor %}

                            </div>
                            {% endif %}
                            {% if user.center is not null %}
                            <div class="col-md-2 mb-3">
                                <label class="form-label fw-bold">Centro Asociado</label>

                                <p class="card-text ">{{ user.center.name }}</p>

                            </div>
                            {% endif %}
                            {% if not user.isDirector or user.isProject%}
                            <div class="col-md-2 mb-3 {% if user.isProject %} d-none {% endif %}">
                                <label class="form-label fw-bold">Modalidad</label>
                                <p class="card-text ">{{ user.modality }}</p>
                            </div>
                            {% endif %}

                            <div class="col-md-2 mb-3">
                                <label class="form-label fw-bold">Rol</label>
                                {% for rol in user.roles %}
                                <p class="card-text ">{{ rol }}</p>
                                {% endfor %}
                            </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!-- /User Card Ends-->
        <!-- User Card & Plan Ends -->

        <!-- User Timeline & Permissions Starts -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
            <!-- information starts -->
            <ul class="nav nav-pills ps-2 pb-2 " role="tablist">
                <li class="nav-item d-flex">
                    <a class="nav-link d-flex align-items-center active" id="appointment-tab" data-bs-toggle="tab"
                       href="#appointment" aria-controls="appointment" role="tab" aria-selected="false">
                        <i data-feather="check-square"></i><span class="">Mentorías</span>
                    </a>
                    {% if not user.isProject %}<a class="nav-link d-flex align-items-center " id="document-tab" data-bs-toggle="tab"
                       href="#document" aria-controls="document" role="tab" aria-selected="false">
                        <i data-feather="file"></i><span class="">Documentación</span>
                    </a>
                    {% endif %}
                    <a class="nav-link d-flex align-items-center " id="time-slots-tab" data-bs-toggle="tab"
                       href="#time-slots" aria-controls="time-slots" role="tab" aria-selected="false">
                        <i data-feather="watch"></i><span class="">Horario</span>
                    </a>
                </li>

            </ul>
            <div class="tab-content">
            <div class="tab-pane row" id="time-slots" aria-labelledby="time-slots-tab" role="tabpanel">
                <div class="col-xl-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="card-title">{{ 'Schedules'|trans }}</h4>
                            </div>
                            {% if userPermission.can('manage_schedules', 'users') %}
                            <div class="col-6 d-flex justify-content-end">
                                <a>
                                    <button class="btn add-new btn-primary" type="button" id="addAppointment" onclick="$('#createSchedulesForm').submit();">
                                        <span class="text-white">{{ 'Manage Schedules'|trans }}</span>
                                    </button>
                                </a>
                                <form action="{{ path('schedules_show', {'user': user.id}) }}" id="createSchedulesForm" method="post">
                                    <input type="hidden" name="_method" value="POST">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card-body scrolled-div">
                        <div class="table-responsive" id="scheduleTableDiv">
                            <table class="table table-striped table-borderless" >
                                <thead class="thead-light">
                                <tr>
                                    <th>{{ 'Weekday'|trans }}</th>
                                    <th>{{ 'Schedule'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set daysOfWeek = ['Sunday'|trans, 'Monday'|trans, 'Tuesday'|trans, 'Wednesday'|trans, 'Thursday'|trans, 'Friday'|trans, 'Saturday'|trans] %}
                                {% for schedule in schedules %}
                                    <tr>
                                        <td>
                                            <span>
                                                {{ daysOfWeek[schedule.weekDay] }}
                                            </span>
                                            <span class="ml-1 badge badge-{{ schedule.fixed ? 'danger' : 'primary' }} font-small-2">{{ schedule.fixed ? 'Fixed'|trans : 'Flexible'|trans }}</span>

                                        </td>
                                        <td>{{ schedule.timeFrom ? schedule.timeFrom|UTCDateTimeFormat('H:i') : '' }} - {{ schedule.timeTo ? schedule.timeTo|UTCDateTimeFormat('H:i') : '' }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">{{ 'No results found'|trans }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            {% if userPermission.can('list', 'appointments') %}

                <!-- User Invoice Starts-->
                <div class="tab-pane active row" id="appointment" aria-labelledby="appointment-tab" role="tabpanel">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-datatable overflow-inherit table-responsive card-body">
                                <table class="invoice-list-table table ">
                                    <thead>
                                    <tr>
                                        <th>
                                            Proyecto
                                        </th>
                                        <th>
                                            Tipos de Mentorías
                                        </th>
                                        <th>
                                            <a href="{{ filterService.orderBy("date", filterService.getInversedOrder("date")) }}">
                                                {{ 'Date'|trans }} {% if filterService.isOrdered("date") %}<i data-feather="{{ filterService.getOrder("date").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                            </a>
                                        </th>
                                        <th class="text-truncate">
                                            <a href="{{ filterService.orderBy("time_from", filterService.getInversedOrder("time_from")) }}">
                                                {{ 'Schedule'|trans }} {% if filterService.isOrdered("time_from") %}<i data-feather="{{ filterService.getOrder("time_from").order == 'asc' ? 'arrow-up' : 'arrow-down' }}"></i>{% endif %}
                                            </a>
                                        </th>


{#                                        <th>#}
{#                                            <a>#}
{#                                                {{ 'Actions'|trans }}#}
{#                                            </a>#}
{#                                        </th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for appointment in appointments['data'] %}
                                        <tr data-id="{{ appointment.id }}">
                                            <td>
                                                <div class="media">
                                                    <div class="media-body">
                                            <span class="font-weight-bold d-block text-nowrap" target="_self">
                                                {{ appointment.client.name }}
                                            </span>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                {{ appointment.timeFrom ? appointment.timeFrom|UTCDateTimeFormat('d-m-Y') : '' }}
                                            </td>
                                            <td>{{ appointment.timeFrom ? appointment.timeFrom|UTCDateTimeFormat('H:i') : '' }} - {{ appointment.timeTo ? appointment.timeTo|UTCDateTimeFormat('H:i') : '' }}</td>
                                            <td>
                                                {% for service in appointment.services %}
                                                    <span class="badge badge-light-secondary">{{ service.name }} {{ service.division ? '-' ~ service.division.name : '' }}</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="9">{{ 'No results found'|trans }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include 'extra/filter_limit.html.twig' %}

                                <div class="d-flex justify-content-end mr-4 mt-2">
                                    {% include 'extra/pagination.html.twig' with {
                                        filterService: filterService,
                                        currentPage: filterService.page,
                                        paginationPath: 'user_index',
                                        lastPage: lastPage,
                                        showAlwaysFirstAndLast: true
                                    } only %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /User Invoice Ends-->
            {% endif %}
                <div class="tab-pane row" id="document" aria-labelledby="document-tab" role="tabpanel">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-datatable overflow-inherit table-responsive card-body">
                                <h2 class="mt-4">Documentación</h2><hr>
                                {% if user.isProject %}
                                    <div class="col-12 d-md-flex flex-md-row mb-4">
                                        <div class="col-6">
                                            <h6 class="my-1">Compromiso de Confidencialidad: </h6>
                                            {% if true %}
                                                <div class="text-start">
                                                    {% if user.documentConfidencial  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentConfidencial.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentConfidencial is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentConfidencial">
                                                            <i class="align-items-center me-2" data-feather='upload'></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-6">
                                            <h6 class="my-1">Contrato de Adhesión: </h6>
                                            {% if user %}
                                                <div class="text-start">
                                                    {% if user.documentAdhesion  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentAdhesion.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentAdhesion is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentAdhesion">
                                                            <i class="align-items-center me-2" data-feather='upload' ></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>

                                    </div>
                                {% elseif user.isMentor %}
                                    <div class="col-12 d-md-flex flex-md-row mb-4">
                                        <div class="col-3">
                                            <h6 class="my-1">Compromiso de Confidencialidad: </h6>
                                            {% if true %}
                                                <div class="text-start">
                                                    {% if user.documentConfidencial  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentConfidencial.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentConfidencial is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentConfidencial">
                                                            <i class="align-items-center me-2" data-feather='upload'></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-3">
                                            <h6 class="my-1">Código Deontológico: </h6>
                                            {% if user %}
                                                <div class="text-start">
                                                    {% if user.documentDeontological  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentDeontological.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentDeontological is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentDeontological">
                                                            <i class="align-items-center me-2" data-feather='upload' ></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-3">
                                            <h6 class="my-1">Derechos de Imagen: </h6>
                                            {% if user %}
                                                <div class="text-start">
                                                    {% if user.documentImage  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentImage.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentImage is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentImage">
                                                            <i class="align-items-center me-2" data-feather='upload' ></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-3">
                                            <h6 class="my-1">Anexo I: </h6>
                                            {% if user %}
                                                <div class="text-start">
                                                    {% if user.documentAnexo  %}
                                                        <a class="btn btn-primary mt-1" href="{{ path('document_download', {'documentId': user.documentAnexo.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                            <span class="align-items-center">Descargar</span>
                                                        </a>
                                                    {% endif %}
                                                    {% if user.documentAnexo is null or app.user.isAdmin %}
                                                        <a class="btn btn-primary mt-1 uploaddocument" data-value="setDocumentAnexo">
                                                            <i class="align-items-center me-2" data-feather='upload' ></i>
                                                            Subir
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>

                                    </div>

                                {% endif %}


                                <div class="col-12 overflow-auto mb-4">
                                    <div class="text-end">
                                        {% if userPermission.can('edit', 'clients') %}
                                            <a class="btn btn-primary w-auto uploaddocument" data-value="addDocument" style="height: fit-content;">
                                                <i class="align-items-center me-2" data-feather='plus' ></i>
                                                Nuevo Documento
                                            </a>
                                            <a class="btn btn-primary" id="export-button" href="#" style="height: fit-content;">
                                                <i class="align-items-center me-2" data-feather="download"></i>
                                                Exportar resultados cuestionarios
                                            </a>
                                        {% endif %}
                                    </div>
                                    <table class="invoice-list-table table  overflow-auto ">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Fecha Creación</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if user is defined and user.documents|length >= 1 %}
                                            {% for document in user.documents|slice(((filterService.limit*filterService.page)-filterService.limit), filterService.limit) %}
                                                <tr>
                                                    <td>{{ document.originalName }}</td>

                                                    <td>{{ document.createdAt|UTCDateTimeFormat('d-m-Y - H:i') }}</td>

                                                    <td>
                                                        <a href="{{ path('document_download', {'documentId': document.id}) }}" data-value="report" data-value2="Report">
                                                            <i class="align-items-center" data-feather='download'></i>
                                                        </a>
                                                        <a href="#" onclick="$('#deleteForm_document_{{ document.id }}').submit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ 'Delete'|trans }}">
                                                            <i class="align-middle" data-feather='trash-2'></i>
                                                        </a>
                                                        <form method="post" id="deleteForm_document_{{ document.id }}"
                                                              action="{{ path('document_delete', {'document': document.id}) }}"
                                                              class="d-none deleteForm" >
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
                                                        </form>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="9">{{ 'No results found'|trans }}</td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    {% include 'extra/filter_limit.html.twig' %}

                                    <div class="d-flex justify-content-end mr-4 mt-2 w-100">
                                        {% include 'extra/pagination.html.twig' with {
                                            filterService: filterService,
                                            currentPage: filterService.page,
                                            paginationPath: 'user_index',
                                            lastPage: user.documents|length / filterService.limit,
                                            showAlwaysFirstAndLast: true
                                        } only %}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="documentModalLabel">Subir documento</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="documentsForm" action="{{ path('user_document', {'user': user.id}) }}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="uploadDocument" id="upload-document-type" value="">

                                    <label class="col-2 label-control mt-auto mb-auto text-center font-weight-bolder">Subir archivo *</label>
                                    <div class="col-10">
                                        <input name="document" required id="documents_document" class="form-control" type="file">
                                        <span class="text-danger d-none" id="documents_document_error">Introduce el archivo</span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm()">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exportModalLabel">Exportar resultados cuestionarios</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="exportForm" action="{{ path('documents_export_mentor', {'mentorId': user.id}) }}" method="post">
                                    <div class="form-group row col-12">
                                        <label class="col-3 label-control mt-auto mb-auto text-center font-weight-bolder">Elige rango de fechas</label>
                                        <div class="col-9">
                                            <select class="select2 form-control" name="surveyRange">
                                                <option value="Todos" {% if selectedSurveyRange is empty %}selected{% endif %}>Todos</option>
                                                {% for surveyRange in surveyRanges %}
                                                    <option value="{{ surveyRange.id }}" {% if selectedSurveyRange is not empty and selectedSurveyRange.id == surveyRange.id %}selected{% endif %}>
                                                        Desde {{ surveyRange.startDate|date('d-m-Y') }} hasta {{ surveyRange.endDate|date('d-m-Y') }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="exportButton">Exportar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- information Ends -->

            <!-- User Permissions Starts -->
            <!--<div class="col-xl-4 col-md-6">

                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col-6">
                                <h4 class="card-title">{{ 'Services'|trans }}</h4>
                            </div>
                            {% if userPermission.can('manage_services', 'users') %}
                            <div class="col-6 d-flex justify-content-end">
                            <a><button class="btn add-new btn-primary" type="button" id="addAppointment" data-bs-toggle="modal" data-bs-target="#serviceModal"><span class="text-white">{{ 'Add Service'|trans }}</span></button></a>
                        </div>
                        {% endif %}
                        </div>

                    </div>
                    <div class="card-body scrolled-div">
                        <div class="table-responsive">
                            <table class="table table-striped table-borderless">
                                <thead class="thead-light">
                                <tr>
                                    <th>{{ 'Service'|trans }}</th>
                                    {% if userPermission.can('manage_services', 'users') %}
                                        <th>{{ 'Actions'|trans }}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for service in user.getServicesArray %}
                                    <tr>
                                        <td>{{ service.name }}</td>
                                        {% if userPermission.can('manage_services', 'users') %}
                                            <td>
                                                <div class="col flex-row-reverse">
                                                    <a class="btn btn-outline-grey" onclick="$('#remove_service_{{ service.id }}').submit()"><i data-feather='delete'></i> Eliminar</a>
                                                    <form action="{{ path('user_remove_service') }}" id="remove_service_{{ service.id }}" method="post">
                                                        <input type="hidden" name="_method" value="POST">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('edit') }}">
                                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                                        <input type="hidden" name="service_id" value="{{ service.id }}">
                                                    </form>
                                                </div>
                                            </td>
                                        {% endif %}
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td colspan="{% if userPermission.can('manage_services', 'users') %}2{% else %}1{% endif %}">{{ 'No results found'|trans }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->

            <!--<div class="col-xl-4 col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ 'Permissions'|trans }}</h4>
                    </div>
                    <div class="card-body row scrolled-div">
                        {% include 'extra/permissions.html.twig' with {'disabled':'true', 'col': 'col-xl-12 col-md-4 col-xs-12'} %}
                    </div>
                </div>

            </div>-->
            <!-- User Permissions Ends -->
        </div>
        <!-- User Timeline & Permissions Ends -->

    </div>


{% endblock %}

{% block action_buttons %}
    <li class="level-menu outside">
        <a class="nav-link cursor-pointer" href="#" onclick="window.history.back()" >
            <i class="ficon" data-feather="chevron-left"></i>
        </a>
        <a class="nav-link cursor-pointer" href="{{ userPermission.can('edit', 'users') ? path('user_edit', {'user': user.id}) : '#' }}"  >
            <i class="ficon" data-feather="edit"></i>
        </a>
    </li>
{#    <div class="d-none d-md-block"><h3 class="d-inline-block ms-3">{{ user.name }} {{ user.surnames }}</h3></div>#}
{% endblock %}


{% block stylesheets %}
    <style>
        .scrolled-div{
            max-height: 500px;
            overflow-y: scroll;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>

        $('#filter').on('click', function () {
            $('#filter_form').attr('action', '{{ path('appointment_list') }}');
        })


        $(function() {
            $('.select2').select2();
            $('.select2-selection__arrow').remove();

        });
    </script>
    <script>
        $('.uploaddocumentadhesion').on('click', function (e) {
            document.getElementById('upload-document-type').value=$(this).data('value');
            $('#documentModal').modal('show');
        });
        $('.uploaddocumentconfidencial').on('click', function (e) {
            document.getElementById('upload-document-type').value=$(this).data('value');
            $('#documentModal').modal('show');
        });
        $('.uploaddocument').on('click', function (e) {
            document.getElementById('upload-document-type').value=$(this).data('value');
            $('#documentModal').modal('show');
        });

        $('#export-button').on('click', function () {
            $('#exportModal').modal('show');
        });

        $('#exportButton').on('click', function () {
            $('#exportForm').submit();
            $('#exportModal').modal('hide');
        });

        function submitForm() {
            const documentFileInput = document.getElementById("documents_document");

            if (!documentFileInput.value.trim()) {
                document.getElementById("documents_document_error").classList.remove("d-none");
            }

            if (documentFileInput.value.trim()) {
                document.getElementById('documentsForm').submit();
            }
            document.getElementById('upload-document-type').value=null;


        }
    </script>
{% endblock %}
